openapi: 3.2.0
info:
  title: api Sales API
  version: '1.0'
servers:
- url: https://sandboxsalesapi.connexpay.com
security:
- sec0: []
tags:
- name: Sales
paths:
  /api/v1/sales/UpdateFutureSale:
    post:
      summary: Update Delayed Sale
      description: Updates the sale amount or activation date on a delayed activation sale.
      operationId: update-delayed-sale
      parameters:
      - name: Content-Type
        in: header
        description: '"application/json"'
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'Token. Eg: "Bearer eHSN5rTBzqDozgAAlN1UlTMVuIT1zSiAZWCo6E..."'
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - DeviceGuid
              - SaleGuid
              - Amount
              properties:
                DeviceGuid:
                  type: string
                  description: Device's Guid provided by ConnexPay.
                SaleGuid:
                  type: string
                  description: Sales's Guid that was provided by ConnexPay upon initial creation of the delayed activation sale.
                Amount:
                  type: number
                  description: 'Amount of the transaction that will be processed. Note: this value is submitted multiple times (in different formats) within the integration to support different purposes i.e. risk analysis, merchant processing, etc.  The minimun amount is: $0.50.'
                  format: float
                ActivationDate:
                  type: string
                  description: Set a future date on which to run this sale, at least one day from creation date and within 600 days.
                  format: date
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Update Delayed Sale Response Example:
                  value: "{\n       \"guid\":\"965a67b0-cd0e-4020-973b-5e0d1b4bd6e2\",\n       \"status\":\"Transaction - Approved\",\n       \"type\":\"Default\",\n       \"batchStatus\":\"Batch - Open\",\n       \"timeStamp\":\"2019-11-20T05:37:13.22-05:00\",\n       \"deviceGuid\":\"f758a448-7780-4b50-93a1-28329e37f94f\",\n       \"amount\":280.0,\n       \"activationDate\":\"2020-10-12T00:00:00\",\n       \"activated\":false,       \n       \"tenderType\":\"Credit\",\n       \"effectiveAmount\":280.0,\n       \"orderNumber\":\"159874\",\n       \"cardDataSource\":\"INTERNET\",\n       \"customerID\":\"xt147\",\n       \"batchGuid\":\"c71d0ee6-b595-4792-b1ee-1156d28be132\",\n       \"riskProcessingOnly\":false,\n       \"processorStatusCode\":\"A0000\",\n       \"processorResponseMessage\":\"Success\",\n       \"wasProcessed\":true,\n       \"generatedBy\":\"tcformal1\",\n       \"card\":{\n          \"first4\":\"4716\",\n          \"last4\":\"0473\",\n          \"cardNumber\":\"CARD NOT TOKENIZED\",\n          \"cardHolderName\":\"John Doe\",\n          \"cardType\":\"Visa\",\n          \"expirationDate\":\"2019-12\",\n       },\n       \"sequenceNumber\":\"849741\",\n       \"addressVerificationResult\":\"No match. Acquirer sent postal/ZIP code only, or street address only, or both postal/ZIP and street address.\",\n       \"cvvVerificationCode\":\"M\",\n       \"cvvVerificationResult\":\"CVV2 Match. Indicates that the Funds Transfer API or the issuer was able to verify the CVV2 value provided by the merchant.\"\n       \"incomingTransactionCode\":\"09ASECYE48S9KHBQL00028000\"\n    }"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Sales
  /api/v1/sales/Activate/{SaleGuid}:
    put:
      summary: Activate Delayed Sale
      description: 'Activate a delayed activation sale independent of the activation date for which the sale was created.


        A client can "Activate" a delayed activation sale this way at any time before ConnexPay will automatically activate it during the early hours of the supplied future date.'
      operationId: activate-delayed-sale
      parameters:
      - name: SaleGuid
        in: path
        description: The sale guid returned upon initial creation of the delayed activation sale.
        schema:
          type: string
        required: true
      - name: Content-Type
        in: header
        description: '"application/json"'
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'Token. Eg: "Bearer eHSN5rTBzqDozgAAlN1UlTMVuIT1zSiAZWCo6E..."'
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Sales
  /api/v1/sales/group:
    post:
      summary: Create Group
      description: This endpoint creates a Sale Group. This is the first step to create group sales. To add any Sale to this newly created group, the response GroupGuid needs to be used with the Sale request.
      operationId: create-group-sale
      parameters:
      - name: Content-Type
        in: header
        description: '"application/json"'
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'Token. Eg: "Bearer eHSN5rTBzqDozgAAlN1UlTMVuIT1zSiAZWCo6E..."'
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - DeviceGuid
              - GroupId
              properties:
                DeviceGuid:
                  type: string
                  description: Device's Guid provided by ConnexPay.
                GroupId:
                  type: string
                  description: Group ID you choose to associate with the group
                ExpectedNumberOfCards:
                  type: integer
                  description: Number of virtual credit cards you expect to issue
                  format: int32
                GroupName:
                  type: string
                  description: Optional group name you can assign to the group.
            examples:
              Create Group Sale Request Example:
                value:
                  DeviceGuid: 0b7a9536-9fcd-4074-a841-d47eef77b81b
                  GroupId: Test-Sale-Group-1
                  ExpectedNumberOfCards: 3
                  GroupName: Test Sale Group
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Create Group Sale Response Example:
                  value: "{\n    \"deviceGuid\": \"0b7a9536-9fcd-4074-a841-d47eef77b81b\",\n    \"guid\": \"727374dd-f4dc-43ab-b49f-bc5deb1c4bcd\",\n    \"groupId\": \"Test-Sale-Group-1\",\n    \"status\": \"Open\",\n    \"balance\": 0.00,\n    \"groupName\": \"Test Sale Group\",\n    \"incomingTransactionCode\": \"03MRDILHU3LV0EOQQ00000GRP\"\n}"
              schema:
                type: object
                properties:
                  deviceGuid:
                    type: string
                    example: 0b7a9536-9fcd-4074-a841-d47eef77b81b
                  guid:
                    type: string
                    example: 727374dd-f4dc-43ab-b49f-bc5deb1c4bcd
                  groupId:
                    type: string
                    example: Test-Sale-Group-1
                  status:
                    type: string
                    example: Open
                  balance:
                    type: integer
                    example: 0
                    default: 0
                  groupName:
                    type: string
                    example: Test Sale Group
                  incomingTransactionCode:
                    type: string
                    example: 03MRDILHU3LV0EOQQ00000GRP
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Sales
  /api/v1/sales/group/{GroupGuid}:
    put:
      summary: Update Group
      description: This endpoint allows to update an existing sale group by setting the group status as Closed or changing the GroupName.
      operationId: update-group-sale
      parameters:
      - name: GroupGuid
        in: path
        description: Sale Group Guid (required)
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - DeviceGuid
              properties:
                DeviceGuid:
                  type: string
                  description: Device Guid provided by ConnexPay
                Status:
                  type: string
                  description: Group status to update to. Only closing a sale group is allowed now, e.g. 1301 or "GroupClosed".
                GroupName:
                  type: string
                  description: GroupName to update to. Allowed only alphanumeric characters between 1-100.
            examples:
              Update Group Sale Request Example:
                value:
                  DeviceGuid: 0b7a9536-9fcd-4074-a841-d47eef77b81b
                  Status: 1301
                  GroupName: Test Sale Group
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Update Group Sale Response Example:
                  value: "{\n    \"deviceGuid\": \"f758a448-7780-4b50-93a1-28329e37f94f\",\n    \"guid\": \"48b9520c-803e-467e-bb95-38925d6f4766\",\n    \"groupId\": \"saiful-group-1\",\n    \"status\": \"Closed\",\n    \"idStatus\": 1301,\n    \"balance\": 200.00,\n    \"groupName\": \"Test Sale Group\",\n    \"incomingTransactionCode\": \"03MRDILHU3LV0EOQQ00000GRP\"\n}"
              schema:
                type: object
                properties:
                  deviceGuid:
                    type: string
                    example: f758a448-7780-4b50-93a1-28329e37f94f
                  guid:
                    type: string
                    example: 48b9520c-803e-467e-bb95-38925d6f4766
                  groupId:
                    type: string
                    example: saiful-group-1
                  status:
                    type: string
                    example: Closed
                  idStatus:
                    type: integer
                    example: 1301
                    default: 0
                  balance:
                    type: integer
                    example: 200
                    default: 0
                  groupName:
                    type: string
                    example: Test Sale Group
                  incomingTransactionCode:
                    type: string
                    example: 03MRDILHU3LV0EOQQ00000GRP
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Sales
  /api/v1/sales/group/{guid}:
    get:
      summary: Get Group
      description: This endpoint returns group sale info, including Status and Group Balance
      operationId: get-group-sale
      parameters:
      - name: Authorization
        in: header
        description: 'Token. Eg: "Bearer eHSN5rTBzqDozgAAlN1UlTMVuIT1zSiAZWCo6E..."'
        schema:
          type: string
      - name: guid
        in: path
        description: Group’s guid to get.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Get Group Sale Response Example:
                  value: "{\n    \"deviceGuid\": \"f758a448-7780-4b50-93a1-28329e37f94f\",\n    \"guid\": \"9c018683-05f9-47d3-b4c1-4d1ccae4a91e\",\n    \"groupId\": \"saiful-group-8\",\n    \"expectedNumberOfCards\": 1,\n    \"status\": \"Closed\",\n    \"idStatus\": 1301,\n    \"balance\": 100.00,\n    \"groupName\": \"SG-8\",\n    \"incomingTransactionCode\": \"01QR5AZA7D454PQCD00000GRP\"\n}"
              schema:
                type: object
                properties:
                  deviceGuid:
                    type: string
                    example: f758a448-7780-4b50-93a1-28329e37f94f
                  guid:
                    type: string
                    example: 9c018683-05f9-47d3-b4c1-4d1ccae4a91e
                  groupId:
                    type: string
                    example: saiful-group-8
                  expectedNumberOfCards:
                    type: integer
                    example: 1
                    default: 0
                  status:
                    type: string
                    example: Closed
                  idStatus:
                    type: integer
                    example: 1301
                    default: 0
                  balance:
                    type: integer
                    example: 100
                    default: 0
                  groupName:
                    type: string
                    example: SG-8
                  incomingTransactionCode:
                    type: string
                    example: 01QR5AZA7D454PQCD00000GRP
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Sales
  /api/v1/sales:
    post:
      summary: Create Sale
      description: The Create Sale Endpoint is used by acquiring clients. The Sale transaction is used to create a sale for your consumer. You can create a credit sale or an ACH sale (ACH sales apply to US Clients only). A credit sale will charge a consumer's credit card. The consumer's credit card will be authorized immediately when the Sales request is received and will automatically settle/batch that same night. In other words, this one Sale request is just like running an AuthOnly and a Capture in one request.You can postpone charging the consumer's credit card by providing a date in the 'ActivationDate' of your request. Doing so will delay the authorization and charge to the consumer's credit card until that future date.An ACH sale will create an ACH transaction that will debit the consumer's bank account. ACH sales received prior to 3:00 PM EST will process overnight. ACH Sales received after 3:00 PM EST will process the following night.
      operationId: getting-started-with-your-api
      parameters:
      - name: Content-Type
        in: header
        description: Content-Type Header
        schema:
          type: string
          default: '"application/json"'
      - name: Authorization
        in: header
        description: 'Token. Eg: "Bearer eHSN5rTBzqDozgAAlN1UlTMVuIT1zSiAZWCo6E..."'
        schema:
          type: string
          default: Bearer Token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - DeviceGuid
              - Amount
              - ConnexPayTransaction
              - RiskData
              properties:
                DeviceGuid:
                  type: string
                  description: Device's Guid provided by ConnexPay
                  default: '{{Device}}'
                Amount:
                  type: number
                  description: 'Amount of the transaction that will be processed. Note: this value is submitted multiple times (in different formats) within the integration to support different purposes i.e. risk analysis, merchant processing, etc.  The minimum amount is: $0.50.'
                  default: null
                  format: float
                TenderType:
                  type: string
                  description: 'Allowed values:  "credit" (default if TenderType not provided) and "ach"'
                  default: credit
                SequenceNumber:
                  type: string
                  description: 'Transaction sequence number within client environment. Provide a unique SequenceNumber for each new request. If a sale request with the same parameter data and the same sequence number is sent within 30 minutes it will be considered a duplicate request and the sale will not process. Note: value is not searchable or reportable in Bridge.  The maximum length is 100 alpha-numeric characters.'
                  default: '{{SequenceNumber}}'
                OrderNumber:
                  type: string
                  description: 'A value that is commonly used for reporting on and reconciling your PayIns and PayOuts.  The Order Number is searchable in the ConnexPay Bridge and referenced in Analytics and reporting, and can be any identifier within your environment to associate with the sale or payment, such as a Record Locator, PNR, or transaction ID.  The maximum length is 50 alpha-numeric characters and allows the following special characters: period, underscore, backslash, dash, and space [._ /- ].'
                  default: '{{OrderNumber}}'
                SendReceipt:
                  type: boolean
                  description: Value determines whether or not a customer shall be emailed a receipt from the ConnexPay platform if the email address is provided in the API customer block. The default value is TRUE. Set to FALSE so that an email receipt is not sent to the customer. Set to TRUE or leave empty if you want e-mail to be sent. If TRUE, customer's email must be included in the "Card.Customer.email" parameter.
                RiskProcessingOnly:
                  type: boolean
                  description: 'Indicator that determines if client would like to evaluate the transactions as risk only rather than process as merchant of record and create a virtual card. The allowed values:  1. Set to TRUE will only run risk validations. If TenderType is not set to Credit, setting TRUE will throw a validation error.  2. Set to FALSE will run risk validations and an authorization on the card. For this option a Processing Merchant account is required, contact ConnexPay support if any questions.  3. Set to NULL and your Merchant Level settings would apply.'
                StatementDescription:
                  type: string
                  description: 'US, CA, and EU clients only: The statement description allows you to customize the merchant name that appears on the cardholder''s statement for the transaction. We recommend including your DBA name along with identifying details such as a travel PNR (e.g., "ABC Travel ABC123") to help cardholders recognize the charge. Maximum length is 25 alpha-numeric characters for US clients; for CA clients, 18 alpha-numeric characters is the maximum and ConnexPay will automatically prefix the result with "CXP*"; for EU clients, 22 alpha-numeric characters is the maximum however up to 13 numeric characters may be added for phone number after the DBA name if an asterisk is used in-between the values. No spaces are allowed and the only allowed special characters are: period, dash, and asterisk [.-*]. This functionality is not available for American Express programs.'
                  default: '{{StatementDescription}}'
                CustomerID:
                  type: string
                  description: 'Transaction ID within client environment associated with the customer. This value acts as a secondary identifier in conjunction with OrderNumber. The value is searchable and reportable in the ConnexPay portal. This value may be sent in multiple times within the integration for multiple purposes.  The maximum length is 100 alpha-numeric characters and the following special characters: period, underscore, backslash, dash, and space [._ /- ].'
                ActivationDate:
                  type: string
                  description: Set a future date on which to run this sale, at least one day from creation date and within 600 days. If this parameter is supplied a record for this sale is created, supplied consumer card information is internally tokenized, but fraud check and authorization do not occur until ConnexPay processes it on the supplied ActivationDate. Alternatively, a client can force activation via the Activate API (see below). If this date is not supplied a sale is authorized and the consumer's credit card is charged immediately.
                  format: date
                RequestIp:
                  type: string
                  description: Mandatory if TenderType is ACH. Customer's IP Address is a required parameter for all ACH Sales transactions to adhere to NACHA regulations.
                ConnexPayTransaction:
                  type: object
                  description: ConnexPay Transaction
                  required:
                  - ExpectedPayments
                  properties:
                    ExpectedPayments:
                      type: integer
                      description: This is the number of outbound payments that will be made to suppliers. If paying a single supplier the value is 1, if paying two suppliers the value is 2, etc. If no outbound payments will be made, set to 0.
                      format: int32
                RiskData:
                  type: object
                  description: Mandatory if TenderType is Credit or not set. This will be ignored if TenderType is Cash or ACH
                  properties:
                    SessionId:
                      type: string
                      description: If you are using Equifax's Device Data Collector, this would be the SessionId from that particular session. Do not include this property if not using Equifax's Device Data Collector.
                    Name:
                      type: string
                      description: 'This is the name of the individual making the purchase i.e. cardholder who may or may not also be the customer. This value is submitted in multiple integration points for different purposes. This value/object is specific to fraud mitigation. Note: for airline ticket purchases this value may or may not be the same as the passenger. Max = 64 characters.'
                    Gender:
                      type: string
                      description: Cardholder gender. "M" or "F".
                    DateOfBirth:
                      type: string
                      description: Cardholder date of birth
                    BillingPhoneNumber:
                      type: string
                      description: Phone number associated with cardholder making purchase. This could be used for risk analysis, decisioning, and rule creation. Max = 15 characters. Numbers and plus sign (+) allowed.
                    BillingAddress1:
                      type: string
                      description: Cardholder billing address 1. This could be used for risk analysis, decisioning, and rule creation.
                    BillingAddress2:
                      type: string
                      description: Cardholder billing address 2. This could be used for risk analysis, decisioning, and rule creation.
                    BillingCity:
                      type: string
                      description: Cardholder billing city. This could be used for risk analysis, decisioning, and rule creation.
                    BillingState:
                      type: string
                      description: Cardholder billing state. This could be used for risk analysis, decisioning, and rule creation.
                    BillingPostalCode:
                      type: string
                      description: Cardholder billing postal code. This could be used for risk analysis, decisioning, and rule creation. Max = 15 characters. Alphanumerics and "-" allowed.
                    BillingCountryCode:
                      type: string
                      description: Cardholder billing country code. This could be used for risk analysis, decisioning, and rule creation. Max = 2 characters.
                    Email:
                      type: string
                      description: Cardholder's valid email address. This could be used for risk analysis, decisioning, and rule creation.
                    ProductType:
                      type: string
                      description: Generalized description of the item added passed as plain text. This could be flight, tour, hotel, etc. (This is part of shopping cart information in Kount 360). Each transaction submitted for risk analysis and decisioning must be submitted with one shopping cart item.
                    ProductDescription:
                      type: string
                      description: Attribute for a specific description of the item being purchased i.e. airline ticket. This information is general shopping cart information that describes the type of item being purchased. ConnexPay suggests clients submitted a high level description such as Flight, Hotel, Car Rental, etc... and leverage custom parameters to submit more detailed information that can be used for rule creation and transaction decisioning.
                    ProductItem:
                      type: string
                      description: Typically the SKU for an item passed as plain text. This information is general shopping cart information to provide secondary detail to the ProductDesc above. ConnexPay suggests clients submit a high level description such as One Way, Round Trip, Seven Nights, etc...and several customer parameters to submit more detailed information that can be used for rule creation and transaction decisioning.  Field is required by Equifax therefore some value must be submitted. Alphanumeric.
                    ProductQuantity:
                      type: integer
                      description: Quantity of the item being purchased in the shopping cart. This is just a general quantity field.
                      format: int32
                    ProductPrice:
                      type: integer
                      description: 'Price per unit item, displayed in lowest currency factor - expressed in cents. Example: 42400 (which is $424.00).'
                      format: int32
                    OrderNumber:
                      type: string
                      description: Transaction ID within client environment associated with the order. The value is searchable and reportable in the Kount 360 portal. This value may be sent in multiple instances of the integration for multiple purposes. Customers in the travel space often send the Record Locator/PNR in this field.  Max = 32 characters. Alpha-numeric characters and dashes ( - ) allowed.
                    SellerId:
                      type: string
                      description: Transaction ID within client environment associated with the customer. This value acts as a secondary identifier in conjunction with OrderNumber. The value is searchable and reportable in the Kount 360 portal. This value may be sent in multiple times within the integration for multiple purposes.  Max = 32 characters.
                    FlightData:
                      type: object
                      description: Flight Data
                      properties:
                        Airline:
                          type: string
                          description: Name of airline; likely carrier code
                          default: AA
                        DepartureAirport:
                          type: string
                          description: Departure airport code
                          default: NY
                        DepartureDate:
                          type: string
                          description: 'Departure date of flight. Format: mm/dd/yyyy'
                          default: 06/20/1993
                        DestinationAirport:
                          type: string
                          description: Destination airport code
                          default: CA
                        HoursToDeparture:
                          type: string
                          description: Time in hours to flight departure
                          default: '5'
                        JourneyType:
                          type: string
                          description: Type of journey i.e. Day/Night journey
                          default: Day
                        Route:
                          type: string
                          description: The route type i.e. Direct/Indirect
                          default: Direct
                        RouteByCountry:
                          type: string
                          description: Complete flight route by country
                          default: NY, CA
                    FlightPassengers:
                      type: array
                      items:
                        properties:
                          Country:
                            type: string
                            description: Country of origin of passenger
                            default: USA
                          DateOfBirth:
                            type: string
                            description: DOB of first passenger
                            default: '2020-06-20'
                            format: date
                          Id:
                            type: string
                            description: Passport, drivers license or id# associated with passenger
                            default: JXY123
                          Name:
                            type: string
                            description: Passenger information. Each passenger should be sent in it's own object.
                            default: John Doe
                        type: object
                    CustomParameters:
                      type: object
                      description: Custom Parameters. Array.
                      properties: {}
                Card:
                  type: object
                  description: Customer's card data. Mandatory if TenderType is Credit or not set. This will be ignored if TenderType is Cash or ACH.
                  properties:
                    CardNumber:
                      type: string
                      description: 'Mandatory if Guid field is not provided. Card number.  Must be 16 characters. (example: 4532538795426624) or token (example: FfL7exC7Xe2y6624)'
                    CardHolderName:
                      type: string
                      description: Cardholder's name. Providing information in this field allows a user of the ConnexPay portal to search for a transaction using the cardholder name
                    Cvv2:
                      type: string
                      description: The three or four digit CVV code at the back side of the credit and debit card. This value is required for all card-not-present processing environments
                    ExpirationDate:
                      type: string
                      description: Optional with Token. Card's expiry date in the YYMM format
                      format: date
                    Guid:
                      type: string
                      description: Guid is the unique identifier for a card info generated by Connexpay upon previous Sale creation. Create Sale API will accept either card info or Guid, but not both
                    IsRecurring:
                      type: boolean
                      description: 'Set to "true" to designate a transaction as part of a recurring payment series. This flag is intended for stored-card scenarios where the same card is charged on a repeated schedule, such as a monthly subscription.

                        When using recurring payments, the first transaction must be submitted with card data. All subsequent transactions in the series must reference the Sale Guid returned from that initial payment and omit the card number, cardholder name, CVV, and expiration. Passing along card data on subsequent transactions is incorrect usage.

                        If you are not implementing a recurring payment series, leave this field at the default value of "false".'
                      default: false
                    Customer:
                      type: object
                      description: Customer data
                      properties:
                        FirstName:
                          type: string
                          description: Mandatory for ACH Sales.  Min Length = 2 Max Length = 30
                        LastName:
                          type: string
                          description: Mandatory for ACH Sales. Min Length = 2 Max Length = 30
                        Phone:
                          type: string
                          description: Customer's phone number. Phone number up to 15 characters. Numbers and plus sign (+) allowed only.   3D Secure Authentication requires a valid customer email address or phone number is included.
                        City:
                          type: string
                          description: Customer's City
                        State:
                          type: string
                          description: Customer's short name state.  The ISO 3166-2 CA and US state or province code of a customer. Length = 2.
                        Country:
                          type: string
                          description: Customer's country. The ISO country code of a customer’s country.  Length = 2
                        Email:
                          type: string
                          description: Customer's valid email address which is available in various reports. It is critical that SendReceipt is set to FALSE so that ConnexPay does not send a receipt to the cardholder when the transaction is processed.  3D Secure Authentication requires a valid customer email address or phone number is included.
                        Address1:
                          type: string
                          description: 'Customer billing address 1. It is strongly recommended to send this value in a card-not-present environment such that enhanced Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction. Note: only the street number value portion of address is used for enhanced AVS check'
                        Address2:
                          type: string
                          description: Customer billing address 2. It is strongly recommended to send this value in a card-not-present environment such that Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction
                        Zip:
                          type: string
                          description: Customer billing postal code. It is strongly recommended to send this value in a card-not-present environment such that basic Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction.  Only the a standard U.S. 5 digit zip code is eligible for basic AVS check. Min Length = 2 Max Length = 15. Alphanumerics and "-" allowed.
                        DateOfBirth:
                          type: string
                          description: 'Customer''s date of birth. Allowed format: YYYY-MM-DD. For example: 2002-05-30'
                          format: date
                        DriversLicenseNumber:
                          type: integer
                          description: Customer's driver license number.  Only letters, numbers and a hyphen is allowed
                          format: int32
                        DriversLicenseState:
                          type: string
                          description: Mandatory when DriverLicenseNumber is provided. Customer's driver license short name state. The ISO 3166-2 CA and US state or province code of a customer.  Length = 2
                        SSN4:
                          type: integer
                          description: Last 4 of Customer's Social Security Number
                          format: int32
                    ThreeDS:
                      type: object
                      description: 'ThreeDS object is required when 3DS authentication parameters are being passed in the Sale or Auth.  For US clients: the parameters are identified using the 3DS Authentication endpoint.  For EU clients: the parameters are identified when a cardholder challenge and/or fingerprint authentication is required after calling the Create Sale or Auth Only endpoint with the BrowserData object details.'
                      properties:
                        SecureCode:
                          type: string
                        Cavv:
                          type: string
                          description: Cardholder authentication verification value
                        Version:
                          type: string
                          description: Version of 3DS being used
                        DirectoryServerTransactionID:
                          type: string
                          description: Unique identifier provided by the card scheme as part of 3D Secure authentication.
                        AcsTransactionId:
                          type: string
                          description: Unique Identifier provided by the Access Control Server of the Card Issuer.
                        ECI:
                          type: string
                          description: Displays the Electronic Commerce Indicator (ECI). The ECI indicates the security level of the payment information provided to the merchant. A value of 0, 1 or 2 is a Mastercard transaction. A value of 5, 6 or 7 is a Visa, American Express, Diners or Discover card.
                BankAccount:
                  type: object
                  description: Customer's Bank Account information. Mandatory if TenderType is ACH. This will be ignored if TenderType is Cash or Credit
                  required:
                  - AccountType
                  - RoutingNumber
                  - AccountNumber
                  - NameOnAccount
                  properties:
                    AccountType:
                      type: string
                      description: 'Accepted account types are: Saving or Checking'
                    RoutingNumber:
                      type: string
                      description: 9 Digit routing number
                    AccountNumber:
                      type: string
                      description: Account number up to 20 characters
                    NameOnAccount:
                      type: string
                      description: Name on the account for ACH transfer (upto 50 characters)
                    AccountAndRoutingNumberToken:
                      type: string
                      description: Encrypted Token previously assigned to Bank Account. Either AccountAndRoutingNumberToken or both AccountNumber  and RoutingNumber  should be provided.
                    Customer:
                      type: object
                      properties:
                        FirstName:
                          type: string
                          description: Mandatory for ACH Sales.  Min Length = 2 Max Length = 30
                        LastName:
                          type: string
                          description: Mandatory for ACH Sales. Min Length = 2 Max Length = 30
                        Phone:
                          type: string
                          description: Customer's phone number. Phone number up to 15 characters. Numbers and plus sign (+) allowed only.   3D Secure Authentication requires a valid customer email address or phone number is included.
                        City:
                          type: string
                          description: Customer's City
                        State:
                          type: string
                          description: Customer's short name state.  The ISO 3166-2 CA and US state or province code of a customer. Length = 2.
                        Country:
                          type: string
                          description: Customer's country. The ISO country code of a customer’s country.  Length = 2
                        Email:
                          type: string
                          description: Customer's valid email address which is available in various reports. It is critical that SendReceipt is set to FALSE so that ConnexPay does not send a receipt to the cardholder when the transaction is processed.  3D Secure Authentication requires a valid customer email address or phone number is included.
                        Address1:
                          type: string
                          description: 'Customer billing address 1. It is strongly recommended to send this value in a card-not-present environment such that enhanced Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction. Note: only the street number value portion of address is used for enhanced AVS check'
                        Address2:
                          type: string
                          description: Customer billing address 2. It is strongly recommended to send this value in a card-not-present environment such that Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction
                        Zip:
                          type: string
                          description: Customer billing postal code. It is strongly recommended to send this value in a card-not-present environment such that basic Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction.  Only the a standard U.S. 5 digit zip code is eligible for basic AVS check. Min Length = 2 Max Length = 15. Alphanumerics and "-" allowed.
                        DateOfBirth:
                          type: string
                          description: 'Customer''s date of birth. Allowed format: YYYY-MM-DD. For example: 2002-05-30'
                          format: date
                        DriversLicenseNumber:
                          type: integer
                          description: Customer's driver license number.  Only letters, numbers and a hyphen is allowed
                          format: int32
                        DriversLicenseState:
                          type: string
                          description: Mandatory when DriverLicenseNumber is provided. Customer's driver license short name state. The ISO 3166-2 CA and US state or province code of a customer.  Length = 2
                        SSN4:
                          type: integer
                          description: Last 4 of Customer's Social Security Number
                          format: int32
                Customer:
                  type: object
                  description: Customer Data. This will only be used if TenderType is not Credit
                  properties:
                    FirstName:
                      type: string
                      description: Mandatory for ACH Sales.  Min Length = 2 Max Length = 30
                    LastName:
                      type: string
                      description: Mandatory for ACH Sales. Min Length = 2 Max Length = 30
                    Phone:
                      type: string
                      description: Customer's phone number. Phone number up to 15 characters. Numbers and plus sign (+) allowed only.   3D Secure Authentication requires a valid customer email address or phone number is included.
                    City:
                      type: string
                      description: Customer's City
                    State:
                      type: string
                      description: Customer's short name state.  The ISO 3166-2 CA and US state or province code of a customer. Length = 2.
                    Country:
                      type: string
                      description: Customer's country. The ISO country code of a customer’s country.  Length = 2
                    Email:
                      type: string
                      description: Customer's valid email address which is available in various reports. It is critical that SendReceipt is set to FALSE so that ConnexPay does not send a receipt to the cardholder when the transaction is processed.  3D Secure Authentication requires a valid customer email address or phone number is included.
                    Address1:
                      type: string
                      description: 'Customer billing address 1. It is strongly recommended to send this value in a card-not-present environment such that enhanced Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction. Note: only the street number value portion of address is used for enhanced AVS check'
                    Address2:
                      type: string
                      description: Customer billing address 2. It is strongly recommended to send this value in a card-not-present environment such that Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction
                    Zip:
                      type: string
                      description: Customer billing postal code. It is strongly recommended to send this value in a card-not-present environment such that basic Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction.  Only the a standard U.S. 5 digit zip code is eligible for basic AVS check. Min Length = 2 Max Length = 15. Alphanumerics and "-" allowed.
                    DateOfBirth:
                      type: string
                      description: 'Customer''s date of birth. Allowed format: YYYY-MM-DD. For example: 2002-05-30'
                      format: date
                    DriversLicenseNumber:
                      type: integer
                      description: Customer's driver license number.  Only letters, numbers and a hyphen is allowed
                      format: int32
                    DriversLicenseState:
                      type: string
                      description: Mandatory when DriverLicenseNumber is provided. Customer's driver license short name state. The ISO 3166-2 CA and US state or province code of a customer.  Length = 2
                    SSN4:
                      type: integer
                      description: Last 4 of Customer's Social Security Number
                      format: int32
                EnhancedData:
                  type: object
                  description: Enhanced Level 2 and Level 3 card data is a set of additional information for business, commercial, corporate, purchasing, and government cardholders.
                  properties:
                    SaleTax:
                      type: string
                      description: Sales Tax amount
                AssociationId:
                  type: string
                  description: 'Utilize the Association ID field to tie a virtual card to a sale or sales. For example, if you have several sales and one virtual card payment to a supplier, you can add association ID to the sales and the virtual card for downstream reporting. The maximum length is 100 alpha-numeric characters and the following special characters: period, underscore, backslash, dash, and space [._ /- ].'
                CustomParameters:
                  type: array
                  items:
                    properties:
                      Name:
                        type: string
                        description: Name of the Custom Parameter. Maximum length allowed is 100 characters.
                      Value:
                        type: string
                        description: Value for the named Custom Parameter. Maximum length allowed is 100 characters.
                    type: object
                  description: You can add Custom Parameters to your PayIn in the event that you need to associate or display additional information.
                LabelIDs:
                  type: array
                  description: Utilize Label IDs to associate a sale to a specific label(s) within ConnexPay Bridge UI for your organization. If a sale is tied to an incorrect Label, it will not filter or display correctly in Bridge's Search Grid. Please contact your Customer Care Consultant for a list of valid Label IDs before use.
                  items:
                    type: string
                BrowserData:
                  type: object
                  description: 'EU Clients: 3D secure parameters required to be submitted with Create Sale to initiate 3D secure authentication via ConnexPay''s interface.   A signed contract for 3D Secure is required in order to use this feature.'
                  required:
                  - AcceptanceHeader
                  - ColorDepth
                  - JavaEnabled
                  - ScreenHeight
                  - ScreenWidth
                  - TimeZoneOffset
                  - Language
                  - RedirectURL
                  - UserAgentHeader
                  properties:
                    AcceptanceHeader:
                      type: string
                      description: Required.  Exact content of the http accept header.
                    ColorDepth:
                      type: integer
                      description: Required. Value representing the bit depth of the color palette for displaying images, in bits per pixel.
                      format: int32
                    JavaEnabled:
                      type: boolean
                      description: True or False response that represents ability of cardholder browser to execute Java
                    ScreenHeight:
                      type: integer
                      description: Total height of the Cardholder's screen in pixels
                      format: int32
                    ScreenWidth:
                      type: integer
                      description: Total width of the Cardholder's screen in pixels
                      format: int32
                    TimeZoneOffset:
                      type: integer
                      description: Time Zone difference between browser time zone and UTC time, in hours.  Can be positive or negative.
                      format: int32
                    Language:
                      type: string
                      description: Value representing the browser language as defined in IETF BCP47
                    RedirectURL:
                      type: string
                      description: The merchant URL to which the browser should be redirected after the challenge session.
                    UserAgentHeader:
                      type: string
                      description: Exact content of the HTTP user-agent header.
                CheckRiskScore:
                  type: boolean
                  description: Value determines if a transaction using a GUID is sent to Equifax for risk scoring. If the value is set to TRUE and a GUID is sent in the request, the transaction is sent to Equifax for a risk score. If the value is set to FALSE, the transaction is not sent to Equifax for a risk score.
            examples:
              Create Credit Card Sale Request Example:
                value:
                  DeviceGuid: '{{Device}}'
                  Amount: 280
                  TenderType: Credit
                  SequenceNumber: '849741'
                  OrderNumber: '159874'
                  SendReceipt: true
                  RiskProcessingOnly: false
                  StatementDescription: Agent Booking 123
                  CustomerId: xt147
                  ConnexPayTransaction:
                    ExpectedPayments: 9
                  RiskData:
                    Name: John Doe
                    Gender: M
                    DateOfBirth: '1993-03-18'
                    BillingPhoneNumber: '9177563046'
                    BillingAddress1: 151 E 33rd St
                    BillingAddress2: Second Floor
                    BillingCity: New York
                    BillingState: NY
                    BillingPostalCode: '10016'
                    BillingCountryCode: US
                    Email: johnd@gmail.com
                    ProductType: Flight
                    ProductDesc: Flight from London to New York
                    ProductItem: 784GTWJFK856
                    ProductQuantity: 4
                    ProductPrice: '42400'
                    OrderNumber: 857B2
                    SellerId: AG75597
                    FlightData:
                      Airline: American Airlines
                      DepartureAirport: Gatwick
                      DepartureDate: '2020-06-30'
                      DestinationAirport: JFK
                      HoursToDeparture: 5
                      JourneyType: Day
                      Route: Direct
                      RouteByCountry: UK, USA
                    FlightPassengers:
                    - Country: USA
                      DateOfBirth: '1990-12-07'
                      Id: '89456489'
                      Name: Adam Smith
                    - Country: ARG
                      DateOfBirth: '1995-05-05'
                      Id: '74566'
                      Name: John Lock
                    CustomParameters:
                    - Name: ClientSpecific1
                      Value: Traveling
                    - Name: ClientSpecific2
                      Value: wonderful
                  Card:
                    CardNumber: '4716317307520473'
                    CardHolderName: John Doe
                    Cvv2: '999'
                    ExpirationDate: '1912'
                    Customer:
                      FirstName: John
                      LastName: Doe
                      Phone: '9177563007'
                      City: New York
                      State: NY
                      Country: US
                      Email: johnd@gmail.com
                      Address1: 107 7th Av.
                      Address2: ''
                      Zip: '10007'
                      DateOfBirth: '1990-12-07'
                      DriverLicenseNumber: '12345678'
                      DriverLicenseState: TX
                      SSN4: '1210'
                  EnhancedData:
                    cardLevel: '2'
                    SaleTax: 5
                    AdditionalTaxDetailTaxCategory: tex
                    AdditionalTaxDetailTaxType: regional
                    AdditionalTaxDetailTaxAmount: 3
                    AdditionalTaxDetailTaxRate: 2.5
                    PurchaseOrder: PURCHSEORDER1
                    OrderDate: 07/20/2018
                    ShippingCharges: '20'
                    DutyCharges: 17.59
                    CustomerVATNumber: '75010101'
                    VATInvoice: 231465214
                    SummaryCommodityCode: Aa94
                    ShipToZip: '50001'
                    ShipFromZip: '55100'
                    DestinationCountryCode: ARG
                    SupplierReferenceNumber: '123'
                    CustomerRefID: '123'
                    ChargeDescriptor: Sample Charge
                    AdditionalAmount: 2.5
                    AdditionalAmountType: GIFT_SHOP
                    ProductName: Product 01
                    ProductCode: P1
                    Price: 5
              Create ACH Sale Request Example:
                value:
                  DeviceGuid: '{{Device}}'
                  Amount: 3.22
                  TenderType: ACH
                  OrderNumber: '12345'
                  RequestIp: 127.0.0.1
                  IncludeRiskAnalysis: false
                  ConnexPayTransaction:
                    ExpectedPayments: 1
                  BankAccount:
                    AccountType: Checking
                    RoutingNumber: 098098098
                    AccountNumber: '1234567'
                    AccountAndRoutingNumberToken: '{{Use instead of RoutingNumber and AccountNumber}}'
                    NameOnAccount: John Doe
                    Customer:
                      FirstName: John
                      LastName: Doe
                      Phone: '5556128787'
                      City: Spring Park
                      State: MN
                      Country: US
                      Email: test@connexpay.com
                      Address1: 1234 Channel road
                      Address2: ''
                      Zip: '98765'
              3D Secure Authentication Request Example:
                value:
                  CardDataSource: EMV2
                  Amount: 1
                  OrderNumber: ''
                  CustomerId: ''
                  SendReceipt: false
                  isDelaySaleActivation: false
                  activationDate: ''
                  LabelIds:
                  - 987654638
                  StatementDescription: ''
                  AssociationId: ''
                  ConnexPayTransaction:
                    ExpectedPayments: 0
                  RiskData:
                    ProductType: test
                    ProductItem: test
                    OrderNumber: ''
                    SellerId: ''
                    Email: ''
                    Gender: ''
                    DateOfBirth: ''
                    ProductDesc: ''
                    BillingPhoneNumber: ''
                    BillingAddress1: ''
                    BillingAddress2: ''
                    BillingState: ''
                    BillingCity: ''
                    BillingPostalCode: ''
                    FlightData:
                      Airline: ''
                      DepartureAirport: ''
                      DepartureDate: ''
                      DestinationAirport: ''
                      HoursToDeparture: ''
                      JourneyType: ''
                      Route: ''
                      RouteByCountry: ''
                    FlightPassenger: []
                  Card:
                    CardNumber: '4018810001010010'
                    CardHolderName: Jason Harmon
                    Cvv2: '999'
                    ExpirationDate: '2312'
                    Customer:
                      FirstName: Jason
                      LastName: Harmon
                      Email: ''
                      Address1: ''
                      Address2: ''
                      State: ''
                      City: ''
                      Country: ''
                      Zip: ''
                      Phone: ''
                      SSN4: ''
                  DeviceGuid: e639a1dc-5cc4-43de-ab74-d5bea6c6b107
                  TenderType: Credit
                  BrowserData:
                    AcceptanceHeader: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8
                    ColorDepth: 32
                    JavaEnabled: true
                    ScreenHeight: 1000
                    ScreenWidth: 1000
                    TimeZoneOffset: 0
                    Language: en-GB
                    RedirectUrl: https://salesapi.connexpaydev.com/
                    UserAgentHeader: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Create Credit Card Sale Response Example:
                  value: "{\n   \"guid\":\"965a67b0-cd0e-4020-973b-5e0d1b4bd6e2\",\n   \"status\":\"Transaction - Approved\",\n   \"type\":\"Default\",\n   \"batchStatus\":\"Batch - Open\",\n   \"timeStamp\":\"2019-11-20T05:37:13.22-05:00\",\n   \"deviceGuid\":\"f758a448-7780-4b50-93a1-28329e37f94f\",\n   \"amount\":280.0,\n   \"activated\": true,\n   \"tenderType\":\"Credit\",\n   \"effectiveAmount\":280.0,\n   \"riskResponse\":{\n      \"transactionId\":\"73PK0DN43KSZ\",\n      \"response\":\"Approved\",\n      \"reason\":\"\",\n      \"score\":\"\",\n      \"omniscore\": \"63.5\"\n   },\n   \"orderNumber\":\"159874\",\n   \"cardDataSource\":\"INTERNET\",\n   \"customerID\":\"xt147\",\n   \"batchGuid\":\"c71d0ee6-b595-4792-b1ee-1156d28be132\",\n   \"connexPayTransaction\":{\n      \"guid\":\"d6c7e3c3-1cdd-47a1-89b9-368059b85c2c\",\n      \"expectedPayments\":9,\n      \"filler\":\"ZZZ\",\n      \"incomingTransCode\":\"09ASECYE48S9KHBQL00028000\"\n   },\n   \"riskProcessingOnly\":false,\n   \"processorStatusCode\":\"A0000\",\n   \"processorResponseMessage\":\"Success\",\n   \"wasProcessed\":true,\n   \"authCode\":\"TAS698\",\n   \"refNumber\":\"21313220\",\n   \"customerReceipt\":\"CONNEXPAY\\\\n8320 S HARDY DRIVE...\\\\n\",\n   \"statementDescription\":\"Agent Booking 123\",\n   \"generatedBy\":\"tcformal1\",\n   \"enhancedData\":{\n     \t\"cardLevel\":\"2\",\n      \"saleTax\":5.0,\n      \"purchaseOrder\":\"PURCHSEORDER1\",\n      \"additionalTaxDetailTaxCategory\":\"tex\",\n      \"additionalTaxDetailTaxType\":\"regional\",\n      \"additionalTaxDetailTaxAmount\":3.0,\n      \"additionalTaxDetailTaxRate\":2.5,\n      \"shippingCharges\":20.0,\n      \"dutyCharges\":17.59,\n      \"shipToZip\":\"50001\",\n      \"shipFromZip\":\"55100\",\n      \"destinationCountryCode\":\"ARG\",\n      \"customerVATNumber\":\"75010101\",\n      \"summaryCommodityCode\":\"Aa94\",\n      \"vatInvoice\":\"231465214\",\n      \"orderDate\":\"07/20/2018\",\n      \"supplierReferenceNumber\":\"123\",\n      \"customerRefID\":\"123\",\n      \"chargeDescriptor\":\"Sample Charge\",\n      \"productName\":\"Product 01\",\n      \"productCode\":\"P1\",\n      \"price\":5.0,\n      \"additionalAmount\":2.5,\n      \"additionalAmountType\":\"GIFT_SHOP\"\n   },\n   \"card\":{\n      \"first4\":\"4716\",\n      \"last4\":\"0473\",\n      \"cardNumber\":\"CARD NOT TOKENIZED\",\n      \"cardHolderName\":\"John Doe\",\n      \"cardType\":\"Visa\",\n      \"expirationDate\":\"2019-12\",\n      \"guid\":\"b9b2fcd3-6b35-40a6-a560-6e434ae01068\",\n      \"customer\":{\n         \"guid\":\"3bd93697-005a-4723-a7f8-f892577ee2bf\",\n         \"firstName\":\"John\",\n         \"lastName\":\"Doe\",\n         \"dateOfBirth\":\"1990-12-07T00:00:00\",\n         \"address1\":\"107 7th Av.\",\n         \"address2\":\"\",\n         \"zip\":\"10007\",\n         \"city\":\"New York\",\n         \"state\":\"NY\",\n         \"country\":\"US\",\n         \"phone\":\"9177563007\",\n         \"email\":\"johnd@gmail.com\",\n         \"ssN4\":\"1210\",\n         \"driverLicenseNumber\":\"12345678\",\n         \"driverLicenseState\":\"TX\"\n      }\n   },\n   \"sequenceNumber\":\"849741\",\n   \"addressVerificationCode\":\"N\",\n   \"addressVerificationResult\":\"No match. Acquirer sent postal/ZIP code only, or street address only, or both postal/ZIP and street address.\",\n   \"cvvVerificationCode\":\"M\",\n   \"cvvVerificationResult\":\"CVV2 Match. Indicates that the Funds Transfer API or the issuer was able to verify the CVV2 value provided by the merchant.\",\n}"
                3DS Frictionless Response Example:
                  value: "{\n    \"guid\": \"2d78c80e-59c3-44ae-a770-c70dfa550768\",\n    \"status\": \"Transaction - Approved\",\n    \"type\": \"3D Secure\",\n    \"batchStatus\": \"Batch - Open\",\n    \"timeStamp\": \"2022-11-29T06:47:52.53-05:00\",\n    \"deviceGuid\": \"e639a1dc-5cc4-43de-ab74-d5bea6c6b107\",\n    \"amount\": 1.00,\n    \"activated\": true,\n    \"tenderType\": \"Credit\",\n    \"effectiveAmount\": 1.00,\n    \"riskResponse\": {\n        \"transactionId\": null,\n        \"response\": \"Fraud Check Skipped for Finaro Request.\",\n        \"reason\": null,\n        \"score\": null\n    },\n    \"orderNumber\": \"\",\n    \"cardDataSource\": \"INTERNET\",\n    \"customerID\": \"\",\n    \"batchGuid\": \"c4513dc8-1f49-47c2-b384-6b0897c3734e\",\n    \"connexPayTransaction\": {\n        \"guid\": \"76d224b7-1abc-4fdb-9d0a-9a4b44cebbca\",\n        \"expectedPayments\": 0,\n        \"incomingTransCode\": \"7C9A573638053372540845316\"\n    },\n    \"associationId\": \"\",\n    \"processorStatusCode\": \"0\",\n    \"processorResponseMessage\": \"Transaction has been executed successfully.\",\n    \"wasProcessed\": true,\n    \"authCode\": \"697949\",\n    \"refNumber\": \"XZZ01c19f5570e6bDAFUP3DOWVUR5FSB\",\n    \"customerReceipt\": \"Not Available\",\n    \"statementDescription\": \"\",\n    \"generatedBy\": \"jharmonfinaro\",\n    \"Card\": {\n        \"ThreeDS\": {\n            \"SecureCode\": \"06:3030303030303030303030313130363639393458:none\",\n            \"Cavv\": \"MDAwMDAwMDAwMDAxMTA2Njk5NFg=\",\n            \"Version\": \"2.1.0\",\n            \"DirectoryServerTransactionID\": \"806e85be-8568-4601-a993-654662947afb\",\n            \"AcsTransactionId\": \"3afb5c9b-5e06-4e35-9051-e2461d767028\",\n            \"ECI\": \"06\"\n        },\n        \"CardNumber\": \"4018810000100036\",\n        \"CardHolderName\": \"Jason Harmon\",\n        \"Cvv2\": \"999\",\n        \"ExpirationDate\": \"2312\",\n        \"Customer\": {\n            \"FirstName\": \"Jason\",\n            \"LastName\": \"Harmon\",\n            \"Email\": \"\",\n            \"Address1\": \"\",\n            \"Address2\": \"\",\n            \"State\": \"\",\n            \"City\": \"\",\n            \"Country\": \"\",\n            \"Zip\": \"\",\n            \"Phone\": \"\",\n            \"SSN4\": \"\"\n        }\n    },\n    \"addressVerificationResult\": \"Unavailable\",\n    \"cvvVerificationCode\": \"M\",\n    \"cvvVerificationResult\": \"CVV2 Match. Indicates that the Funds Transfer API or the issuer was able to verify the CVV2 value provided by the merchant.\",\n    \"cavvResponseCode\": \"2\",\n    \"walletProvider\": 0,\n    \"isFromIssueLite\": false,\n    \"labelIds\": [\n        987654638\n    ],\n    \"remainingAmount\": 1.00\n}"
              schema:
                type: object
                properties:
                  guid:
                    type: string
                    example: 2d78c80e-59c3-44ae-a770-c70dfa550768
                  status:
                    type: string
                    example: Transaction - Approved
                  type:
                    type: string
                    example: 3D Secure
                  batchStatus:
                    type: string
                    example: Batch - Open
                  timeStamp:
                    type: string
                    example: '2022-11-29T06:47:52.53-05:00'
                  deviceGuid:
                    type: string
                    example: e639a1dc-5cc4-43de-ab74-d5bea6c6b107
                  amount:
                    type: integer
                    example: 1
                    default: 0
                  activated:
                    type: boolean
                    example: true
                    default: true
                  tenderType:
                    type: string
                    example: Credit
                  effectiveAmount:
                    type: integer
                    example: 1
                    default: 0
                  riskResponse:
                    type: object
                    properties:
                      transactionId: {}
                      response:
                        type: string
                        example: Fraud Check Skipped for Finaro Request.
                      reason: {}
                      score: {}
                  orderNumber:
                    type: string
                    example: ''
                  cardDataSource:
                    type: string
                    example: INTERNET
                  customerID:
                    type: string
                    example: ''
                  batchGuid:
                    type: string
                    example: c4513dc8-1f49-47c2-b384-6b0897c3734e
                  connexPayTransaction:
                    type: object
                    properties:
                      guid:
                        type: string
                        example: 76d224b7-1abc-4fdb-9d0a-9a4b44cebbca
                      expectedPayments:
                        type: integer
                        example: 0
                        default: 0
                      incomingTransCode:
                        type: string
                        example: 7C9A573638053372540845316
                  associationId:
                    type: string
                    example: ''
                  processorStatusCode:
                    type: string
                    example: '0'
                  processorResponseMessage:
                    type: string
                    example: Transaction has been executed successfully.
                  wasProcessed:
                    type: boolean
                    example: true
                    default: true
                  authCode:
                    type: string
                    example: '697949'
                  refNumber:
                    type: string
                    example: XZZ01c19f5570e6bDAFUP3DOWVUR5FSB
                  customerReceipt:
                    type: string
                    example: Not Available
                  statementDescription:
                    type: string
                    example: ''
                  generatedBy:
                    type: string
                    example: jharmonfinaro
                  Card:
                    type: object
                    properties:
                      ThreeDS:
                        type: object
                        properties:
                          SecureCode:
                            type: string
                            example: 06:3030303030303030303030313130363639393458:none
                          Cavv:
                            type: string
                            example: MDAwMDAwMDAwMDAxMTA2Njk5NFg=
                          Version:
                            type: string
                            example: 2.1.0
                          DirectoryServerTransactionID:
                            type: string
                            example: 806e85be-8568-4601-a993-654662947afb
                          AcsTransactionId:
                            type: string
                            example: 3afb5c9b-5e06-4e35-9051-e2461d767028
                          ECI:
                            type: string
                            example: '06'
                      CardNumber:
                        type: string
                        example: '4018810000100036'
                      CardHolderName:
                        type: string
                        example: Jason Harmon
                      Cvv2:
                        type: string
                        example: '999'
                      ExpirationDate:
                        type: string
                        example: '2312'
                      Customer:
                        type: object
                        properties:
                          FirstName:
                            type: string
                            example: Jason
                          LastName:
                            type: string
                            example: Harmon
                          Email:
                            type: string
                            example: ''
                          Address1:
                            type: string
                            example: ''
                          Address2:
                            type: string
                            example: ''
                          State:
                            type: string
                            example: ''
                          City:
                            type: string
                            example: ''
                          Country:
                            type: string
                            example: ''
                          Zip:
                            type: string
                            example: ''
                          Phone:
                            type: string
                            example: ''
                          SSN4:
                            type: string
                            example: ''
                  addressVerificationResult:
                    type: string
                    example: Unavailable
                  cvvVerificationCode:
                    type: string
                    example: M
                  cvvVerificationResult:
                    type: string
                    example: CVV2 Match. Indicates that the Funds Transfer API or the issuer was able to verify the CVV2 value provided by the merchant.
                  cavvResponseCode:
                    type: string
                    example: '2'
                  walletProvider:
                    type: integer
                    example: 0
                    default: 0
                  isFromIssueLite:
                    type: boolean
                    example: false
                    default: true
                  labelIds:
                    type: array
                    items:
                      type: integer
                      example: 987654638
                      default: 0
                  remainingAmount:
                    type: integer
                    example: 1
                    default: 0
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Create Sale - ACH Response Example:
                  value: "{\n    \"guid\": \"965a67b0-cd0e-4020-973b-5e0d1b4bd6e2\",\n    \"status\": \"Transaction - Approved\",\n    \"type\": \"Default\",\n    \"batchStatus\": \"Batch - Open\",\n    \"timeStamp\": \"2023-05-09T15:33:12.25-04:00\",\n    \"deviceGuid\": \"f758a448-7780-4b50-93a1-28329e37f94f\",\n    \"amount\": 1.17,\n    \"activated\": true,\n    \"tenderType\": \"ACH\",\n    \"effectiveAmount\": 1.17,\n    \"purchaseActivationDate\": \"2023-05-09T00:00:00-04:00\",\n    \"orderNumber\": \"ACH Sale Example\",\n    \"cardDataSource\": \"INTERNET\",\n    \"customerID\": \"CustomerID\",\n    \"batchGuid\": \"c71d0ee6-b595-4792-b1ee-1156d28be132\",\n    \"connexPayTransaction\": {\n        \"guid\": \"d6c7e3c3-1cdd-47a1-89b9-368059b85c2c\",\n        \"expectedPayments\": 1,\n        \"incomingTransCode\": \"23D5797638192431927631987\"\n    },\n    \"riskProcessingOnly\": false,\n    \"processorStatusCode\": \"A0000\",\n    \"processorResponseMessage\": \"NotYetProcessed\",\n    \"wasProcessed\": true,\n    \"refNumber\": \"LC40FTVWZH\",\n    \"customerReceipt\": \"Test\\\\nTest Minnesota 55111\\\\n5/9/2023 12:00:00 AM\\\\n\\\\nACH - Sale\\\\n\\\\nACCT NBR last four # : **** **** **** **** 1111\\\\nEntry Mode : MANUAL\\\\n\\\\nTRANSACTION ID : 63819243192747\\\\nInvoice number : Sales Test \\\\nSubtotal:                      $1.17\\\\n--------------------------------------\\\\nTotal:                         $1.17\\\\n--------------------------------------\\\\n\\\\n\\\\n\\\\nCUSTOMER ACKNOWLEDGES RECEIPT OF\\\\nGOODS AND/OR SERVICES IN THE AMOUNT\\\\nOF THE TOTAL SHOWN HEREON AND AGREES\\\\nTO PERFORM THE OBLIGATIONS SET FORTH\\\\nBY THE CUSTOMER`S AGREEMENT WITH THE\\\\nISSUER\\\\nAPPROVED\\\\n\\\\n\\\\n\\\\n\\\\nCustomer Copy\\\\n\",\n    \"statementDescription\": \"Test\",\n    \"generatedBy\": \"Test\",\n    \"bankAccount\": {\n        \"guid\": \"b9b2fcd3-6b35-40a6-a560-6e434ae01068\",\n        \"accountType\": \"Checking\",\n        \"accountNumberLastFour\": \"1111\",\n        \"nameOnAccount\": \"TestName\",\n        \"customer\": {\n            \"guid\": \"3bd93697-005a-4723-a7f8-f892577ee2bf\",\n            \"firstName\": \"First Name\",\n            \"lastName\": \"Last Name\",\n            \"dateOfBirth\": \"2002-05-30T00:00:00\",\n            \"address1\": \"1 Main St\",\n            \"address2\": \"Apt 1A\",\n            \"zip\": \"12345\",\n            \"city\": \"Test\",\n            \"country\": \"US\",\n            \"phone\": \"9998887777\",\n            \"email\": \"test@test.com\",\n            \"ssN4\": \"1111\"\n        }\n    },\n    \"sequenceNumber\": \"123\",\n    \"addressVerificationResult\": \"Unavailable\",\n    \"cvvVerificationResult\": \"Unavailable\",\n    \"walletProvider\": 0,\n    \"includeRiskAnalysis\": false,\n    \"isFromIssueLite\": false,\n    \"remainingAmount\": 1.17\n}"
              schema:
                type: object
                properties:
                  guid:
                    type: string
                    example: 965a67b0-cd0e-4020-973b-5e0d1b4bd6e2
                  status:
                    type: string
                    example: Transaction - Approved
                  type:
                    type: string
                    example: Default
                  batchStatus:
                    type: string
                    example: Batch - Open
                  timeStamp:
                    type: string
                    example: '2023-05-09T15:33:12.25-04:00'
                  deviceGuid:
                    type: string
                    example: f758a448-7780-4b50-93a1-28329e37f94f
                  amount:
                    type: number
                    example: 1.17
                    default: 0
                  activated:
                    type: boolean
                    example: true
                    default: true
                  tenderType:
                    type: string
                    example: ACH
                  effectiveAmount:
                    type: number
                    example: 1.17
                    default: 0
                  purchaseActivationDate:
                    type: string
                    example: '2023-05-09T00:00:00-04:00'
                  orderNumber:
                    type: string
                    example: ACH Sale Example
                  cardDataSource:
                    type: string
                    example: INTERNET
                  customerID:
                    type: string
                    example: CustomerID
                  batchGuid:
                    type: string
                    example: c71d0ee6-b595-4792-b1ee-1156d28be132
                  connexPayTransaction:
                    type: object
                    properties:
                      guid:
                        type: string
                        example: d6c7e3c3-1cdd-47a1-89b9-368059b85c2c
                      expectedPayments:
                        type: integer
                        example: 1
                        default: 0
                      incomingTransCode:
                        type: string
                        example: 23D5797638192431927631987
                  riskProcessingOnly:
                    type: boolean
                    example: false
                    default: true
                  processorStatusCode:
                    type: string
                    example: A0000
                  processorResponseMessage:
                    type: string
                    example: NotYetProcessed
                  wasProcessed:
                    type: boolean
                    example: true
                    default: true
                  refNumber:
                    type: string
                    example: LC40FTVWZH
                  customerReceipt:
                    type: string
                    example: 'Test\nTest Minnesota 55111\n5/9/2023 12:00:00 AM\n\nACH - Sale\n\nACCT NBR last four # : **** **** **** **** 1111\nEntry Mode : MANUAL\n\nTRANSACTION ID : 63819243192747\nInvoice number : Sales Test \nSubtotal:                      $1.17\n--------------------------------------\nTotal:                         $1.17\n--------------------------------------\n\n\n\nCUSTOMER ACKNOWLEDGES RECEIPT OF\nGOODS AND/OR SERVICES IN THE AMOUNT\nOF THE TOTAL SHOWN HEREON AND AGREES\nTO PERFORM THE OBLIGATIONS SET FORTH\nBY THE CUSTOMER`S AGREEMENT WITH THE\nISSUER\nAPPROVED\n\n\n\n\nCustomer Copy\n'
                  statementDescription:
                    type: string
                    example: Test
                  generatedBy:
                    type: string
                    example: Test
                  bankAccount:
                    type: object
                    properties:
                      guid:
                        type: string
                        example: b9b2fcd3-6b35-40a6-a560-6e434ae01068
                      accountType:
                        type: string
                        example: Checking
                      accountNumberLastFour:
                        type: string
                        example: '1111'
                      nameOnAccount:
                        type: string
                        example: TestName
                      customer:
                        type: object
                        properties:
                          guid:
                            type: string
                            example: 3bd93697-005a-4723-a7f8-f892577ee2bf
                          firstName:
                            type: string
                            example: First Name
                          lastName:
                            type: string
                            example: Last Name
                          dateOfBirth:
                            type: string
                            example: '2002-05-30T00:00:00'
                          address1:
                            type: string
                            example: 1 Main St
                          address2:
                            type: string
                            example: Apt 1A
                          zip:
                            type: string
                            example: '12345'
                          city:
                            type: string
                            example: Test
                          country:
                            type: string
                            example: US
                          phone:
                            type: string
                            example: '9998887777'
                          email:
                            type: string
                            example: test@test.com
                          ssN4:
                            type: string
                            example: '1111'
                  sequenceNumber:
                    type: string
                    example: '123'
                  addressVerificationResult:
                    type: string
                    example: Unavailable
                  cvvVerificationResult:
                    type: string
                    example: Unavailable
                  walletProvider:
                    type: integer
                    example: 0
                    default: 0
                  includeRiskAnalysis:
                    type: boolean
                    example: false
                    default: true
                  isFromIssueLite:
                    type: boolean
                    example: false
                    default: true
                  remainingAmount:
                    type: number
                    example: 1.17
                    default: 0
        '202':
          description: '202'
          content:
            application/json:
              examples:
                3DS Device Fingerprint Response Example:
                  value: "{\n    \"guid\": \"3a0d533f-588b-4ce4-920f-7bc4641ea8f7\",\n    \"status\": \"3DS - Pending Fingerprint\",\n    \"timeStamp\": \"2023-08-16T16:44:40.9866697Z\",\n    \"deviceGuid\": \"e639a1dc-5cc4-43de-ab74-d5bea6c6b107\",\n    \"amount\": 1.34,\n    \"version\": \"2.1.0\",\n    \"redirectUrl\": \"https://x3d-sim.credorax.net/acs/3ds-method\",\n    \"redirectUrlRequestPayload\": \"threeDSMethodData=eyJ0aHJlZURTTWV0aG9kTm90aWZpY2F0aW9uVVJMIjoiaHR0cHM6Ly9zYWxlc2FwaS5jb25uZXhwYXlkZXYuY29tL2FwaS92MS8zZHMvY2FsbGJhY2siLCJ0aHJlZURTU2VydmVyVHJhbnNJRCI6ImU2YmNjM2RiLTAwZjQtNDdiZi05OTgwLTljZjE2MTUxOGM5NyJ9\",\n    \"card\": {\n        \"first6\": \"401881\",\n        \"first4\": \"4018\",\n        \"last4\": \"0010\",\n        \"cardHolderName\": \"Jason Harmon\",\n        \"cardType\": \"Visa\",\n        \"expirationDate\": \"2023-12\",\n        \"guid\": \"c6b816a3-f107-40d5-9dc3-bcefc576c8bc\"\n    },\n    \"exemptThreeDSRequest\": false,\n    \"exemptThreeDSPayment\": false\n}"
                3DS Cardholder Challenge Response Example:
                  value: "{\n    \"guid\": \"a41dd8ab-8629-42c0-8a6f-8b9162a93ccc\",\n    \"status\": \"3DS - Pending User Challenge\",\n    \"timeStamp\": \"2023-08-16T16:45:23.9986814Z\",\n    \"deviceGuid\": \"e639a1dc-5cc4-43de-ab74-d5bea6c6b107\",\n    \"amount\": 1.34,\n    \"threeDSStatus\": \"C\",\n    \"directoryServerTransactionID\": \"72f4afb2-c057-4abc-b054-9fae4b4ceb49\",\n    \"acsTransactionId\": \"7c6670d1-d888-4af5-b5f4-db286ba6c20a\",\n    \"version\": \"2.1.0\",\n    \"redirectUrl\": \"https://x3d-any-int.credorax.net/challenge/request/CONN2978/2534bb4d055f10423709276026df821ff3c8\",\n    \"card\": {\n        \"first6\": \"401881\",\n        \"first4\": \"4018\",\n        \"last4\": \"0015\",\n        \"cardHolderName\": \"Jason Harmon\",\n        \"cardType\": \"Visa\",\n        \"expirationDate\": \"2023-12\",\n        \"guid\": \"2c032f47-f7ab-4849-9715-0b4bacf252a3\"\n    },\n    \"exemptThreeDSRequest\": false,\n    \"exemptThreeDSPayment\": false\n}"
                Risk Only Processing Example:
                  summary: Risk Only Processing Example
                  value:
                    guid: 4562327b-00b3-4d9a-8eed-fa41c9c5643c
                    status: Transaction - Approved
                    type: RiskOnly
                    batchStatus: Batch - Open
                    timeStamp: '2020-08-14T10:28:25.62-04:00'
                    deviceGuid: 615d0320-846f-59b8-b820-40ddc92868e3
                    amount: 1.15
                    activated: true
                    tenderType: Credit
                    effectiveAmount: 0
                    riskResponse:
                      transactionId: DXSS0JW3MYV3
                      response: Approved
                      reason: ''
                      score: ''
                      omniscore: '63.5'
                    orderNumber: 08142020-102824-RISKONLY
                    cardDataSource: INTERNET
                    batchGuid: dd3n1245-eabc-4c1f-a5f9-61d89b89453c
                    riskProcessingOnly: true
                    processorStatusCode: ARP00
                    processorResponseMessage: Approved
                    wasProcessed: true
                    authCode: TAS760
                    refNumber: '76038612'
                    customerReceipt: Transaction Approved
                    generatedBy: apitest
                    card:
                      first6: '516578'
                      first4: '5165'
                      last4: '7545'
                      cardHolderName: ConnexPay LLC
                      cardType: Mastercard
                      expirationDate: 2027-06
                      customer:
                        guid: f77f1715-9d8c-402c-bca8-f633bb96ac3b
                        firstName: ConnexPay
                        lastName: LLC
                        address1: 11700 Great Oaks Way
                        address2: Suite 185
                        zip: '30022'
                        city: Alpharetta
                        state: GA
                        email: test@connexpay.com
                      guid: 282e8242-39fd-4a4f-8860-4a750bc9c3c4
                    sequenceNumber: RISKTEST-08142020-102824
                    addressVerificationResult: Unavailable
                    cvvVerificationResult: Unavailable
              schema:
                oneOf:
                - title: 3DS Device Fingerprint Response Example
                  type: object
                  properties:
                    guid:
                      type: string
                      example: 3a0d533f-588b-4ce4-920f-7bc4641ea8f7
                    status:
                      type: string
                      example: 3DS - Pending Fingerprint
                    timeStamp:
                      type: string
                      example: '2023-08-16T16:44:40.9866697Z'
                    deviceGuid:
                      type: string
                      example: e639a1dc-5cc4-43de-ab74-d5bea6c6b107
                    amount:
                      type: number
                      example: 1.34
                      default: 0
                    version:
                      type: string
                      example: 2.1.0
                    redirectUrl:
                      type: string
                      example: https://x3d-sim.credorax.net/acs/3ds-method
                    redirectUrlRequestPayload:
                      type: string
                      example: threeDSMethodData=eyJ0aHJlZURTTWV0aG9kTm90aWZpY2F0aW9uVVJMIjoiaHR0cHM6Ly9zYWxlc2FwaS5jb25uZXhwYXlkZXYuY29tL2FwaS92MS8zZHMvY2FsbGJhY2siLCJ0aHJlZURTU2VydmVyVHJhbnNJRCI6ImU2YmNjM2RiLTAwZjQtNDdiZi05OTgwLTljZjE2MTUxOGM5NyJ9
                    card:
                      type: object
                      properties:
                        first6:
                          type: string
                          example: '401881'
                        first4:
                          type: string
                          example: '4018'
                        last4:
                          type: string
                          example: '0010'
                        cardHolderName:
                          type: string
                          example: Jason Harmon
                        cardType:
                          type: string
                          example: Visa
                        expirationDate:
                          type: string
                          example: 2023-12
                        guid:
                          type: string
                          example: c6b816a3-f107-40d5-9dc3-bcefc576c8bc
                    exemptThreeDSRequest:
                      type: boolean
                      example: false
                      default: true
                    exemptThreeDSPayment:
                      type: boolean
                      example: false
                      default: true
                - title: 3DS Cardholder Challenge Response Example
                  type: object
                  properties:
                    guid:
                      type: string
                      example: a41dd8ab-8629-42c0-8a6f-8b9162a93ccc
                    status:
                      type: string
                      example: 3DS - Pending User Challenge
                    timeStamp:
                      type: string
                      example: '2023-08-16T16:45:23.9986814Z'
                    deviceGuid:
                      type: string
                      example: e639a1dc-5cc4-43de-ab74-d5bea6c6b107
                    amount:
                      type: number
                      example: 1.34
                      default: 0
                    threeDSStatus:
                      type: string
                      example: C
                    directoryServerTransactionID:
                      type: string
                      example: 72f4afb2-c057-4abc-b054-9fae4b4ceb49
                    acsTransactionId:
                      type: string
                      example: 7c6670d1-d888-4af5-b5f4-db286ba6c20a
                    version:
                      type: string
                      example: 2.1.0
                    redirectUrl:
                      type: string
                      example: https://x3d-any-int.credorax.net/challenge/request/CONN2978/2534bb4d055f10423709276026df821ff3c8
                    card:
                      type: object
                      properties:
                        first6:
                          type: string
                          example: '401881'
                        first4:
                          type: string
                          example: '4018'
                        last4:
                          type: string
                          example: '0015'
                        cardHolderName:
                          type: string
                          example: Jason Harmon
                        cardType:
                          type: string
                          example: Visa
                        expirationDate:
                          type: string
                          example: 2023-12
                        guid:
                          type: string
                          example: 2c032f47-f7ab-4849-9715-0b4bacf252a3
                    exemptThreeDSRequest:
                      type: boolean
                      example: false
                      default: true
                    exemptThreeDSPayment:
                      type: boolean
                      example: false
                      default: true
      x-readme:
        code-samples:
        - language: json
          code: "{\n   \"DeviceGuid\":\"{{Device}}\",\n   \"Amount\":280,\n   \"TenderType\":\"Credit\",\n   \"SequenceNumber\":\"8497421\",\n   \"OrderNumber\":\"12345\",\n   \"ActivationDate\": \"2020-01-01\",\n   \"SendReceipt\":true,\n   \"RiskProcessingOnly\":false,\n   \"StatementDescription\":\"Agent Booking 123\",\n   \"CustomerId\":\"xt147\",\n   \"ConnexPayTransaction\":{\n      \"ExpectedPayments\":9\n   },\n   \"RiskData\":{\n      \"Name\":\"John Doe\",\n      \"Gender\":\"M\",\n      \"DateOfBirth\":\"1993-03-18\",\n      \"BillingPhoneNumber\":\"9177563046\",\n      \"BillingAddress1\":\"151 E 33rd St\",\n      \"BillingAddress2\":\"Second Floor\",\n      \"BillingCity\":\"New York\",\n      \"BillingState\":\"NY\",\n      \"BillingPostalCode\":\"10016\",\n      \"BillingCountryCode\":\"US\",\n      \"Email\":\"johnd@gmail.com\",\n      \"ProductType\":\"Flight\",\n      \"ProductDesc\":\"Flight from London to New York\",\n      \"ProductItem\":\"784GTWJFK856\",\n      \"ProductQuantity\":4,\n      \"ProductPrice\":\"42400\",\n      \"OrderNumber\":\"857B2\",\n      \"SellerId\":\"AG75597\",\n      \"FlightData\":{\n         \"Airline\":\"American Airlines\",\n         \"DepartureAirport\":\"Gatwick\",\n         \"DepartureDate\":\"2020-06-30\",\n         \"DestinationAirport\":\"JFK\",\n         \"HoursToDeparture\":5,\n         \"JourneyType\":\"Day\",\n         \"Route\":\"Direct\",\n         \"RouteByCountry\":\"UK, USA\"\n      },\n     \"Card\":{\n      \"CardNumber\":\"4716317307520473\",\n      \"CardHolderName\":\"John Doe\",\n      \"Cvv2\":\"999\",\n      \"ExpirationDate\":\"1912\",\n      \"Customer\":{\n         \"FirstName\":\"John\",\n         \"LastName\":\"Doe\",\n         \"Phone\":\"9177563007\",\n         \"City\":\"New York\",\n         \"State\":\"NY\",\n         \"Country\":\"US\",\n         \"Email\":\"johnd@gmail.com\",\n         \"Address1\":\"107 7th Av.\",\n         \"Address2\":\"\",\n         \"Zip\":\"10007\",\n         \"DateOfBirth\":\"1990-12-07\",\n         \"DriverLicenseNumber\":\"12345678\",\n         \"DriverLicenseState\":\"TX\",\n         \"SSN4\":\"1210\"\n      }\n   \n}"
          name: Create Delayed Activation Sale Request Example
        samples-languages:
        - json
      tags:
      - Sales
components:
  securitySchemes:
    sec0:
      type: oauth2
      flows: {}
x-readme:
  headers: []
  explorer-enabled: false
  proxy-enabled: false
x-readme-fauxas: true
