openapi: 3.2.0
info:
  title: sales-api Merchant Self Service Funding API
  version: '1.0'
servers:
- url: https://sandboxsalesapi.connexpay.com
security:
- sec0: []
tags:
- name: MerchantSelfServiceFunding
paths:
  /api/v1/MerchantSelfServiceFunding:
    post:
      summary: Client Self-Service Funding
      description: Use this endpoint to fund or withdraw your merchant cash balance with your merchant bank account.
      operationId: merchantselfservicefunding
      parameters:
      - name: Content-Type
        in: header
        description: '"application/json"'
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'Token. Eg: "Bearer eHSN5rTBzqDozgAAlN1UlTMVuIT1zSiAZWCo6E..."'
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - merchantGUID
              - amount
              - isFundCashBalance
              properties:
                merchantGUID:
                  type: string
                  description: The merchant's GUID. Value provided by ConnexPay.
                amount:
                  type: number
                  description: Self-service funding amount that will be processed. Maximum transaction and daily funding limits are set by ConnexPay.
                  format: float
                isFundCashBalance:
                  type: boolean
                  description: 'true: Fund your merchant cash balance from your merchant bank account. false: Withdraw your merchant cash balance and ConnexPay will credit your merchant bank account.'
                customerID:
                  type: string
                  description: The Customer ID value can be used to reconcile this entry to a Sale or Purchase in the future by using the same Customer ID.
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value:
                    guid: 99a175e6-f2e3-422e-915c-4f71bfb6b1be
                    merchantGuid: f758a448-7780-4b50-93a1-28329e37f94f
                    requestIp: 127.0.0.1
                    amount: 12.2
                    isFundCashBalance: false
                    bankAccount:
                      guid: 965a67b0-cd0e-4020-973b-5e0d1b4bd6e2
                      accountType: Saving
                      accountNumberLastFour: '2222'
                      nameOnAccount: Merchant DBA Name
                      customer:
                        guid: b364a8c9-20e5-462b-bb0b-f504302e3175
                        businessName: Merchant DBA Name
              schema:
                type: object
                properties:
                  merchantGuid:
                    type: string
                    example: f758a448-7780-4b50-93a1-28329e37f94f
                  requestIp:
                    type: string
                    example: 127.0.0.1
                  amount:
                    type: number
                    example: 12.2
                    default: 0
                  isFundCashBalance:
                    type: boolean
                    example: false
                    default: true
                  bankAccount:
                    type: object
                    properties:
                      guid:
                        type: string
                        example: 965a67b0-cd0e-4020-973b-5e0d1b4bd6e2
                      accountType:
                        type: string
                        example: Saving
                      accountNumberLastFour:
                        type: string
                        example: '2222'
                      nameOnAccount:
                        type: string
                        example: Merchant DBA Name
                      customer:
                        type: object
                        properties:
                          guid:
                            type: string
                            example: b364a8c9-20e5-462b-bb0b-f504302e3175
                          businessName:
                            type: string
                            example: Merchant DBA Name
        '422':
          description: '422'
          content:
            application/json:
              examples:
                Result:
                  value: "{    \n    \"message\": \"Something went wrong on creating merchant self service funding request.\",\n    \"errorCode\": 207000,\n    \"errorId\": \"637832099954665799\"\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Something went wrong on creating merchant self service funding request.
                  errorCode:
                    type: integer
                    example: 207000
                    default: 0
                  errorId:
                    type: string
                    example: '637832099954665799'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: "{    \n    \"message\": \"An error has occurred.\",\n    \"exceptionMessage\": \"Object reference not set to an instance of an object.\",\n    \"exceptionType\": \"System.NullReferenceException\",\n    \"stackTrace\": \"   at SPG.WebApi.Controllers.MerchantSelfServiceFundingController.<>c__DisplayClass3_0.<<Create>b__0>d.MoveNext() in C:\\\\src\\\\sales\\\\sales\\\\Code\\\\SPG.WebApi\\\\Controllers\\\\Merchant\\\\MerchantSelfServiceFundingController.cs:line 48\\r\\n--- End of stack trace from previous location where exception was thrown ---\\r\\n   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\\r\\n   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)\\r\\n   at System.Runtime.CompilerServices.TaskAwaiter`1.GetResult()\\r\\n   at SPG.WebApi.Controllers.ConnexPayApiController.<SimpleMethodWrapper>d__0.MoveNext() in C:\\\\src\\\\sales\\\\sales\\\\Code\\\\SPG.WebApi\\\\Controllers\\\\ConnexPayApiController.cs:line 23\"\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: An error has occurred.
                  exceptionMessage:
                    type: string
                    example: Object reference not set to an instance of an object.
                  exceptionType:
                    type: string
                    example: System.NullReferenceException
                  stackTrace:
                    type: string
                    example: "   at SPG.WebApi.Controllers.MerchantSelfServiceFundingController.<>c__DisplayClass3_0.<<Create>b__0>d.MoveNext() in C:\\src\\sales\\sales\\Code\\SPG.WebApi\\Controllers\\Merchant\\MerchantSelfServiceFundingController.cs:line 48\n--- End of stack trace from previous location where exception was thrown ---\n   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\n   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)\n   at System.Runtime.CompilerServices.TaskAwaiter`1.GetResult()\n   at SPG.WebApi.Controllers.ConnexPayApiController.<SimpleMethodWrapper>d__0.MoveNext() in C:\\src\\sales\\sales\\Code\\SPG.WebApi\\Controllers\\ConnexPayApiController.cs:line 23"
      tags:
      - MerchantSelfServiceFunding
components:
  securitySchemes:
    sec0:
      type: oauth2
      flows: {}
x-readme:
  headers: []
  explorer-enabled: false
  proxy-enabled: false
x-readme-fauxas: true
