openapi: 3.1.0
info:
  title: sales-api Void API
  version: '1.0'
servers:
- url: https://sandboxsalesapi.connexpay.com
security:
- sec0: []
tags:
- name: Void
paths:
  /api/v1/void:
    post:
      summary: Void
      description: This endpoint creates a void.
      operationId: void
      parameters:
      - name: Content-Type
        in: header
        description: Content-Type Header
        schema:
          type: string
          default: '"application/json"'
      - name: Authorization
        in: header
        description: 'Token. Eg: "Bearer eHSN5rTBzqDozgAAlN1UlTMVuIT1zSiAZWCo6E..."'
        schema:
          type: string
          default: Bearer Token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - DeviceGuid
              properties:
                DeviceGuid:
                  type: string
                  description: Device’s Guid provided by ConnexPay.
                SaleGuid:
                  type: string
                  description: Sale Transaction Guid
                  default: Conditional Mandatory when SaleReferenceNumber, AuthOnlyGuid and ReturnGuid parameters are not present
                ReturnGuid:
                  type: string
                  description: Return's Guid
                  default: Conditional Mandatory when SaleGuid, AuthOnlyGuid and SaleReferenceNumber parameters are not present
                SaleReferenceNumber:
                  type: integer
                  description: Sale Reference Number
                  default: null
                  format: int32
                AuthOnlyGuid:
                  type: string
                  description: Guid to include in request when voiding an Auth Only request.
                  default: Conditional Mandatory when SaleGuid, SaleReferenceNumber and ReturnGuid parameters are not present
                VoidReason:
                  type: string
                  description: 'Indicates the reason the transaction was voided.  Allowed values:  1. POST_AUTH_USER_DECLINE 2. DEVICE_TIMEOUT 3. DEVICE_UNAVAILABLE 4. PARTIAL_REVERSAL 5. TORN_TRANSACTIONS 6. POST_AUTH_CHIP_DECLINE'
                  default: Optional
                Amount:
                  type: number
                  description: 'Amount to be voided.  Note: Amount is be used once only for credit card Sales and should not exceed corresponding Sale’s Amount.'
                  format: float
                SequenceNumber:
                  type: string
                  description: 'Transaction sequence number within client environment. Provide a unique SequenceNumber for each new request. If the same value is sent within 30 minutes it will be considered a duplicate request. Note: value is not searchable or reportable in ConnexPay portal.  The maximum length is 100 alpha-numeric characters.'
                  default: Optional
                OrderNumber:
                  type: string
                  description: 'A value that is commonly used for reporting on and reconciling your PayIns and PayOuts. The Order Number is searchable in the ConnexPay Bridge and referenced in Analytics and reporting, and can be any identifier within your environment to associate with the sale or payment, such as a Record Locator, PNR, or transaction ID. The maximum length is 50 alpha-numeric characters and allows the following special characters: [._ /- ].'
                  default: Optional
            examples:
              Void Request Example:
                value:
                  DeviceGuid: 4b5013f7-b275-4929-8e83-0167c6edf639
                  SaleGuid: c5ac2017-99cb-4b1f-a90e-142cc82b21e5
                  Amount: 20.5
                  SequenceNumber: Sample-seq-1
                  VoidReason: DEVICE_TIMEOUT
              Auth Only Void Request:
                value:
                  DeviceGuid: 884defd8-4f35-466d-b077-482ca6e8ecab
                  AuthOnlyGuid: 44ba0531-d847-489d-ab32-b27a0356d63c
                  VoidReason: DEVICE_TIMEOUT
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Void Response Example:
                  value: "{\n    \"guid\": \"7a4ef786-8288-404d-9340-e837d06784af\",\n    \"amount\": 20.50,\n    \"batchStatus\": \"Batch - Open\",\n    \"timeStamp\": \"2017-07-11T11:05:46.31\",\n    \"deviceGuid\": \"8f65764d-72c1-4dee-ac9f-4cd4c98e8c35\",\n    \"saleGuid\": \"bfff1a26-4207-4871-9597-48282e3fcfea\",\n    \"status\": \"Transaction - Approved\",\n    \"voidReason\": \"DEVICE_TIMEOUT\",\n    \"processorStatusCode\": \"A0000\",\n    \"wasProcessed\": true,\n    \"batchGuid\": \"1564cb1b-eddb-4747-9565-61a7d7d225f9\",\n    \"authCode\": \"VTLMC1\",\n    \"refNumber\": \"13283644\",\n    \"invoiceNumber\": \"11518\",\n    \"customerReceipt\": \"SUR TECHNOLOGY HOLDINGS\\n8320 S HARDY DRIVE\\nTEMPE AZ 85284\\n07/11/2017 07:05:50\\n\\nCREDIT - VOID\\n\\nCARD # : **** **** **** 0213\\nCARD TYPE :MASTERCARD\\nEntry Mode : MANUAL\\n\\nREF # : 13283644\\nInvoice number : 11518\\n\\nVoid Amount:                    $19.74\\n--------------------------------------\\n\\n\\n\\nJohn Doe\\n\\nCUSTOMER ACKNOWLEDGES RECEIPT OF\\nGOODS AND/OR SERVICES IN THE AMOUNT\\nOF THE TOTAL SHOWN HEREON AND AGREES\\nTO PERFORM THE OBLIGATIONS SET FORTH\\nBY THE CUSTOMER`S AGREEMENT WITH THE\\nISSUER\\nAPPROVED\\n\\n\\n\\n\\nCustomer Copy\\n\",\n    \"sequenceNumber\": \"Sample-seq-1\",\n    \"sale\": {\n        \"guid\": \"bfff1a26-4207-4871-9597-48282e3fcfea\",\n        \"status\": \"Transaction - Approved\",\n        \"batchStatus\": \"Batch - Open\",\n        \"timeStamp\": \"2017-07-11T11:05:24.65\",\n        \"deviceGuid\": \"8f65764d-72c1-4dee-ac9f-4cd4c98e8c35\",\n        \"amount\": 19.74,\n        \"effectiveAmount\": 0,\n        \"orderNumber\": \"11518\",\n        \"orderDate\": \"2017-02-03T00:00:00\",\n        \"batchGuid\": \"1564cb1b-eddb-4747-9565-61a7d7d225f9\",\n        \"processorStatusCode\": \"A0000\",\n        \"processorResponseMessage\": \"Success\",\n        \"wasProcessed\": true,\n        \"authCode\": \"VTLMC1\",\n        \"refNumber\": \"13283644\",\n        \"invoiceNumber\": \"11518\",\n        \"customerReceipt\": \"SUR TECHNOLOGY HOLDINGS\\n8320 S HARDY DRIVE\\nTEMPE AZ 85284\\n07/11/2017 07:05:27\\n\\nCREDIT - SALE\\n\\nCARD # : **** **** **** 0213\\nCARD TYPE :MASTERCARD\\nEntry Mode : MANUAL\\n\\nREF # : 13283644\\nInvoice number : 11518\\nAUTH CODE : VTLMC1\\nSubtotal:                       $19.74\\n--------------------------------------\\nTotal:                          $19.74\\n--------------------------------------\\n\\n\\n\\nJohn Doe\\n\\nCUSTOMER ACKNOWLEDGES RECEIPT OF\\nGOODS AND/OR SERVICES IN THE AMOUNT\\nOF THE TOTAL SHOWN HEREON AND AGREES\\nTO PERFORM THE OBLIGATIONS SET FORTH\\nBY THE CUSTOMER`S AGREEMENT WITH THE\\nISSUER\\nAPPROVED\\n\\n\\n\\n\\nCustomer Copy\\n\",\n        \"customData\": \"order details\",\n        \"card\": {\n            \"first4\": \"5306\",\n            \"last4\": \"0213\",\n            \"cardNumber\": \"1zcGT7J4pkGh0213\",\n            \"cardHolderName\": \"John Doe\",\n            \"expirationDate\": \"2019-07\",\n            \"customer\": {\n                \"guid\": \"d1cf828d-3050-4e4c-b7cf-f4038d114d39\",\n                \"firstName\": \"John\",\n                \"lastName\": \"Doe\",\n                \"phone\": \"9177563007\",\n                \"city\": \"New York\",\n                \"country\": \"US\",\n                \"email\": \"johnd@gmail.com\",\n                \"zip\": \"10007\",\n                \"address1\": \"107 7th Av.\",\n                \"address2\": \"\",\n                \"state\": \"NY\",\n                \"dateOfBirth\": \"1987-07-07T00:00:00\",\n                \"driverLicenseNumber\": \"12345678\",\n                \"driverLicenseState\": \"TX\",\n                \"ssN4\": \"1210\"\n            }\n        }\n    }\n}"
              schema:
                type: object
                properties:
                  guid:
                    type: string
                    example: 7a4ef786-8288-404d-9340-e837d06784af
                  amount:
                    type: number
                    example: 20.5
                    default: 0
                  batchStatus:
                    type: string
                    example: Batch - Open
                  timeStamp:
                    type: string
                    example: '2017-07-11T11:05:46.31'
                  deviceGuid:
                    type: string
                    example: 8f65764d-72c1-4dee-ac9f-4cd4c98e8c35
                  saleGuid:
                    type: string
                    example: bfff1a26-4207-4871-9597-48282e3fcfea
                  status:
                    type: string
                    example: Transaction - Approved
                  voidReason:
                    type: string
                    example: DEVICE_TIMEOUT
                  processorStatusCode:
                    type: string
                    example: A0000
                  wasProcessed:
                    type: boolean
                    example: true
                    default: true
                  batchGuid:
                    type: string
                    example: 1564cb1b-eddb-4747-9565-61a7d7d225f9
                  authCode:
                    type: string
                    example: VTLMC1
                  refNumber:
                    type: string
                    example: '13283644'
                  invoiceNumber:
                    type: string
                    example: '11518'
                  customerReceipt:
                    type: string
                    example: 'SUR TECHNOLOGY HOLDINGS

                      8320 S HARDY DRIVE

                      TEMPE AZ 85284

                      07/11/2017 07:05:50


                      CREDIT - VOID


                      CARD # : **** **** **** 0213

                      CARD TYPE :MASTERCARD

                      Entry Mode : MANUAL


                      REF # : 13283644

                      Invoice number : 11518


                      Void Amount:                    $19.74

                      --------------------------------------




                      John Doe


                      CUSTOMER ACKNOWLEDGES RECEIPT OF

                      GOODS AND/OR SERVICES IN THE AMOUNT

                      OF THE TOTAL SHOWN HEREON AND AGREES

                      TO PERFORM THE OBLIGATIONS SET FORTH

                      BY THE CUSTOMER`S AGREEMENT WITH THE

                      ISSUER

                      APPROVED





                      Customer Copy

                      '
                  sequenceNumber:
                    type: string
                    example: Sample-seq-1
                  sale:
                    type: object
                    properties:
                      guid:
                        type: string
                        example: bfff1a26-4207-4871-9597-48282e3fcfea
                      status:
                        type: string
                        example: Transaction - Approved
                      batchStatus:
                        type: string
                        example: Batch - Open
                      timeStamp:
                        type: string
                        example: '2017-07-11T11:05:24.65'
                      deviceGuid:
                        type: string
                        example: 8f65764d-72c1-4dee-ac9f-4cd4c98e8c35
                      amount:
                        type: number
                        example: 19.74
                        default: 0
                      effectiveAmount:
                        type: integer
                        example: 0
                        default: 0
                      orderNumber:
                        type: string
                        example: '11518'
                      orderDate:
                        type: string
                        example: '2017-02-03T00:00:00'
                      batchGuid:
                        type: string
                        example: 1564cb1b-eddb-4747-9565-61a7d7d225f9
                      processorStatusCode:
                        type: string
                        example: A0000
                      processorResponseMessage:
                        type: string
                        example: Success
                      wasProcessed:
                        type: boolean
                        example: true
                        default: true
                      authCode:
                        type: string
                        example: VTLMC1
                      refNumber:
                        type: string
                        example: '13283644'
                      invoiceNumber:
                        type: string
                        example: '11518'
                      customerReceipt:
                        type: string
                        example: 'SUR TECHNOLOGY HOLDINGS

                          8320 S HARDY DRIVE

                          TEMPE AZ 85284

                          07/11/2017 07:05:27


                          CREDIT - SALE


                          CARD # : **** **** **** 0213

                          CARD TYPE :MASTERCARD

                          Entry Mode : MANUAL


                          REF # : 13283644

                          Invoice number : 11518

                          AUTH CODE : VTLMC1

                          Subtotal:                       $19.74

                          --------------------------------------

                          Total:                          $19.74

                          --------------------------------------




                          John Doe


                          CUSTOMER ACKNOWLEDGES RECEIPT OF

                          GOODS AND/OR SERVICES IN THE AMOUNT

                          OF THE TOTAL SHOWN HEREON AND AGREES

                          TO PERFORM THE OBLIGATIONS SET FORTH

                          BY THE CUSTOMER`S AGREEMENT WITH THE

                          ISSUER

                          APPROVED





                          Customer Copy

                          '
                      customData:
                        type: string
                        example: order details
                      card:
                        type: object
                        properties:
                          first4:
                            type: string
                            example: '5306'
                          last4:
                            type: string
                            example: '0213'
                          cardNumber:
                            type: string
                            example: 1zcGT7J4pkGh0213
                          cardHolderName:
                            type: string
                            example: John Doe
                          expirationDate:
                            type: string
                            example: 2019-07
                          customer:
                            type: object
                            properties:
                              guid:
                                type: string
                                example: d1cf828d-3050-4e4c-b7cf-f4038d114d39
                              firstName:
                                type: string
                                example: John
                              lastName:
                                type: string
                                example: Doe
                              phone:
                                type: string
                                example: '9177563007'
                              city:
                                type: string
                                example: New York
                              country:
                                type: string
                                example: US
                              email:
                                type: string
                                example: johnd@gmail.com
                              zip:
                                type: string
                                example: '10007'
                              address1:
                                type: string
                                example: 107 7th Av.
                              address2:
                                type: string
                                example: ''
                              state:
                                type: string
                                example: NY
                              dateOfBirth:
                                type: string
                                example: '1987-07-07T00:00:00'
                              driverLicenseNumber:
                                type: string
                                example: '12345678'
                              driverLicenseState:
                                type: string
                                example: TX
                              ssN4:
                                type: string
                                example: '1210'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Void
components:
  securitySchemes:
    sec0:
      type: oauth2
      flows: {}
x-readme:
  headers: []
  explorer-enabled: false
  proxy-enabled: false
x-readme-fauxas: true
