openapi: 3.1.0
info:
  title: Connexpay Token API
  version: '1.0'
  description: 'Operations tagged Token across 2 of this provider''s published API definitions: connexpay-purchases-openapi.yml, connexpay-sales-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandboxpurchasesapi.connexpay.com
- url: https://sandboxsalesapi.connexpay.com
security:
- sec0: []
tags:
- name: Token
paths:
  /api/v1/token:
    post:
      summary: Issuing Token
      description: API requests require a combination of assigned user name, password, and successfully generated authentication token. The received token is valid for 24 hours from issuance and may be used for all requests during its lifespan.
      operationId: issuing-token
      parameters:
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
          default: '"application/x-www-form-urlencoded"'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - grant_type
              - username
              - password
              properties:
                grant_type:
                  type: string
                username:
                  type: string
                  description: CXP provided username
                password:
                  type: string
                  description: CXP provided password
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Generate Purchase Token Response Example:
                  value: "{\n    \"access_token\": \"eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA1L3htbGRzaWctbW9yZSNobWFjLXNoYTI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhcnJzYW5kYm94dGVzdCIsInJvbGUiOiJ1c2VyIiwiZ2F0ZXdheU1lcmNoYW50R3VpZHMiOiI0MTc0OTc1ZC00ZWI4LTQ1YTEtYTliNS1jZTFiNTk2ZGJjMzUiLCJnYXRld2F5TWVyY2hhbnRHdWlkc0FuZENoaWxkcmVuIjoiNDE3NDk3NWQtNGViOC00NWExLWE5YjUtY2UxYjU5NmRiYzM1IiwiZ2F0ZXdheURldmljZUd1aWRzIjoiNzQ1YmE5YTEtN2YxYi00NzI4LThlM2EtZTRkZmM4NTI2ZGZhIiwibmJmIjoxNjg1OTg2NTkyLCJleHAiOjE2ODYwNzI5OTIsImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3Q6NTMwOTciLCJhdWQiOiJHNW9JTmZuVGlLWGRkS0RDR2twMlFCb0FxOFYxS0QyZiJ9.cnA1aljvC1n6_DLis18pNgF-lzzfyIk30CKqlm1lX3k\",\n    \"token_type\": \"bearer\",\n    \"expires_in\": 86399\n}"
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA1L3htbGRzaWctbW9yZSNobWFjLXNoYTI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhcnJzYW5kYm94dGVzdCIsInJvbGUiOiJ1c2VyIiwiZ2F0ZXdheU1lcmNoYW50R3VpZHMiOiI0MTc0OTc1ZC00ZWI4LTQ1YTEtYTliNS1jZTFiNTk2ZGJjMzUiLCJnYXRld2F5TWVyY2hhbnRHdWlkc0FuZENoaWxkcmVuIjoiNDE3NDk3NWQtNGViOC00NWExLWE5YjUtY2UxYjU5NmRiYzM1IiwiZ2F0ZXdheURldmljZUd1aWRzIjoiNzQ1YmE5YTEtN2YxYi00NzI4LThlM2EtZTRkZmM4NTI2ZGZhIiwibmJmIjoxNjg1OTg2NTkyLCJleHAiOjE2ODYwNzI5OTIsImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3Q6NTMwOTciLCJhdWQiOiJHNW9JTmZuVGlLWGRkS0RDR2twMlFCb0FxOFYxS0QyZiJ9.cnA1aljvC1n6_DLis18pNgF-lzzfyIk30CKqlm1lX3k
                  token_type:
                    type: string
                    example: bearer
                  expires_in:
                    type: integer
                    example: 86399
                    default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: "curl --location 'https://sandboxpurchasesapi.connexpay.com/api/v1/token' \n--header 'Content-Type: application/x-www-form-urlencoded' \n--data-urlencode 'grant_type=password' \n--data-urlencode 'username={{username}}' \n--data-urlencode 'password={{password}}'"
          name: GENERATE PURCHASE TOKEN REQUEST EXAMPLE
        samples-languages:
        - curl
      tags:
      - Token
    servers:
    - url: https://sandboxpurchasesapi.connexpay.com
components:
  securitySchemes:
    sec0:
      type: http
      scheme: basic
x-refined-from:
- connexpay-purchases-openapi.yml
- connexpay-sales-openapi.yml
x-readme:
  headers:
  - key: Authorization
    value: Basic <JWT>
  explorer-enabled: false
  proxy-enabled: true
x-readme-fauxas: true
