openapi: 3.2.0
info:
  title: sales-api Captures API
  version: '1.0'
servers:
- url: https://sandboxsalesapi.connexpay.com
security:
- sec0: []
tags:
- name: Captures
paths:
  /api/v1/Captures:
    post:
      summary: Capture
      description: Call this endpoint to Capture an Authorization so that it settles
      operationId: capture
      parameters:
      - name: Content-Type
        in: header
        description: '"application/json"'
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'Token. Eg: "Bearer eHSN5rTBzqDozgAAlN1UlTMVuIT1zSiAZWCo6E..."'
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - DeviceGuid
              - AuthOnlyGuid
              properties:
                DeviceGuid:
                  type: string
                  description: Device's Guid provided by ConnexPay.
                AuthOnlyGuid:
                  type: string
                  description: Guid received from the AuthOnly operation.
                SequenceNumber:
                  type: string
                  description: 'Transaction sequence number within client environment. Provide a unique SequenceNumber for each new request. If the same value is sent within 30 minutes it will be considered a duplicate request. Note: value is not searchable or reportable in ConnexPay portal.  The maximum length is 100 alpha-numeric characters.'
                ConnexPayTransaction:
                  type: object
                  description: ConnexPay Transaction.
                  required:
                  - ExpectedPayments
                  properties:
                    ExpectedPayments:
                      type: integer
                      description: This is the number of outbound payments that will be made to suppliers. If paying a single supplier the value is 1, if paying two suppliers the value is 2, etc.
                      format: int32
                OrderNumber:
                  type: string
                  description: 'A value that is commonly used for reporting on and reconciling your PayIns and PayOuts.  The Order Number is searchable in the ConnexPay Bridge and referenced in Analytics and reporting, and can be any identifier within your environment to associate with the sale or payment, such as a Record Locator, PNR, or transaction ID.  The maximum length is 50 alpha-numeric characters and allows the following special characters: [._ /- ]. If you provide an Order Number in the AUTH request, it will be overwritten with the Order Number input in the CAPTURE request.'
                CustomerID:
                  type: string
                  description: 'Transaction ID within client environment associated with the customer. This value acts as a secondary identifier in conjunction with OrderNumber. The value is searchable and reportable in the ConnexPay portal. This value may be sent in multiple times within the integration for multiple purposes. The maximum length is 100 characters and is alpha-numeric and the following special characters: [._/-].'
                AssociationID:
                  type: string
                  description: 'Utilize the Association ID field to tie a virtual card to a sale or sales. For example, if you have several sales and one virtual card payment to a supplier, you can add association ID to the sales and the virtual card for downstream reporting. The maximum length is 100 characters and is alpha-numeric and the following special characters: [._/-].'
            examples:
              Create Capture Request Example:
                value:
                  DeviceGuid: '{{Device}}'
                  AuthOnlyGuid: '{{AuthOnlyGuid}}'
                  OrderNumber: A1234
                  CustomerID: R2D2-C3PO
                  SequenceNumber: capture5
                  ConnexpayTransaction:
                    ExpectedPayments: 5
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Create Capture Response Example:
                  value: "{\n    \"guid\": \"5669a85c-d1a4-43ac-b799-8bc7f4ffb509\",\n    \"sale\": {\n        \"guid\": \"52785a8e-9616-4e1c-b01d-365a99b256b0\",\n        \"status\": \"Transaction - Approved\",\n        \"type\": \"Default\",\n        \"batchStatus\": \"Batch - Open\",\n        \"timeStamp\": \"2020-07-12T21:58:00.15+06:00\",\n        \"deviceGuid\": \"0b7a9536-9fcd-4074-a841-d47eef77b81b\",\n        \"amount\": 10.00,\n        \"activated\": true,\n        \"tenderType\": \"Credit\",\n        \"effectiveAmount\": 10.00,\n        \"riskResponse\": {\n            \"transactionId\": \"DGG80N33TZTR\",\n            \"response\": \"Approved\",\n            \"reason\": \"\",\n            \"score\": \"34\"\n        },\n        \"orderNumber\": \"159874\",\n        \"cardDataSource\": \"INTERNET\",\n        \"customerID\": \"xt147\",\n        \"batchGuid\": \"5a80016c-d96f-4339-8e84-47aaf7aff2fd\",\n        \"connexPayTransaction\": {\n            \"guid\": \"9eb92a4c-2cd2-4ffa-9959-498aae8a7279\",\n            \"expectedPayments\": 5,\n            \"incomingTransCode\": \"B549C92637301662802350529\"\n        },\n        \"processorStatusCode\": \"A0000\",\n        \"processorResponseMessage\": \"Success\",\n        \"wasProcessed\": true,\n        \"authCode\": \"VTLMC1\",\n        \"refNumber\": \"23181066\",\n        \"customerReceipt\": \"Agent Booking 123\\\\n8320 S HARDY DRIVE\\\\nTEMPE AZ 85284\\\\n07/12/2020 02:57:57\\\\n\\\\nCREDIT - SALE\\\\n\\\\nCARD # : **** **** **** 4111\\\\nCARD TYPE :MASTERCARD\\\\nEntry Mode : MANUAL\\\\n\\\\nTRANSACTION ID : 23181066\\\\nInvoice number : 159874\\\\nAUTH CODE : VTLMC1\\\\nSubtotal:                       $10.00\\\\n--------------------------------------\\\\nTotal:                          $10.00\\\\n--------------------------------------\\\\n\\\\n\\\\n\\\\nJohn Doe\\\\n\\\\nCUSTOMER ACKNOWLEDGES RECEIPT OF\\\\nGOODS AND/OR SERVICES IN THE AMOUNT\\\\nOF THE TOTAL SHOWN HEREON AND AGREES\\\\nTO PERFORM THE OBLIGATIONS SET FORTH\\\\nBY THE CUSTOMER'S AGREEMENT WITH THE\\\\nISSUER\\\\nAPPROVED\\\\n\\\\n\\\\n\\\\n\\\\nCustomer Copy\\\\n\",\n        \"statementDescription\": \"Agent Booking 123\",\n        \"generatedBy\": \"rrmerchant\",\n        \"card\": {\n            \"first6\": \"541333\",\n            \"first4\": \"5413\",\n            \"last4\": \"4111\",\n            \"cardHolderName\": \"John Doe\",\n            \"cardType\": \"Mastercard\",\n            \"expirationDate\": \"2019-12\",\n            \"customer\": {\n                \"guid\": \"20fbe746-21c5-4325-b307-c46765061efe\",\n                \"firstName\": \"John\",\n                \"lastName\": \"Doe\",\n                \"dateOfBirth\": \"1990-12-07T00:00:00\",\n                \"address1\": \"107 7th Av.\",\n                \"address2\": \"\",\n                \"zip\": \"10007\",\n                \"city\": \"New York\",\n                \"state\": \"NY\",\n                \"country\": \"US\",\n                \"phone\": \"9177563007\",\n                \"email\": \"johnd@gmail.com\",\n                \"ssN4\": \"1210\",\n                \"driverLicenseNumber\": \"12345678\",\n                \"driverLicenseState\": \"TX\"\n            },\n            \"guid\": \"fb0377b7-d6d2-4e61-b30a-f590f39b2ea8\"\n        },\n        \"addressVerificationCode\": \"N\",\n        \"addressVerificationResult\": \"No match. Acquirer sent postal/ZIP code only, or street address only, or both postal/ZIP and street address.\",\n        \"cvvVerificationCode\": \"M\",\n        \"cvvVerificationResult\": \"CVV2 Match. Indicates that the Funds Transfer API or the issuer was able to verify the CVV2 value provided by the merchant.\"\n    }\n}"
              schema:
                type: object
                properties:
                  guid:
                    type: string
                    example: 5669a85c-d1a4-43ac-b799-8bc7f4ffb509
                  sale:
                    type: object
                    properties:
                      guid:
                        type: string
                        example: 52785a8e-9616-4e1c-b01d-365a99b256b0
                      status:
                        type: string
                        example: Transaction - Approved
                      type:
                        type: string
                        example: Default
                      batchStatus:
                        type: string
                        example: Batch - Open
                      timeStamp:
                        type: string
                        example: '2020-07-12T21:58:00.15+06:00'
                      deviceGuid:
                        type: string
                        example: 0b7a9536-9fcd-4074-a841-d47eef77b81b
                      amount:
                        type: integer
                        example: 10
                        default: 0
                      activated:
                        type: boolean
                        example: true
                        default: true
                      tenderType:
                        type: string
                        example: Credit
                      effectiveAmount:
                        type: integer
                        example: 10
                        default: 0
                      riskResponse:
                        type: object
                        properties:
                          transactionId:
                            type: string
                            example: DGG80N33TZTR
                          response:
                            type: string
                            example: Approved
                          reason:
                            type: string
                            example: ''
                          score:
                            type: string
                            example: '34'
                      orderNumber:
                        type: string
                        example: '159874'
                      cardDataSource:
                        type: string
                        example: INTERNET
                      customerID:
                        type: string
                        example: xt147
                      batchGuid:
                        type: string
                        example: 5a80016c-d96f-4339-8e84-47aaf7aff2fd
                      connexPayTransaction:
                        type: object
                        properties:
                          guid:
                            type: string
                            example: 9eb92a4c-2cd2-4ffa-9959-498aae8a7279
                          expectedPayments:
                            type: integer
                            example: 5
                            default: 0
                          incomingTransCode:
                            type: string
                            example: B549C92637301662802350529
                      processorStatusCode:
                        type: string
                        example: A0000
                      processorResponseMessage:
                        type: string
                        example: Success
                      wasProcessed:
                        type: boolean
                        example: true
                        default: true
                      authCode:
                        type: string
                        example: VTLMC1
                      refNumber:
                        type: string
                        example: '23181066'
                      customerReceipt:
                        type: string
                        example: 'Agent Booking 123\n8320 S HARDY DRIVE\nTEMPE AZ 85284\n07/12/2020 02:57:57\n\nCREDIT - SALE\n\nCARD # : **** **** **** 4111\nCARD TYPE :MASTERCARD\nEntry Mode : MANUAL\n\nTRANSACTION ID : 23181066\nInvoice number : 159874\nAUTH CODE : VTLMC1\nSubtotal:                       $10.00\n--------------------------------------\nTotal:                          $10.00\n--------------------------------------\n\n\n\nJohn Doe\n\nCUSTOMER ACKNOWLEDGES RECEIPT OF\nGOODS AND/OR SERVICES IN THE AMOUNT\nOF THE TOTAL SHOWN HEREON AND AGREES\nTO PERFORM THE OBLIGATIONS SET FORTH\nBY THE CUSTOMER''S AGREEMENT WITH THE\nISSUER\nAPPROVED\n\n\n\n\nCustomer Copy\n'
                      statementDescription:
                        type: string
                        example: Agent Booking 123
                      generatedBy:
                        type: string
                        example: rrmerchant
                      card:
                        type: object
                        properties:
                          first6:
                            type: string
                            example: '541333'
                          first4:
                            type: string
                            example: '5413'
                          last4:
                            type: string
                            example: '4111'
                          cardHolderName:
                            type: string
                            example: John Doe
                          cardType:
                            type: string
                            example: Mastercard
                          expirationDate:
                            type: string
                            example: 2019-12
                          customer:
                            type: object
                            properties:
                              guid:
                                type: string
                                example: 20fbe746-21c5-4325-b307-c46765061efe
                              firstName:
                                type: string
                                example: John
                              lastName:
                                type: string
                                example: Doe
                              dateOfBirth:
                                type: string
                                example: '1990-12-07T00:00:00'
                              address1:
                                type: string
                                example: 107 7th Av.
                              address2:
                                type: string
                                example: ''
                              zip:
                                type: string
                                example: '10007'
                              city:
                                type: string
                                example: New York
                              state:
                                type: string
                                example: NY
                              country:
                                type: string
                                example: US
                              phone:
                                type: string
                                example: '9177563007'
                              email:
                                type: string
                                example: johnd@gmail.com
                              ssN4:
                                type: string
                                example: '1210'
                              driverLicenseNumber:
                                type: string
                                example: '12345678'
                              driverLicenseState:
                                type: string
                                example: TX
                          guid:
                            type: string
                            example: fb0377b7-d6d2-4e61-b30a-f590f39b2ea8
                      addressVerificationCode:
                        type: string
                        example: N
                      addressVerificationResult:
                        type: string
                        example: No match. Acquirer sent postal/ZIP code only, or street address only, or both postal/ZIP and street address.
                      cvvVerificationCode:
                        type: string
                        example: M
                      cvvVerificationResult:
                        type: string
                        example: CVV2 Match. Indicates that the Funds Transfer API or the issuer was able to verify the CVV2 value provided by the merchant.
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Captures
components:
  securitySchemes:
    sec0:
      type: oauth2
      flows: {}
x-readme:
  headers: []
  explorer-enabled: false
  proxy-enabled: false
x-readme-fauxas: true
