openapi: 3.1.0
info:
  title: reporting-authentication Authenticate API
  version: '1.0'
servers:
- url: https://api.cxpbridge.com
security:
- sec0: []
tags:
- name: Authenticate
paths:
  /api/v1/authenticate:
    post:
      summary: Reporting Token
      description: 'Reporting API requests require a combination of assigned Bridge user name, Bridge password, and a successfully generated authentication token. The Bridge credentials used are assigned separately from the Purchase and Sales API credentials. The received token for Reporting is valid for 60 minutes from issuance and may be used for all requests during its lifespan. Note: This endpoint is only valid in the Production environment.'
      operationId: reporting-token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - UserName
              - Password
              properties:
                UserName:
                  type: string
                  description: Assigned username for CXP Bridge
                Password:
                  type: string
                  description: Assigned password for CXP Bridge
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"access_token\": \"Test Bridge Access Token\",\n    \"expires_in\": \"3600\"\n}"
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: Test Bridge Access Token
                  expires_in:
                    type: string
                    example: '3600'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Authenticate
components:
  securitySchemes:
    sec0:
      type: http
      scheme: basic
x-readme:
  headers: []
  explorer-enabled: false
  proxy-enabled: false
x-readme-fauxas: true
