openapi: 3.1.0
info:
  title: sales-api Verify1 API
  version: '1.0'
servers:
- url: https://sandboxsalesapi.connexpay.com
security:
- sec0: []
tags:
- name: Verify1
paths:
  /api/v1/verify1:
    post:
      description: ''
      operationId: post_apiv1verify1
      responses:
        '200':
          description: ''
        '201':
          description: Created
          content:
            application/json:
              examples:
                Verify Card Response Example:
                  value:
                    guid: 9a72c29f-cc89-495c-a2b7-e25faeb850ac
                    status: Transaction - Approved
                    timeStamp: '2022-10-26T09:56:43.07-05:00'
                    deviceGuid: 0b7a9536-9fcd-4074-a841-d47eef77b81b
                    card:
                      first6: '411111'
                      first4: '4111'
                      last4: '1111'
                      cardHolderName: John Verify
                      cardType: Visa
                      expirationDate: 2022-12
                      guid: 0ca56348-fa53-4ef0-87b0-3b3a096a629b
                      customer:
                        guid: c5bf2c6f-3da9-4199-ba84-44208d61efad
                        firstName: John
                        lastName: Verify
                        dateOfBirth: '1991-11-11T00:00:00'
                        address1: 111 11th Av.
                        address2: ''
                        zip: '10011'
                        city: New York
                        country: US
                        phone: '9177563051'
                        email: JohnVerify@test.com
                        ssN4: '1210'
                        driverLicenseNumber: '12345678'
                    addressVerificationCode: N
                    cvvVerificationCode: M
                    processorStatusCode: A0000
                    wasProcessed: true
                  summary: Verify Card Response Example
                Verify Bank Account Response Example:
                  value:
                    guid: 08d690d1-c7db-40db-9057-08877fa2e117
                    status: Transaction - Approved
                    timeStamp: '2022-10-26T09:48:59.14-05:00'
                    deviceGuid: 0b7a9536-9fcd-4074-a841-d47eef77b81b
                    bankAccount:
                      guid: df65d7ef-0f21-4df6-bca0-c56cc0416229
                      accountType: Checking
                      accountNumberLastFour: '2333'
                      nameOnAccount: PR
                      customer:
                        guid: 50fe7902-d3e4-4da2-a015-e847ffadd297
                        firstName: Ping
                        lastName: VerifyTest
                      accountAndRoutingNumberToken: c64giUcZ/gscrJI+r4HSHxs5pUZgk51WIHdIUhcN8WGlPncRcfcWFegqw6n/ZOLViIObEye4kAub8cfP3CCNCv4JZw28vKirJj1SI4sa6N89/RRPSCql4oIS8kxZ9dBdfBbld2znQhrGR80ToS9GiTMcxyFKIt3anSWqZue07CYweaAK/TpE1AJdbCL/CFNyEQQLxy3KgaQoEEa4/MFW7qENJmjqc3uqM3D5BvqwhSxQhyL8ozaRxfSd2f5GB6ipAJgxH5snpuLGi0QAFjdJwHWeh4G21EAUhjqdVsiYjpo/5zWmoZ3mq8Y5j3gXZgutxyaqEsb1QvD/McDvs+0GXA==
                    processorStatusCode: A1
                    wasProcessed: true
                  summary: Verify Bank Account Response Example
      parameters:
      - name: Content-Type
        in: header
        required: false
        description: Content-Type Header
        schema:
          type: string
          default: '"application/json"'
      - name: Authorization
        in: header
        required: false
        description: 'Token. Eg: "Bearer eHSN5rTBzqDozgAAlN1UlTMVuIT1zSiAZWCo6E..."'
        schema:
          type: string
          default: Bearer Token
      requestBody:
        content:
          application/json:
            schema:
              properties:
                DeviceGuid:
                  type: string
                  description: Device's Guid provided by ConnexPay.
                  default: '{{Device}}'
                Card:
                  type: object
                  properties:
                    CardNumber:
                      type: string
                      description: 'Mandatory if Guid field is not provided. Card number. Must be 16 characters. (example: 4532538795426624) or token (example: FfL7exC7Xe2y6624)'
                      default: ''
                    CardHolderName:
                      type: string
                      description: Cardholder's name. Providing information in this field allows a user of the ConnexPay portal to search for a transaction using the cardholder name
                    Cvv2:
                      type: string
                      description: The three or four digit CVV code at the back side of the credit and debit card. This value is required for all card-not-present processing environments
                    ExpirationDate:
                      type: string
                      description: Optional with Token. Card's expiry date in the YYMM format
                    Guid:
                      type: string
                      description: Guid is the unique identifier for a card info generated by Connexpay upon previous Sale creation. Create Sale API will accept either card info or Guid, but not both
                    IsRecurring:
                      type: boolean
                      description: 'Flagging a transaction as "IsRecurring": true allows a recurring sale to be submitted without a valid CVV code, which is only intended for scenarios where you might be storing card data to perform repeated payments on the same card, such as a monthly subscriptions. Typically IsRecurring can be defaulted to False.'
                      default: 'false'
                    Customer:
                      type: object
                      properties:
                        FirstName:
                          type: string
                          description: Mandatory for ACH Sales. Min Length = 2 Max Length = 30
                        LastName:
                          type: string
                          description: Mandatory for ACH Sales. Min Length = 2 Max Length = 30
                        Phone:
                          type: string
                          description: Customer's phone number. Phone number up to 15 characters. Numbers and plus sign (+) allowed only. 3D Secure Authentication requires a valid customer email address or phone number is included.
                        City:
                          type: string
                          description: Customer's City
                        State:
                          type: string
                          description: Customer's short name state. The ISO 3166-2 CA and US state or province code of a customer. Length = 2.
                        Country:
                          type: string
                          description: Customer's country. The ISO country code of a customer’s country. Length = 2
                        Email:
                          type: string
                          description: Customer's valid email address which is available in various reports. It is critical that SendReceipt is set to FALSE so that ConnexPay does not send a receipt to the cardholder when the transaction is processed. 3D Secure Authentication requires a valid customer email address or phone number is included.
                        Address1:
                          type: string
                          description: 'Customer billing address 1. It is strongly recommended to send this value in a card-not-present environment such that enhanced Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction. Note: only the street number value portion of address is used for enhanced AVS check'
                        Address2:
                          type: string
                          description: Customer billing address 2. It is strongly recommended to send this value in a card-not-present environment such that Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction
                        Zip:
                          type: string
                          description: Customer billing postal code. It is strongly recommended to send this value in a card-not-present environment such that basic Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction. Only the a standard U.S. 5 digit zip code is eligible for basic AVS check. Min Length = 2 Max Length = 15. Alphanumerics and "-" allowed.
                        DateOfBirth:
                          type: string
                          description: 'Customer''s date of birth. Allowed format: YYYY-MM-DD. For example: 2002-05-30'
                          format: date
                        DriversLicenseNumber:
                          type: integer
                          description: Customer's driver license number. Only letters, numbers and a hyphen is allowed
                          format: int32
                        DriversLicenseState:
                          type: string
                          description: Mandatory when DriverLicenseNumber is provided. Customer's driver license short name state. The ISO 3166-2 CA and US state or province code of a customer. Length = 2
                        SSN4:
                          type: integer
                          description: Last 4 of Customer's Social Security Number
                          format: int32
                      description: Customer data
                    ThreeDS:
                      type: object
                      properties:
                        SecureCode:
                          type: string
                        Cavv:
                          type: string
                          description: Cardholder authentication verification value.
                        Version:
                          type: string
                          description: Version of 3DS being used.
                        DirectoryServerTransactionId:
                          type: string
                          description: Unique identifier provided by the card scheme as part of 3D Secure authentication.
                        AcsTransactionId:
                          type: string
                          description: Unique Identifier provided by the Access Control Server of the Card Issuer.
                        ECI:
                          type: string
                          description: Displays the Electronic Commerce Indicator (ECI). The ECI indicates the security level of the payment information provided to the merchant. A value of 0, 1 or 2 is a Mastercard transaction. A value of 5, 6 or 7 is a Visa, American Express, Diners or Discover card.
                      description: 'ThreeDS object is required when 3DS authentication parameters are being passed in the Sale or Auth. For US clients: the parameters are identified using the 3DS Authentication endpoint. For EU clients: the parameters are identified when a cardholder challenge and/or fingerprint authentication is required after calling the Create Sale or Auth Only endpoint with the BrowserData object details.'
                  description: Conditional - Mandatory if Verify Card is parameter requested.
                BankAccount:
                  type: object
                  properties:
                    AccountType:
                      type: string
                      description: 'Accepted account types are: Saving or Checking'
                    RoutingNumber:
                      type: string
                      description: 9 Digit routing number
                    AccountNumber:
                      type: string
                      description: Account number up to 20 characters
                    NameOnAccount:
                      type: string
                      description: Name on the account for ACH transfer (upto 50 characters)
                    AccountAndRoutingNumberToken:
                      type: string
                      description: Encrypted Token previously assigned to Bank Account. Either AccountAndRoutingNumberToken or both AccountNumber and RoutingNumber should be provided.
                    Customer:
                      type: object
                      properties:
                        FirstName:
                          type: string
                          description: Mandatory for ACH Sales. Min Length = 2 Max Length = 30
                        LastName:
                          type: string
                          description: Mandatory for ACH Sales. Min Length = 2 Max Length = 30
                        Phone:
                          type: string
                          description: Customer's phone number. Phone number up to 15 characters. Numbers and plus sign (+) allowed only. 3D Secure Authentication requires a valid customer email address or phone number is included.
                        City:
                          type: string
                          description: Customer's City
                        State:
                          type: string
                          description: Customer's short name state. The ISO 3166-2 CA and US state or province code of a customer. Length = 2.
                        Country:
                          type: string
                          description: Customer's country. The ISO country code of a customer’s country. Length = 2
                        Email:
                          type: string
                          description: Customer's valid email address which is available in various reports. It is critical that SendReceipt is set to FALSE so that ConnexPay does not send a receipt to the cardholder when the transaction is processed. 3D Secure Authentication requires a valid customer email address or phone number is included.
                        Address1:
                          type: string
                          description: 'Customer billing address 1. It is strongly recommended to send this value in a card-not-present environment such that enhanced Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction. Note: only the street number value portion of address is used for enhanced AVS check'
                        Address2:
                          type: string
                          description: Customer billing address 2. It is strongly recommended to send this value in a card-not-present environment such that Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction
                        Zip:
                          type: string
                          description: Customer billing postal code. It is strongly recommended to send this value in a card-not-present environment such that basic Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction. Only the a standard U.S. 5 digit zip code is eligible for basic AVS check. Min Length = 2 Max Length = 15. Alphanumerics and "-" allowed.
                        DateOfBirth:
                          type: string
                          description: 'Customer''s date of birth. Allowed format: YYYY-MM-DD. For example: 2002-05-30'
                        DriversLicenseNumber:
                          type: string
                          description: Customer's driver license number. Only letters, numbers and a hyphen is allowed
                        DriversLicenseState:
                          type: string
                          description: Mandatory when DriverLicenseNumber is provided. Customer's driver license short name state. The ISO 3166-2 CA and US state or province code of a customer. Length = 2
                        SSN4:
                          type: string
                          description: Last 4 of Customer's Social Security Number
                  description: Conditional - Mandatory if Verify Bank Account is the parameter requested.
                  required:
                  - AccountType
                  - RoutingNumber
                  - AccountNumber
                  - NameOnAccount
              type: object
              required:
              - DeviceGuid
      x-readme:
        samples-languages:
        - shell
      tags:
      - Verify1
components:
  securitySchemes:
    sec0:
      type: oauth2
      flows: {}
x-readme:
  headers: []
  explorer-enabled: false
  proxy-enabled: false
x-readme-fauxas: true
