openapi: 3.1.0
info:
  title: sales-api
  version: '1.0'
servers:
- url: https://sandboxsalesapi.connexpay.com
components:
  securitySchemes:
    sec0:
      type: oauth2
      flows: {}
security:
- sec0: []
paths:
  /api/v1/token:
    post:
      summary: Sales Token
      description: API requests require a combination of assigned user name, password, and successfully generated authentication token. The received token is valid for 24 hours from issuance and may be used for all requests during its lifespan.
      operationId: sales-token
      parameters:
      - name: Content-Type
        in: header
        description: Content-Type Header
        schema:
          type: string
          default: '"application/x-www-form-urlencoded"'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - grant_type
              - username
              - password
              properties:
                grant_type:
                  type: string
                  default: password
                username:
                  type: string
                  description: CXP provided username
                password:
                  type: string
                  description: CXP provided password
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Generate Sales Token Response Example:
                  value: "{\n    \"access_token\": \"eyJhbGciOiJodHRwO33vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctba3yZSNobWFjLXNoYTI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJrdW5hbHNjYW5hbHMiLCJyb2xlIjoidXNlciIsIm5iZiI6MTY3NTI4MzE4MiwiZXhwIjoxNjc1MzY5NTgyLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjY0NTgzIiwiYXVkdsiRzVvSU5mblRpS1hkZEtEQ0drcDJRQm9BcThjfgUtEMmYifQ.v5BwSGRB8GKpz_-rTvodQxr_8Cdq7Idx_Aaf3foyp7w\",\n    \"token_type\": \"bearer\",\n    \"expires_in\": 86399\n}"
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: eyJhbGciOiJodHRwO33vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctba3yZSNobWFjLXNoYTI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJrdW5hbHNjYW5hbHMiLCJyb2xlIjoidXNlciIsIm5iZiI6MTY3NTI4MzE4MiwiZXhwIjoxNjc1MzY5NTgyLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjY0NTgzIiwiYXVkdsiRzVvSU5mblRpS1hkZEtEQ0drcDJRQm9BcThjfgUtEMmYifQ.v5BwSGRB8GKpz_-rTvodQxr_8Cdq7Idx_Aaf3foyp7w
                  token_type:
                    type: string
                    example: bearer
                  expires_in:
                    type: integer
                    example: 86399
                    default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: ''
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: "curl --location 'https://sandboxsalesapi.connexpay.com/api/v1/token' \n--header 'Content-Type: application/x-www-form-urlencoded' \n--data-urlencode 'grant_type=password' \n--data-urlencode 'username={{username}}' \n--data-urlencode 'password={{password}}'"
          name: Generate Sales Token Request Example
        samples-languages:
        - curl
  /api/v1/void:
    post:
      summary: Void
      description: This endpoint creates a void.
      operationId: void
      parameters:
      - name: Content-Type
        in: header
        description: Content-Type Header
        schema:
          type: string
          default: '"application/json"'
      - name: Authorization
        in: header
        description: 'Token. Eg: "Bearer eHSN5rTBzqDozgAAlN1UlTMVuIT1zSiAZWCo6E..."'
        schema:
          type: string
          default: Bearer Token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - DeviceGuid
              properties:
                DeviceGuid:
                  type: string
                  description: Device’s Guid provided by ConnexPay.
                SaleGuid:
                  type: string
                  description: Sale Transaction Guid
                  default: Conditional Mandatory when SaleReferenceNumber, AuthOnlyGuid and ReturnGuid parameters are not present
                ReturnGuid:
                  type: string
                  description: Return's Guid
                  default: Conditional Mandatory when SaleGuid, AuthOnlyGuid and SaleReferenceNumber parameters are not present
                SaleReferenceNumber:
                  type: integer
                  description: Sale Reference Number
                  default: null
                  format: int32
                AuthOnlyGuid:
                  type: string
                  description: Guid to include in request when voiding an Auth Only request.
                  default: Conditional Mandatory when SaleGuid, SaleReferenceNumber and ReturnGuid parameters are not present
                VoidReason:
                  type: string
                  description: 'Indicates the reason the transaction was voided.  Allowed values:  1. POST_AUTH_USER_DECLINE 2. DEVICE_TIMEOUT 3. DEVICE_UNAVAILABLE 4. PARTIAL_REVERSAL 5. TORN_TRANSACTIONS 6. POST_AUTH_CHIP_DECLINE'
                  default: Optional
                Amount:
                  type: number
                  description: 'Amount to be voided.  Note: Amount is be used once only for credit card Sales and should not exceed corresponding Sale’s Amount.'
                  format: float
                SequenceNumber:
                  type: string
                  description: 'Transaction sequence number within client environment. Provide a unique SequenceNumber for each new request. If the same value is sent within 30 minutes it will be considered a duplicate request. Note: value is not searchable or reportable in ConnexPay portal.  The maximum length is 100 alpha-numeric characters.'
                  default: Optional
                OrderNumber:
                  type: string
                  description: 'A value that is commonly used for reporting on and reconciling your PayIns and PayOuts. The Order Number is searchable in the ConnexPay Bridge and referenced in Analytics and reporting, and can be any identifier within your environment to associate with the sale or payment, such as a Record Locator, PNR, or transaction ID. The maximum length is 50 alpha-numeric characters and allows the following special characters: [._ /- ].'
                  default: Optional
            examples:
              Void Request Example:
                value:
                  DeviceGuid: 4b5013f7-b275-4929-8e83-0167c6edf639
                  SaleGuid: c5ac2017-99cb-4b1f-a90e-142cc82b21e5
                  Amount: 20.5
                  SequenceNumber: Sample-seq-1
                  VoidReason: DEVICE_TIMEOUT
              Auth Only Void Request:
                value:
                  DeviceGuid: 884defd8-4f35-466d-b077-482ca6e8ecab
                  AuthOnlyGuid: 44ba0531-d847-489d-ab32-b27a0356d63c
                  VoidReason: DEVICE_TIMEOUT
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Void Response Example:
                  value: "{\n    \"guid\": \"7a4ef786-8288-404d-9340-e837d06784af\",\n    \"amount\": 20.50,\n    \"batchStatus\": \"Batch - Open\",\n    \"timeStamp\": \"2017-07-11T11:05:46.31\",\n    \"deviceGuid\": \"8f65764d-72c1-4dee-ac9f-4cd4c98e8c35\",\n    \"saleGuid\": \"bfff1a26-4207-4871-9597-48282e3fcfea\",\n    \"status\": \"Transaction - Approved\",\n    \"voidReason\": \"DEVICE_TIMEOUT\",\n    \"processorStatusCode\": \"A0000\",\n    \"wasProcessed\": true,\n    \"batchGuid\": \"1564cb1b-eddb-4747-9565-61a7d7d225f9\",\n    \"authCode\": \"VTLMC1\",\n    \"refNumber\": \"13283644\",\n    \"invoiceNumber\": \"11518\",\n    \"customerReceipt\": \"SUR TECHNOLOGY HOLDINGS\\n8320 S HARDY DRIVE\\nTEMPE AZ 85284\\n07/11/2017 07:05:50\\n\\nCREDIT - VOID\\n\\nCARD # : **** **** **** 0213\\nCARD TYPE :MASTERCARD\\nEntry Mode : MANUAL\\n\\nREF # : 13283644\\nInvoice number : 11518\\n\\nVoid Amount:                    $19.74\\n--------------------------------------\\n\\n\\n\\nJohn Doe\\n\\nCUSTOMER ACKNOWLEDGES RECEIPT OF\\nGOODS AND/OR SERVICES IN THE AMOUNT\\nOF THE TOTAL SHOWN HEREON AND AGREES\\nTO PERFORM THE OBLIGATIONS SET FORTH\\nBY THE CUSTOMER`S AGREEMENT WITH THE\\nISSUER\\nAPPROVED\\n\\n\\n\\n\\nCustomer Copy\\n\",\n    \"sequenceNumber\": \"Sample-seq-1\",\n    \"sale\": {\n        \"guid\": \"bfff1a26-4207-4871-9597-48282e3fcfea\",\n        \"status\": \"Transaction - Approved\",\n        \"batchStatus\": \"Batch - Open\",\n        \"timeStamp\": \"2017-07-11T11:05:24.65\",\n        \"deviceGuid\": \"8f65764d-72c1-4dee-ac9f-4cd4c98e8c35\",\n        \"amount\": 19.74,\n        \"effectiveAmount\": 0,\n        \"orderNumber\": \"11518\",\n        \"orderDate\": \"2017-02-03T00:00:00\",\n        \"batchGuid\": \"1564cb1b-eddb-4747-9565-61a7d7d225f9\",\n        \"processorStatusCode\": \"A0000\",\n        \"processorResponseMessage\": \"Success\",\n        \"wasProcessed\": true,\n        \"authCode\": \"VTLMC1\",\n        \"refNumber\": \"13283644\",\n        \"invoiceNumber\": \"11518\",\n        \"customerReceipt\": \"SUR TECHNOLOGY HOLDINGS\\n8320 S HARDY DRIVE\\nTEMPE AZ 85284\\n07/11/2017 07:05:27\\n\\nCREDIT - SALE\\n\\nCARD # : **** **** **** 0213\\nCARD TYPE :MASTERCARD\\nEntry Mode : MANUAL\\n\\nREF # : 13283644\\nInvoice number : 11518\\nAUTH CODE : VTLMC1\\nSubtotal:                       $19.74\\n--------------------------------------\\nTotal:                          $19.74\\n--------------------------------------\\n\\n\\n\\nJohn Doe\\n\\nCUSTOMER ACKNOWLEDGES RECEIPT OF\\nGOODS AND/OR SERVICES IN THE AMOUNT\\nOF THE TOTAL SHOWN HEREON AND AGREES\\nTO PERFORM THE OBLIGATIONS SET FORTH\\nBY THE CUSTOMER`S AGREEMENT WITH THE\\nISSUER\\nAPPROVED\\n\\n\\n\\n\\nCustomer Copy\\n\",\n        \"customData\": \"order details\",\n        \"card\": {\n            \"first4\": \"5306\",\n            \"last4\": \"0213\",\n            \"cardNumber\": \"1zcGT7J4pkGh0213\",\n            \"cardHolderName\": \"John Doe\",\n            \"expirationDate\": \"2019-07\",\n            \"customer\": {\n                \"guid\": \"d1cf828d-3050-4e4c-b7cf-f4038d114d39\",\n                \"firstName\": \"John\",\n                \"lastName\": \"Doe\",\n                \"phone\": \"9177563007\",\n                \"city\": \"New York\",\n                \"country\": \"US\",\n                \"email\": \"johnd@gmail.com\",\n                \"zip\": \"10007\",\n                \"address1\": \"107 7th Av.\",\n                \"address2\": \"\",\n                \"state\": \"NY\",\n                \"dateOfBirth\": \"1987-07-07T00:00:00\",\n                \"driverLicenseNumber\": \"12345678\",\n                \"driverLicenseState\": \"TX\",\n                \"ssN4\": \"1210\"\n            }\n        }\n    }\n}"
              schema:
                type: object
                properties:
                  guid:
                    type: string
                    example: 7a4ef786-8288-404d-9340-e837d06784af
                  amount:
                    type: number
                    example: 20.5
                    default: 0
                  batchStatus:
                    type: string
                    example: Batch - Open
                  timeStamp:
                    type: string
                    example: '2017-07-11T11:05:46.31'
                  deviceGuid:
                    type: string
                    example: 8f65764d-72c1-4dee-ac9f-4cd4c98e8c35
                  saleGuid:
                    type: string
                    example: bfff1a26-4207-4871-9597-48282e3fcfea
                  status:
                    type: string
                    example: Transaction - Approved
                  voidReason:
                    type: string
                    example: DEVICE_TIMEOUT
                  processorStatusCode:
                    type: string
                    example: A0000
                  wasProcessed:
                    type: boolean
                    example: true
                    default: true
                  batchGuid:
                    type: string
                    example: 1564cb1b-eddb-4747-9565-61a7d7d225f9
                  authCode:
                    type: string
                    example: VTLMC1
                  refNumber:
                    type: string
                    example: '13283644'
                  invoiceNumber:
                    type: string
                    example: '11518'
                  customerReceipt:
                    type: string
                    example: 'SUR TECHNOLOGY HOLDINGS

                      8320 S HARDY DRIVE

                      TEMPE AZ 85284

                      07/11/2017 07:05:50


                      CREDIT - VOID


                      CARD # : **** **** **** 0213

                      CARD TYPE :MASTERCARD

                      Entry Mode : MANUAL


                      REF # : 13283644

                      Invoice number : 11518


                      Void Amount:                    $19.74

                      --------------------------------------




                      John Doe


                      CUSTOMER ACKNOWLEDGES RECEIPT OF

                      GOODS AND/OR SERVICES IN THE AMOUNT

                      OF THE TOTAL SHOWN HEREON AND AGREES

                      TO PERFORM THE OBLIGATIONS SET FORTH

                      BY THE CUSTOMER`S AGREEMENT WITH THE

                      ISSUER

                      APPROVED





                      Customer Copy

                      '
                  sequenceNumber:
                    type: string
                    example: Sample-seq-1
                  sale:
                    type: object
                    properties:
                      guid:
                        type: string
                        example: bfff1a26-4207-4871-9597-48282e3fcfea
                      status:
                        type: string
                        example: Transaction - Approved
                      batchStatus:
                        type: string
                        example: Batch - Open
                      timeStamp:
                        type: string
                        example: '2017-07-11T11:05:24.65'
                      deviceGuid:
                        type: string
                        example: 8f65764d-72c1-4dee-ac9f-4cd4c98e8c35
                      amount:
                        type: number
                        example: 19.74
                        default: 0
                      effectiveAmount:
                        type: integer
                        example: 0
                        default: 0
                      orderNumber:
                        type: string
                        example: '11518'
                      orderDate:
                        type: string
                        example: '2017-02-03T00:00:00'
                      batchGuid:
                        type: string
                        example: 1564cb1b-eddb-4747-9565-61a7d7d225f9
                      processorStatusCode:
                        type: string
                        example: A0000
                      processorResponseMessage:
                        type: string
                        example: Success
                      wasProcessed:
                        type: boolean
                        example: true
                        default: true
                      authCode:
                        type: string
                        example: VTLMC1
                      refNumber:
                        type: string
                        example: '13283644'
                      invoiceNumber:
                        type: string
                        example: '11518'
                      customerReceipt:
                        type: string
                        example: 'SUR TECHNOLOGY HOLDINGS

                          8320 S HARDY DRIVE

                          TEMPE AZ 85284

                          07/11/2017 07:05:27


                          CREDIT - SALE


                          CARD # : **** **** **** 0213

                          CARD TYPE :MASTERCARD

                          Entry Mode : MANUAL


                          REF # : 13283644

                          Invoice number : 11518

                          AUTH CODE : VTLMC1

                          Subtotal:                       $19.74

                          --------------------------------------

                          Total:                          $19.74

                          --------------------------------------




                          John Doe


                          CUSTOMER ACKNOWLEDGES RECEIPT OF

                          GOODS AND/OR SERVICES IN THE AMOUNT

                          OF THE TOTAL SHOWN HEREON AND AGREES

                          TO PERFORM THE OBLIGATIONS SET FORTH

                          BY THE CUSTOMER`S AGREEMENT WITH THE

                          ISSUER

                          APPROVED





                          Customer Copy

                          '
                      customData:
                        type: string
                        example: order details
                      card:
                        type: object
                        properties:
                          first4:
                            type: string
                            example: '5306'
                          last4:
                            type: string
                            example: '0213'
                          cardNumber:
                            type: string
                            example: 1zcGT7J4pkGh0213
                          cardHolderName:
                            type: string
                            example: John Doe
                          expirationDate:
                            type: string
                            example: 2019-07
                          customer:
                            type: object
                            properties:
                              guid:
                                type: string
                                example: d1cf828d-3050-4e4c-b7cf-f4038d114d39
                              firstName:
                                type: string
                                example: John
                              lastName:
                                type: string
                                example: Doe
                              phone:
                                type: string
                                example: '9177563007'
                              city:
                                type: string
                                example: New York
                              country:
                                type: string
                                example: US
                              email:
                                type: string
                                example: johnd@gmail.com
                              zip:
                                type: string
                                example: '10007'
                              address1:
                                type: string
                                example: 107 7th Av.
                              address2:
                                type: string
                                example: ''
                              state:
                                type: string
                                example: NY
                              dateOfBirth:
                                type: string
                                example: '1987-07-07T00:00:00'
                              driverLicenseNumber:
                                type: string
                                example: '12345678'
                              driverLicenseState:
                                type: string
                                example: TX
                              ssN4:
                                type: string
                                example: '1210'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /api/v1/returns:
    post:
      summary: Return
      description: ''
      operationId: return
      parameters:
      - name: Content-Type
        in: header
        description: Content-Type Header
        schema:
          type: string
          default: '"application/json"'
      - name: Authorization
        in: header
        description: 'Token. Eg: "Bearer eHSN5rTBzqDozgAAlN1UlTMVuIT1zSiAZWCo6E..."'
        schema:
          type: string
          default: Bearer Token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - DeviceGuid
              - Amount
              properties:
                DeviceGuid:
                  type: string
                  description: Device's Guid
                SaleGuid:
                  type: string
                  description: Mandatory when SaleReferenceNumber field is not sent. Sale's Guid.
                SaleReferenceNumber:
                  type: integer
                  description: Mandatory when SaleGuid field is not sent. Sale's Reference Number
                  format: int32
                Amount:
                  type: number
                  description: 'Transaction’s amount. Min. amt.: $0.50'
                  format: float
                SequenceNumber:
                  type: string
                  description: 'Transaction sequence number within client environment. Provide a unique SequenceNumber for each new request. If the same value is sent within 30 minutes it will be considered a duplicate request. Note: value is not searchable or reportable in ConnexPay portal.  The maximum length is 100 alpha-numeric characters.'
                ReturnRetryCard:
                  type: object
                  description: Card data to be used in the event a sale return to the original card is declined and a retry to a new card should be attempted. This attempt needs to be made within 7 days of the failed return authorization
                  properties:
                    CardNumber:
                      type: string
                      description: Card number. Must be 16 characters.
                    CardHolderName:
                      type: string
                      description: Cardholder's name
                    Cvv2:
                      type: integer
                      description: The three or four digit CVV code at the back side of the credit and debit card
                      format: int32
                    ExpirationDate:
                      type: string
                      description: Card's expiry date in the YYMM format
                      format: date
                OrderNumber:
                  type: string
                  description: 'A value that is commonly used for reporting on and reconciling your PayIns and PayOuts. The Order Number is searchable in the ConnexPay Bridge and referenced in Analytics and reporting, and can be any identifier within your environment to associate with the sale or payment, such as a Record Locator, PNR, or transaction ID. The maximum length is 50 alpha-numeric characters and allows the following special characters: [._ /- ].'
            examples:
              Return Request Example:
                value:
                  guid: 4f31b350-edd1-49fd-a1ad-4b065f78d7b9
                  batchStatus: Batch - Open
                  timeStamp: '2017-07-11T11:10:38.11'
                  deviceGuid: 8f65764d-72c1-4dee-ac9f-4cd4c98e8c35
                  saleGuid: ded98ad3-0553-4607-b84c-1bbd85f474d5
                  status: Transaction - Approved
                  amount: 19.74
                  batchGuid: 450463e0-5050-4c33-8c2f-4e39a2dd8614
                  processorStatusCode: A0014
                  wasProcessed: true
                  authCode: VTLMC1
                  refNumber: '13283670'
                  invoiceNumber: '11518'
                  customerReceipt: 'SUR TECHNOLOGY HOLDINGS

                    8320 S HARDY DRIVE

                    TEMPE AZ 85284

                    07/11/2017 07:10:42


                    CREDIT - VOID


                    CARD # : **** **** **** 0213

                    CARD TYPE :MASTERCARD

                    Entry Mode : MANUAL


                    REF # : 13283670

                    Invoice number : 11518


                    Void Amount:                    $19.74

                    --------------------------------------




                    John Doe


                    CUSTOMER ACKNOWLEDGES RECEIPT OF

                    GOODS AND/OR SERVICES IN THE AMOUNT

                    OF THE TOTAL SHOWN HEREON AND AGREES

                    TO PERFORM THE OBLIGATIONS SET FORTH

                    BY THE CUSTOMER`S AGREEMENT WITH THE

                    ISSUER

                    APPROVED





                    Customer Copy

                    '
                  sequenceNumber: Sample-seq-1
                  sale:
                    guid: ded98ad3-0553-4607-b84c-1bbd85f474d5
                    status: Transaction - Approved
                    batchStatus: Batch - Closed
                    timeStamp: '2017-07-11T11:09:53.5'
                    deviceGuid: 8f65764d-72c1-4dee-ac9f-4cd4c98e8c35
                    amount: 19.74
                    effectiveAmount: 0
                    orderNumber: '11518'
                    orderDate: '2017-02-03T00:00:00'
                    batchGuid: 1564cb1b-eddb-4747-9565-61a7d7d225f9
                    processorStatusCode: A0000
                    processorResponseMessage: Success
                    wasProcessed: true
                    authCode: VTLMC1
                    refNumber: '13283670'
                    invoiceNumber: '11518'
                    customerReceipt: 'SUR TECHNOLOGY HOLDINGS

                      8320 S HARDY DRIVE

                      TEMPE AZ 85284

                      07/11/2017 07:09:56


                      CREDIT - SALE


                      CARD # : **** **** **** 0213

                      CARD TYPE :MASTERCARD

                      Entry Mode : MANUAL


                      REF # : 13283670

                      Invoice number : 11518

                      AUTH CODE : VTLMC1

                      Subtotal:                       $19.74

                      --------------------------------------

                      Total:                          $19.74

                      --------------------------------------




                      John Doe


                      CUSTOMER ACKNOWLEDGES RECEIPT OF

                      GOODS AND/OR SERVICES IN THE AMOUNT

                      OF THE TOTAL SHOWN HEREON AND AGREES

                      TO PERFORM THE OBLIGATIONS SET FORTH

                      BY THE CUSTOMER`S AGREEMENT WITH THE

                      ISSUER

                      APPROVED





                      Customer Copy

                      '
                    customData: order details
                    card:
                      first4: '5306'
                      last4: '0213'
                      cardNumber: 1zcGT7J4pkGh0213
                      cardHolderName: John Doe
                      expirationDate: 2019-07
                      customer:
                        guid: d1cf828d-3050-4e4c-b7cf-f4038d114d39
                        firstName: John
                        lastName: Doe
                        phone: '9177563007'
                        city: New York
                        country: US
                        email: johnd@gmail.com
                        zip: '10007'
                        address1: 107 7th Av.
                        address2: ''
                        state: NY
                        dateOfBirth: '1987-07-07T00:00:00'
                        driverLicenseNumber: '12345678'
                        driverLicenseState: TX
                        ssN4: '1210'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Return Response Example:
                  value: "{\n    \"guid\": \"4f31b350-edd1-49fd-a1ad-4b065f78d7b9\",\n    \"batchStatus\": \"Batch - Open\",\n    \"timeStamp\": \"2017-07-11T11:10:38.11\",\n    \"deviceGuid\": \"8f65764d-72c1-4dee-ac9f-4cd4c98e8c35\",\n    \"saleGuid\": \"ded98ad3-0553-4607-b84c-1bbd85f474d5\",\n    \"status\": \"Transaction - Approved\",\n    \"amount\": 19.74,\n    \"batchGuid\": \"450463e0-5050-4c33-8c2f-4e39a2dd8614\",\n    \"processorStatusCode\": \"A0014\",\n    \"wasProcessed\": true,\n    \"authCode\": \"VTLMC1\",\n    \"refNumber\": \"13283670\",\n    \"invoiceNumber\": \"11518\",\n    \"customerReceipt\": \"SUR TECHNOLOGY HOLDINGS\\\\n8320 S HARDY DRIVE\\\\nTEMPE AZ 85284\\\\n07/11/2017 07:10:42\\\\n\\\\nCREDIT - VOID\\\\n\\\\nCARD # : **** **** **** 0213\\\\nCARD TYPE :MASTERCARD\\\\nEntry Mode : MANUAL\\\\n\\\\nREF # : 13283670\\\\nInvoice number : 11518\\\\n\\\\nVoid Amount:                    $19.74\\\\n--------------------------------------\\\\n\\\\n\\\\n\\\\nJohn Doe\\\\n\\\\nCUSTOMER ACKNOWLEDGES RECEIPT OF\\\\nGOODS AND/OR SERVICES IN THE AMOUNT\\\\nOF THE TOTAL SHOWN HEREON AND AGREES\\\\nTO PERFORM THE OBLIGATIONS SET FORTH\\\\nBY THE CUSTOMER’S AGREEMENT WITH THE\\\\nISSUER\\\\nAPPROVED\\\\n\\\\n\\\\n\\\\n\\\\nCustomer Copy\\\\n\",\n    \"sequenceNumber\": \"Sample-seq-1\",\n    \"sale\": {\n        \"guid\": \"ded98ad3-0553-4607-b84c-1bbd85f474d5\",\n        \"status\": \"Transaction - Approved\",\n        \"batchStatus\": \"Batch - Closed\",\n        \"timeStamp\": \"2017-07-11T11:09:53.5\",\n        \"deviceGuid\": \"8f65764d-72c1-4dee-ac9f-4cd4c98e8c35\",\n        \"amount\": 19.74,\n        \"effectiveAmount\": 0,\n        \"orderNumber\": \"11518\",\n        \"orderDate\": \"2017-02-03T00:00:00\",\n        \"batchGuid\": \"1564cb1b-eddb-4747-9565-61a7d7d225f9\",\n        \"processorStatusCode\": \"A0000\",\n        \"processorResponseMessage\": \"Success\",\n        \"wasProcessed\": true,\n        \"authCode\": \"VTLMC1\",\n        \"refNumber\": \"13283670\",\n        \"invoiceNumber\": \"11518\",\n        \"customerReceipt\": \"SUR TECHNOLOGY HOLDINGS\\\\n8320 S HARDY DRIVE\\\\nTEMPE AZ 85284\\\\n07/11/2017 07:09:56\\\\n\\\\nCREDIT - SALE\\\\n\\\\nCARD # : **** **** **** 0213\\\\nCARD TYPE :MASTERCARD\\\\nEntry Mode : MANUAL\\\\n\\\\nREF # : 13283670\\\\nInvoice number : 11518\\\\nAUTH CODE : VTLMC1\\\\nSubtotal:                       $19.74\\\\n--------------------------------------\\\\nTotal:                          $19.74\\\\n--------------------------------------\\\\n\\\\n\\\\n\\\\nJohn Doe\\\\n\\\\nCUSTOMER ACKNOWLEDGES RECEIPT OF\\\\nGOODS AND/OR SERVICES IN THE AMOUNT\\\\nOF THE TOTAL SHOWN HEREON AND AGREES\\\\nTO PERFORM THE OBLIGATIONS SET FORTH\\\\nBY THE CUSTOMER’S AGREEMENT WITH THE\\\\nISSUER\\\\nAPPROVED\\\\n\\\\n\\\\n\\\\n\\\\nCustomer Copy\\\\n\",\n        \"customData\": \"order details\",\n        \"card\": {\n            \"first4\": \"5306\",\n            \"last4\": \"0213\",\n            \"cardNumber\": \"1zcGT7J4pkGh0213\",\n            \"cardHolderName\": \"John Doe\",\n            \"expirationDate\": \"2019-07\",\n            \"customer\": {\n                \"guid\": \"d1cf828d-3050-4e4c-b7cf-f4038d114d39\",\n                \"firstName\": \"John\",\n                \"lastName\": \"Doe\",\n                \"phone\": \"9177563007\",\n                \"city\": \"New York\",\n                \"country\": \"US\",\n                \"email\": \"johnd@gmail.com\",\n                \"zip\": \"10007\",\n                \"address1\": \"107 7th Av.\",\n                \"address2\": \"\",\n                \"state\": \"NY\",\n                \"dateOfBirth\": \"1987-07-07T00:00:00\",\n                \"driverLicenseNumber\": \"12345678\",\n                \"driverLicenseState\": \"TX\",\n                \"ssN4\": \"1210\"\n            }\n        }\n    }\n}"
              schema:
                type: object
                properties:
                  guid:
                    type: string
                    example: 4f31b350-edd1-49fd-a1ad-4b065f78d7b9
                  batchStatus:
                    type: string
                    example: Batch - Open
                  timeStamp:
                    type: string
                    example: '2017-07-11T11:10:38.11'
                  deviceGuid:
                    type: string
                    example: 8f65764d-72c1-4dee-ac9f-4cd4c98e8c35
                  saleGuid:
                    type: string
                    example: ded98ad3-0553-4607-b84c-1bbd85f474d5
                  status:
                    type: string
                    example: Transaction - Approved
                  amount:
                    type: number
                    example: 19.74
                    default: 0
                  batchGuid:
                    type: string
                    example: 450463e0-5050-4c33-8c2f-4e39a2dd8614
                  processorStatusCode:
                    type: string
                    example: A0014
                  wasProcessed:
                    type: boolean
                    example: true
                    default: true
                  authCode:
                    type: string
                    example: VTLMC1
                  refNumber:
                    type: string
                    example: '13283670'
                  invoiceNumber:
                    type: string
                    example: '11518'
                  customerReceipt:
                    type: string
                    example: 'SUR TECHNOLOGY HOLDINGS\n8320 S HARDY DRIVE\nTEMPE AZ 85284\n07/11/2017 07:10:42\n\nCREDIT - VOID\n\nCARD # : **** **** **** 0213\nCARD TYPE :MASTERCARD\nEntry Mode : MANUAL\n\nREF # : 13283670\nInvoice number : 11518\n\nVoid Amount:                    $19.74\n--------------------------------------\n\n\n\nJohn Doe\n\nCUSTOMER ACKNOWLEDGES RECEIPT OF\nGOODS AND/OR SERVICES IN THE AMOUNT\nOF THE TOTAL SHOWN HEREON AND AGREES\nTO PERFORM THE OBLIGATIONS SET FORTH\nBY THE CUSTOMER’S AGREEMENT WITH THE\nISSUER\nAPPROVED\n\n\n\n\nCustomer Copy\n'
                  sequenceNumber:
                    type: string
                    example: Sample-seq-1
                  sale:
                    type: object
                    properties:
                      guid:
                        type: string
                        example: ded98ad3-0553-4607-b84c-1bbd85f474d5
                      status:
                        type: string
                        example: Transaction - Approved
                      batchStatus:
                        type: string
                        example: Batch - Closed
                      timeStamp:
                        type: string
                        example: '2017-07-11T11:09:53.5'
                      deviceGuid:
                        type: string
                        example: 8f65764d-72c1-4dee-ac9f-4cd4c98e8c35
                      amount:
                        type: number
                        example: 19.74
                        default: 0
                      effectiveAmount:
                        type: integer
                        example: 0
                        default: 0
                      orderNumber:
                        type: string
                        example: '11518'
                      orderDate:
                        type: string
                        example: '2017-02-03T00:00:00'
                      batchGuid:
                        type: string
                        example: 1564cb1b-eddb-4747-9565-61a7d7d225f9
                      processorStatusCode:
                        type: string
                        example: A0000
                      processorResponseMessage:
                        type: string
                        example: Success
                      wasProcessed:
                        type: boolean
                        example: true
                        default: true
                      authCode:
                        type: string
                        example: VTLMC1
                      refNumber:
                        type: string
                        example: '13283670'
                      invoiceNumber:
                        type: string
                        example: '11518'
                      customerReceipt:
                        type: string
                        example: 'SUR TECHNOLOGY HOLDINGS\n8320 S HARDY DRIVE\nTEMPE AZ 85284\n07/11/2017 07:09:56\n\nCREDIT - SALE\n\nCARD # : **** **** **** 0213\nCARD TYPE :MASTERCARD\nEntry Mode : MANUAL\n\nREF # : 13283670\nInvoice number : 11518\nAUTH CODE : VTLMC1\nSubtotal:                       $19.74\n--------------------------------------\nTotal:                          $19.74\n--------------------------------------\n\n\n\nJohn Doe\n\nCUSTOMER ACKNOWLEDGES RECEIPT OF\nGOODS AND/OR SERVICES IN THE AMOUNT\nOF THE TOTAL SHOWN HEREON AND AGREES\nTO PERFORM THE OBLIGATIONS SET FORTH\nBY THE CUSTOMER’S AGREEMENT WITH THE\nISSUER\nAPPROVED\n\n\n\n\nCustomer Copy\n'
                      customData:
                        type: string
                        example: order details
                      card:
                        type: object
                        properties:
                          first4:
                            type: string
                            example: '5306'
                          last4:
                            type: string
                            example: '0213'
                          cardNumber:
                            type: string
                            example: 1zcGT7J4pkGh0213
                          cardHolderName:
                            type: string
                            example: John Doe
                          expirationDate:
                            type: string
                            example: 2019-07
                          customer:
                            type: object
                            properties:
                              guid:
                                type: string
                                example: d1cf828d-3050-4e4c-b7cf-f4038d114d39
                              firstName:
                                type: string
                                example: John
                              lastName:
                                type: string
                                example: Doe
                              phone:
                                type: string
                                example: '9177563007'
                              city:
                                type: string
                                example: New York
                              country:
                                type: string
                                example: US
                              email:
                                type: string
                                example: johnd@gmail.com
                              zip:
                                type: string
                                example: '10007'
                              address1:
                                type: string
                                example: 107 7th Av.
                              address2:
                                type: string
                                example: ''
                              state:
                                type: string
                                example: NY
                              dateOfBirth:
                                type: string
                                example: '1987-07-07T00:00:00'
                              driverLicenseNumber:
                                type: string
                                example: '12345678'
                              driverLicenseState:
                                type: string
                                example: TX
                              ssN4:
                                type: string
                                example: '1210'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /api/v1/cancel:
    post:
      summary: Cancel
      description: The Cancel route should be used in the event the entire trip/booking (sale & purchase) require cancellation. In this case, the traveler/cardholder would be due a refund from the sale and the Virtual Card would be terminated to prevent the travel supplier from authorizing the Virtual Card.
      operationId: cancel
      parameters:
      - name: Content-Type
        in: header
        description: Content-Type Header
        schema:
          type: string
          default: '"application/json"'
      - name: Authorization
        in: header
        description: 'Token. Eg: "Bearer eHSN5rTBzqDozgAAlN1UlTMVuIT1zSiAZWCo6E..."'
        schema:
          type: string
          default: Bearer Token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - DeviceGuid
              - SaleGuid
              properties:
                DeviceGuid:
                  type: string
                  description: Device's Guid provided by ConnexPay
                SaleGuid:
                  type: string
                  description: Sale transaction Guid
                SequenceNumber:
                  type: string
                  description: 'Transaction sequence number within client environment. Provide a unique SequenceNumber for each new request. If the same value is sent within 30 minutes it will be considered a duplicate request. Note: value is not searchable or reportable in ConnexPay portal.  The maximum length is 100 alpha-numeric characters.'
                VoidReason:
                  type: string
                  description: Indicates the reason the transaction was voided
            examples:
              Cancel Request Example:
                value:
                  DeviceGuid: 4b5013f7-b275-4929-8e83-0167c6edf639
                  SaleGuid: c5ac2017-99cb-4b1f-a90e-142cc82b21e5
                  SequenceNumber: Sample-seq-1
                  VoidReason: DEVICE_TIMEOUT
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Cancel Response Example:
                  value: "{\n    \"guid\": \"7a4ef786-8288-404d-9340-e837d06784af\",\n    \"batchStatus\": \"Batch - Open\",\n    \"timeStamp\": \"2017-07-11T11:05:46.31\",\n    \"deviceGuid\": \"8f65764d-72c1-4dee-ac9f-4cd4c98e8c35\",\n    \"saleGuid\": \"bfff1a26-4207-4871-9597-48282e3fcfea\",\n    \"status\": \"Transaction - Approved\",\n    \"voidReason\": \"DEVICE_TIMEOUT\",\n    \"processorStatusCode\": \"A0000\",\n    \"wasProcessed\": true,\n    \"batchGuid\": \"1564cb1b-eddb-4747-9565-61a7d7d225f9\",\n    \"authCode\": \"VTLMC1\",\n    \"refNumber\": \"13283644\",\n    \"invoiceNumber\": \"11518\",\n    \"customerReceipt\": \"CONNEXPAY\\\\n8320 S HARDY DRIVE\\\\nTEMPE AZ 85284\\\\n07/11/2017 07:05:50\\\\n\\\\nCREDIT - VOID\\\\n\\\\nCARD # : **** **** **** 0213\\\\nCARD TYPE :MASTERCARD\\\\nEntry Mode : MANUAL\\\\n\\\\nREF # : 13283644\\\\nInvoice number : 11518\\\\n\\\\nCancel Amount:                    $19.74\\\\n--------------------------------------\\\\n\\\\n\\\\n\\\\nJohn Doe\\\\n\\\\nCUSTOMER ACKNOWLEDGES RECEIPT OF\\\\nGOODS AND/OR SERVICES IN THE AMOUNT\\\\nOF THE TOTAL SHOWN HEREON AND AGREES\\\\nTO PERFORM THE OBLIGATIONS SET FORTH\\\\nBY THE CUSTOMER`S AGREEMENT WITH THE\\\\nISSUER\\\\nAPPROVED\\\\n\\\\n\\\\n\\\\n\\\\nCustomer Copy\\\\n\",\n    \"sequenceNumber\": \"Sample-seq-1\",\n    \"sale\": {\n        \"guid\": \"bfff1a26-4207-4871-9597-48282e3fcfea\",\n        \"status\": \"Transaction - Approved\",\n        \"batchStatus\": \"Batch - Open\",\n        \"timeStamp\": \"2017-07-11T11:05:24.65\",\n        \"deviceGuid\": \"8f65764d-72c1-4dee-ac9f-4cd4c98e8c35\",\n        \"amount\": 19.74,\n        \"effectiveAmount\": 0,\n        \"orderNumber\": \"11518\",\n        \"orderDate\": \"2017-02-03T00:00:00\",\n        \"batchGuid\": \"1564cb1b-eddb-4747-9565-61a7d7d225f9\",\n        \"processorStatusCode\": \"A0000\",\n        \"processorResponseMessage\": \"Success\",\n        \"wasProcessed\": true,\n        \"authCode\": \"VTLMC1\",\n        \"refNumber\": \"13283644\",\n        \"customerReceipt\": \"CONNEXPAY\\\\n8320 S HARDY DRIVE\\\\nTEMPE AZ 85284\\\\n07/11/2017 07:05:27\\\\n\\\\nCREDIT - SALE\\\\n\\\\nCARD # : **** **** **** 0213\\\\nCARD TYPE :MASTERCARD\\\\nEntry Mode : MANUAL\\\\n\\\\nREF # : 13283644\\\\nInvoice number : 11518\\\\nAUTH CODE : VTLMC1\\\\nSubtotal:                       $19.74\\\\n--------------------------------------\\\\nTotal:                          $19.74\\\\n--------------------------------------\\\\n\\\\n\\\\n\\\\nJohn Doe\\\\n\\\\nCUSTOMER ACKNOWLEDGES RECEIPT OF\\\\nGOODS AND/OR SERVICES IN THE AMOUNT\\\\nOF THE TOTAL SHOWN HEREON AND AGREES\\\\nTO PERFORM THE OBLIGATIONS SET FORTH\\\\nBY THE CUSTOMER`S AGREEMENT WITH THE\\\\nISSUER\\\\nAPPROVED\\\\n\\\\n\\\\n\\\\n\\\\nCustomer Copy\\\\n\",\n        \"generatedBy\": \"ultralux\",\n        \"card\": {\n            \"first4\": \"5306\",\n            \"last4\": \"0213\",\n            \"cardNumber\": \"1zcGT7J4pkGh0213\",\n            \"cardHolderName\": \"John Doe\",\n            \"expirationDate\": \"2019-07\",\n            \"customer\": {\n                \"guid\": \"d1cf828d-3050-4e4c-b7cf-f4038d114d39\",\n                \"firstName\": \"John\",\n                \"lastName\": \"Doe\",\n                \"phone\": \"9177563007\",\n                \"city\": \"New York\",\n                \"country\": \"US\",\n                \"email\": \"johnd@gmail.com\",        \n            }\n        }\n        \"addressVerificationCode\": \"N\",\n        \"addressVerificationResult\": \"No match. Acquirer sent postal/ZIP code only, or street address only, or both postal/ZIP and street address.\"\n        \"cvvVerificationCode\": \"M\",\n        \"cvvVerificationResult\": \"CVV2 Match. Indicates that the Funds Transfer API or the issuer was able to verify the CVV2 value provided by the merchant.\"\n    }\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /api/v1/authonlys:
    post:
      summary: Auth Only
      description: The Auth Only Endpoint is applicable to acquiring clients.  Call Auth Only when you want to process an Authorization only, which will not settle until it's Captured.  We do not allow you to Capture an Authorization after 5 business days have passed.Calling this endpoint will authorize the card, however, it will not be settled until the [Capture endpoint](https://docs.connexpay.com/reference/capture) is called. Authorizations expire after 5 days.
      operationId: auth-only
      parameters:
      - name: Content-Type
        in: header
        description: Content-Type Header
        schema:
          type: string
          default: '"application/json"'
      - name: Authorization
        in: header
        description: 'Token. Eg: "Bearer eHSN5rTBzqDozgAAlN1UlTMVuIT1zSiAZWCo6E..."'
        schema:
          type: string
          default: Bearer Token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - DeviceGuid
              - Amount
              - RiskData
              properties:
                DeviceGuid:
                  type: string
                  description: Device's Guid provided by ConnexPay.
                Amount:
                  type: number
                  description: 'Amount of the transaction that will be processed. Note: this value is submitted multiple times (in different formats) within the integration to support different purposes i.e. risk analysis, merchant processing, etc.  The minimum amount is: $0.50.'
                  format: float
                SequenceNumber:
                  type: string
                  description: 'Transaction sequence number within client environment. Provide a unique SequenceNumber for each new request. If the same value is sent within 30 minutes it will be considered a duplicate request. Note: value is not searchable or reportable in ConnexPay portal.  The maximum length is 100 alpha-numeric characters.'
                OrderNumber:
                  type: string
                  description: 'A value that is commonly used for reporting on and reconciling your PayIns and PayOuts.  The Order Number is searchable in the ConnexPay Bridge and referenced in Analytics and reporting, and can be any identifier within your environment to associate with the sale or payment, such as a Record Locator, PNR, or transaction ID.  The maximum length is 50 alpha-numeric characters and allows the following special characters: [._ /- ].'
                SendReceipt:
                  type: boolean
                  description: Value determines whether or not a customer shall be emailed a receipt from the ConnexPay platform if the email address is provided in the API customer block. The default value is TRUE. Set to FALSE so that an email receipt is not sent to the customer. Set to TRUE or leave empty if you want e-mail to be sent. If TRUE, customer's email must be included in the "Card.Customer.email" parameter.
                StatementDescription:
                  type: string
                  description: 'US, CA, and EU clients only: The statement description allows you to customize the merchant name that appears on the cardholder''s statement for the transaction. We recommend including your DBA name along with identifying details such as a travel PNR (e.g., "ABC Travel ABC123") to help cardholders recognize the charge. Maximum length is 25 alpha-numeric characters for US clients; for CA clients, 18 alpha-numeric characters is the maximum and ConnexPay will automatically prefix the result with "CXP*"; for EU clients, 22 alpha-numeric characters is the maximum however up to 13 numeric characters may be added for phone number after the DBA name if an asterisk is used in-between the values. No spaces are allowed and the only allowed special characters are  [.-*]. This functionality is not available for American Express programs.'
                CustomerID:
                  type: string
                  description: 'Transaction ID within client environment associated with the customer. This value acts as a secondary identifier in conjunction with OrderNumber. The value is searchable and reportable in the ConnexPay portal. This value may be sent in multiple times within the integration for multiple purposes. The maximum length is 100 characters and is alpha-numeric and the following special characters: [._/-].'
                RiskData:
                  type: object
                  description: Mandatory if TenderType is Credit or not set. This will be ignored if TenderType is Cash or ACH.
                  properties:
                    SessionId:
                      type: string
                      description: If you are using Equifax's Device Data Collector, this would be the SessionId from that particular session. Do not include this property if not using the Device Data Collector.
                    Name:
                      type: string
                      description: 'This is the name of the individual making the purchase i.e. cardholder who may or may not also be the customer. This value is submitted in multiple integration points for different purposes. This value/object is specific to fraud mitigation. Note: for airline ticket purchases this value may or may not be the same as the passenger. Max = 64 characters.'
                    Gender:
                      type: string
                      description: Cardholder gender. "M" or "F".
                    DateOfBirth:
                      type: string
                      description: Cardholder date of birth
                    BillingPhoneNumber:
                      type: string
                      description: Phone number associated with cardholder making purchase. This could be used for risk analysis, decisioning, and rule creation. Max = 15 characters. Numbers and plus sign (+) allowed.
                    BillingAddress1:
                      type: string
                      description: Cardholder billing address 1. This could be used for risk analysis, decisioning, and rule creation.
                    BillingAddress2:
                      type: string
                      description: Cardholder billing address 2. This could be used for risk analysis, decisioning, and rule creation.
                    BillingCity:
                      type: string
                      description: Cardholder billing city. This could be used for risk analysis, decisioning, and rule creation.
                    BillingState:
                      type: string
                      description: Cardholder billing state. This could be used for risk analysis, decisioning, and rule creation.
                    BillingPostalCode:
                      type: string
                      description: Cardholder billing postal code. This could be used for risk analysis, decisioning, and rule creation. Max = 15 characters. Alphanumerics and "-" allowed.
                    BillingCountryCode:
                      type: string
                      description: Cardholder billing country code. This could be used for risk analysis, decisioning, and rule creation. Max = 2 characters.
                    Email:
                      type: string
                      description: Cardholder's valid email address. This could be used for risk analysis, decisioning, and rule creation.
                    ProductType:
                      type: string
                      description: Generalized description of the item added passed as plain text. This could be flight, tour, hotel, etc.. Each transaction submitted for risk analysis and decisioning must be submitted with one shopping cart item.
                    ProductDescription:
                      type: string
                      description: Attribute for a specific description of the item being purchased i.e. airline ticket. This information is general shopping cart information that describes the type of item being purchased. ConnexPay suggests clients submitted a high level description such as Flight, Hotel, Car Rental, etc... and leverage custom parameters to submit more detailed information that can be used for rule creation and transaction decisioning.
                    ProductItem:
                      type: string
                      description: Typically the SKU for an item passed as plain text. This information is general shopping cart information to provide secondary detail to the ProductDesc above. ConnexPay suggests clients submit a high level description such as One Way, Round Trip, Seven Nights, etc...and several customer parameters to submit more detailed information that can be used for rule creation and transaction decisioning. Alphanumeric.
                    ProductQuantity:
                      type: integer
                      description: Quantity of the item being purchased in the shopping cart. This is just a general quantity field.
                      format: int32
                    ProductPrice:
                      type: integer
                      description: 'Price per unit item, displayed in lowest currency factor - expressed in cents. Example: 42400 (which is $424.00).'
                      format: int32
                    OrderNumber:
                      type: string
                      description: Transaction ID within client environment associated with the order. The value is searchable and reportable in the Kount 360 portal. This value may be sent in multiple instances of the integration for multiple purposes. Customers in the travel space often send the Record Locator/PNR in this field.  Max = 32 characters. Alpha-numeric characters and dashes ( - ) allowed.
                    SellerId:
                      type: string
                      description: Transaction ID within client environment associated with the customer. This value acts as a secondary identifier in conjunction with OrderNumber. The value is searchable and reportable in the Kount 360 portal. This value may be sent in multiple times within the integration for multiple purposes.  Max = 32 characters.
                    FlightData:
                      type: object
                      description: Flight Data
                      properties:
                        Airline:
                          type: string
                          description: Name of airline; likely carrier code
                          default: AA
                        DepartureAirport:
                          type: string
                          description: Departure airport code
                          default: NY
                        DepartureDate:
                          type: string
                          description: 'Departure date of flight. Format: mm/dd/yyyy'
                          default: 06/20/1993
                        DestinationAirport:
                          type: string
                          description: Destination airport code
                          default: CA
                        HoursToDeparture:
                          type: string
                          description: Time in hours to flight departure
                          default: '5'
                        JourneyType:
                          type: string
                          description: Type of journey i.e. Day/Night journey
                          default: Day
                        Route:
                          type: string
                          description: The route type i.e. Direct/Indirect
                          default: Direct
                        RouteByCountry:
                          type: string
                          description: Complete flight route by country
                          default: NY, CA
                    FlightPassengers:
                      type: array
                      items:
                        properties:
                          Country:
                            type: string
                            description: Country of origin of passenger
                            default: USA
                          DateOfBirth:
                            type: string
                            description: DOB of first passenger
                            default: '2020-06-20'
                            format: date
                          Id:
                            type: string
                            description: Passport, drivers license or id# associated with passenger
                            default: JXY123
                          Name:
                            type: string
                            description: Passenger information. Each passenger should be sent in it's own object.
                            default: John Doe
                        type: object
                    CustomParameters:
                      type: object
                      description: Custom Parameters. Array.
                      properties: {}
                Card:
                  type: object
                  description: Mandatory if TenderType is Credit or not set. Card Data. This will be ignored if TenderType is Cash and should be set to NULL or not supplied when TenderType is ACH
                  properties:
                    CardNumber:
                      type: string
                      description: 'Mandatory if Guid field is not provided. Card number.  Must be 16 characters. (example: 4532538795426624) or token (example: FfL7exC7Xe2y6624)'
                    CardHolderName:
                      type: string
                      description: Cardholder's name. Providing information in this field allows a user of the ConnexPay portal to search for a transaction using the cardholder name
                    Cvv2:
                      type: string
                      description: The three or four digit CVV code at the back side of the credit and debit card. This value is required for all card-not-present processing environments
                    ExpirationDate:
                      type: string
                      description: Optional with Token. Card's expiry date in the YYMM format
                      format: date
                    Guid:
                      type: string
                      description: Guid is the unique identifier for a card info generated by Connexpay upon previous Sale creation. Create Sale API will accept either card info or Guid, but not both
                    IsRecurring:
                      type: boolean
                      description: 'Flagging a transaction as "IsRecurring": true allows a recurring sale to be submitted without a valid CVV code, which is only intended for scenarios where you might be storing card data to perform repeated payments on the same card, such as a monthly subscriptions. Typically IsRecurring can be defaulted to False.'
                      default: false
                    Customer:
                      type: object
                      description: Customer data
                      properties:
                        FirstName:
                          type: string
                          description: Mandatory for ACH Sales.  Min Length = 2 Max Length = 30
                        LastName:
                          type: string
                          description: Mandatory for ACH Sales. Min Length = 2 Max Length = 30
                        Phone:
                          type: string
                          description: Customer's phone number. Phone number up to 15 characters. Numbers and plus sign (+) allowed only.   3D Secure Authentication requires a valid customer email address or phone number is included.
                        City:
                          type: string
                          description: Customer's City
                        State:
                          type: string
                          description: Customer's short name state.  The ISO 3166-2 CA and US state or province code of a customer. Length = 2.
                        Country:
                          type: string
                          description: Customer's country. The ISO country code of a customer’s country.  Length = 2
                        Email:
                          type: string
                          description: Customer's valid email address which is available in various reports. It is critical that SendReceipt is set to FALSE so that ConnexPay does not send a receipt to the cardholder when the transaction is processed.  3D Secure Authentication requires a valid customer email address or phone number is included.
                        Address1:
                          type: string
                          description: 'Customer billing address 1. It is strongly recommended to send this value in a card-not-present environment such that enhanced Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction. Note: only the street number value portion of address is used for enhanced AVS check'
                        Address2:
                          type: string
                          description: Customer billing address 2. It is strongly recommended to send this value in a card-not-present environment such that Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction
                        Zip:
                          type: string
                          description: Customer billing postal code. It is strongly recommended to send this value in a card-not-present environment such that basic Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction.  Only the a standard U.S. 5 digit zip code is eligible for basic AVS check. Min Length = 2 Max Length = 15. Alphanumerics and "-" allowed.
                        DateOfBirth:
                          type: string
                          description: 'Customer''s date of birth. Allowed format: YYYY-MM-DD. For example: 2002-05-30'
                          format: date
                        DriversLicenseNumber:
                          type: integer
                          description: Customer's driver license number.  Only letters, numbers and a hyphen is allowed
                          format: int32
                        DriversLicenseState:
                          type: string
                          description: Mandatory when DriverLicenseNumber is provided. Customer's driver license short name state. The ISO 3166-2 CA and US state or province code of a customer.  Length = 2
                        SSN4:
                          type: integer
                          description: Last 4 of Customer's Social Security Number
                          format: int32
                    ThreeDS:
                      type: object
                      description: 'ThreeDS object is required when 3DS authentication parameters are being passed in the Sale or Auth.  For US clients: the parameters are identified using the 3DS Authentication endpoint.  For EU clients: the parameters are identified when a cardholder challenge and/or fingerprint authentication is required after calling the Create Sale or Auth Only endpoint with the BrowserData object details.'
                      properties:
                        SecureCode:
                          type: string
                        Cavv:
                          type: string
                          description: Cardholder authentication verification value
                        Version:
                          type: string
                          description: Version of 3DS being used
                        DirectoryServerTransactionID:
                          type: string
                          description: Unique identifier provided by the card scheme as part of 3D Secure authentication.
                        AcsTransactionId:
                          type: string
                          description: Unique Identifier provided by the Access Control Server of the Card Issuer.
                        ECI:
                          type: string
                          description: Displays the Electronic Commerce Indicator (ECI). The ECI indicates the security level of the payment information provided to the merchant. A value of 0, 1 or 2 is a Mastercard transaction. A value of 5, 6 or 7 is a Visa, American Express, Diners or Discover card.
                BankAccount:
                  type: object
                  description: Mandatory if TenderType is ACH. Bank Account. This will be ignored if TenderType is Cash or Credit
                  required:
                  - AccountType
                  - RoutingNumber
                  - AccountNumber
                  - NameOnAccount
                  properties:
                    AccountType:
                      type: string
                      description: 'Accepted account types are: Saving or Checking'
                    RoutingNumber:
                      type: string
                      description: 9 Digit routing number
                    AccountNumber:
                      type: string
                      description: Account number up to 20 characters
                    NameOnAccount:
                      type: string
                      description: Name on the account for ACH transfer (upto 50 characters)
                    AccountAndRoutingNumberToken:
                      type: string
                      description: Encrypted Token previously assigned to Bank Account. Either AccountAndRoutingNumberToken or both AccountNumber  and RoutingNumber  should be provided.
                    Customer:
                      type: object
                      properties:
                        FirstName:
                          type: string
                          description: Mandatory for ACH Sales.  Min Length = 2 Max Length = 30
                        LastName:
                          type: string
                          description: Mandatory for ACH Sales. Min Length = 2 Max Length = 30
                        Phone:
                          type: string
                          description: Customer's phone number. Phone number up to 15 characters. Numbers and plus sign (+) allowed only.   3D Secure Authentication requires a valid customer email address or phone number is included.
                        City:
                          type: string
                          description: Customer's City
                        State:
                          type: string
                          description: Customer's short name state.  The ISO 3166-2 CA and US state or province code of a customer. Length = 2.
                        Country:
                          type: string
                          description: Customer's country. The ISO country code of a customer’s country.  Length = 2
                        Email:
                          type: string
                          description: Customer's valid email address which is available in various reports. It is critical that SendReceipt is set to FALSE so that ConnexPay does not send a receipt to the cardholder when the transaction is processed.  3D Secure Authentication requires a valid customer email address or phone number is included.
                        Address1:
                          type: string
                          description: 'Customer billing address 1. It is strongly recommended to send this value in a card-not-present environment such that enhanced Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction. Note: only the street number value portion of address is used for enhanced AVS check'
                        Address2:
                          type: string
                          description: Customer billing address 2. It is strongly recommended to send this value in a card-not-present environment such that Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction
                        Zip:
                          type: string
                          description: Customer billing postal code. It is strongly recommended to send this value in a card-not-present environment such that basic Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction.  Only the a standard U.S. 5 digit zip code is eligible for basic AVS check. Min Length = 2 Max Length = 15. Alphanumerics and "-" allowed.
                        DateOfBirth:
                          type: string
                          description: 'Customer''s date of birth. Allowed format: YYYY-MM-DD. For example: 2002-05-30'
                          format: date
                        DriversLicenseNumber:
                          type: integer
                          description: Customer's driver license number.  Only letters, numbers and a hyphen is allowed
                          format: int32
                        DriversLicenseState:
                          type: string
                          description: Mandatory when DriverLicenseNumber is provided. Customer's driver license short name state. The ISO 3166-2 CA and US state or province code of a customer.  Length = 2
                        SSN4:
                          type: integer
                          description: Last 4 of Customer's Social Security Number
                          format: int32
                Customer:
                  type: object
                  description: Customer Data. This will only be used if TenderType is not Credit
                  properties:
                    FirstName:
                      type: string
                      description: Mandatory for ACH Sales.  Min Length = 2 Max Length = 30
                    LastName:
                      type: string
                      description: Mandatory for ACH Sales. Min Length = 2 Max Length = 30
                    Phone:
                      type: string
                      description: Customer's phone number. Phone number up to 15 characters. Numbers and plus sign (+) allowed only.   3D Secure Authentication requires a valid customer email address or phone number is included.
                    City:
                      type: string
                      description: Customer's City
                    State:
                      type: string
                      description: Customer's short name state.  The ISO 3166-2 CA and US state or province code of a customer. Length = 2.
                    Country:
                      type: string
                      description: Customer's country. The ISO country code of a customer’s country.  Length = 2
                    Email:
                      type: string
                      description: Customer's valid email address which is available in various reports. It is critical that SendReceipt is set to FALSE so that ConnexPay does not send a receipt to the cardholder when the transaction is processed.  3D Secure Authentication requires a valid customer email address or phone number is included.
                    Address1:
                      type: string
                      description: 'Customer billing address 1. It is strongly recommended to send this value in a card-not-present environment such that enhanced Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction. Note: only the street number value portion of address is used for enhanced AVS check'
                    Address2:
                      type: string
                      description: Customer billing address 2. It is strongly recommended to send this value in a card-not-present environment such that Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction
                    Zip:
                      type: string
                      description: Customer billing postal code. It is strongly recommended to send this value in a card-not-present environment such that basic Address Validation (AVS) can be performed on transaction and the lowest possible interchange is received on transaction.  Only the a standard U.S. 5 digit zip code is eligible for basic AVS check. Min Length = 2 Max Length = 15. Alphanumerics and "-" allowed.
                    DateOfBirth:
                      type: string
                      description: 'Customer''s date of birth. Allowed format: YYYY-MM-DD. For example: 2002-05-30'
                      format: date
                    DriversLicenseNumber:
                      type: integer
                      description: Customer's driver license number.  Only letters, numbers and a hyphen is allowed
                      format: int32
                    DriversLicenseState:
                      type: string
                      description: Mandatory when DriverLicenseNumber is provided. Customer's driver license short name state. The ISO 3166-2 CA and US state or province code of a customer.  Length = 2
                    SSN4:
                      type: integer
                      description: Last 4 of Customer's Social Security Number
                      format: int32
                EnhancedData:
                  type: object
                  description: Enhanced Level 2 and Level 3 card data is a set of additional information for business, commercial, corporate, purchasing, and government cardholders.
                  properties:
                    SaleTax:
                      type: string
                      description: Sales Tax amount
                AssociationID:
                  type: string
                  description: 'Utilize the Association ID field to tie a virtual card to a sale or sales. For example, if you have several sales and one virtual card payment to a supplier, you can add association ID to the sales and the virtual card for downstream reporting. The maximum length is 100 characters and is alpha-numeric and the following special characters: [._/-].'
                BrowserData:
                  type: object
                  description: 3D secure parameters required to be submitted with Auth Only request to initiate 3D secure authentication via ConnexPay's interface.  A signed contract for 3D Secure is required in order to use this feature.
                  required:
                  - AcceptanceHeader
                  - ColorDepth
                  - JavaEnabled
                  - ScreenHeight
                  - ScreenWidth
                  - TimeZoneOffset
                  - Language
                  - RedirectURL
                  - UserAgentHeader
                  properties:
                    AcceptanceHeader:
                      type: string
                      description: Required.  Exact content of the http accept header.
                    ColorDepth:
                      type: integer
                      description: Required. Value representing the bit depth of the color palette for displaying images, in bits per pixel.
                      format: int32
                    JavaEnabled:
                      type: boolean
                      description: True or False response that represents ability of cardholder browser to execute Java
                    ScreenHeight:
                      type: integer
                      description: Total height of the Cardholder's screen in pixels
                      format: int32
                    ScreenWidth:
                      type: integer
                      description: Total width of the Cardholder's screen in pixels
                      format: int32
                    TimeZoneOffset:
                      type: integer
                      description: Time Zone difference between browser time zone and UTC time, in hours.  Can be positive or negative.
                      format: int32
                    Language:
                      type: string
                      description: Value representing the browser language as defined in IETF BCP47
                    RedirectURL:
                      type: string
                      description: The merchant URL to which the browser should be redirected after the challenge session.
                    UserAgentHeader:
                      type: string
                      description: Exact content of the HTTP user-agent header.
            examples:
              Auth Only Request:
                value:
                  DeviceGuid: '{{Device}}'
                  Amount: 280
                  SequenceNumber: '849741'
                  OrderNumber: '1598742342342432342342432432'
                  SendReceipt: true
                  StatementDescription: Agent Booking 123
                  CustomerID: xt147
                  RiskData:
                    Name: John Doe
                    Gender: M
                    DateOfBirth: '1993-03-18'
                    BillingPhoneNumber: '9177563046'
                    BillingAddress1: 151 E 33rd St
                    BillingAddress2: Second Floor
                    BillingCity: New York
                    BillingState: NY
                    BillingPostalCode: '10016'
                    BillingCountryCode: US
                    Email: someone@connexpay.com
                    ProductType: Flight
                    ProductDesc: Flight from London to New York
                    ProductItem: 784GTWJFK856
                    ProductQuantity: 4
                    ProductPrice: '42400'
                    OrderNumber: 857B2
                    SellerId: AG75597
                    FlightData:
                      Airline: American Airlines
                      DepartureAirport: Gatwick
                      DepartureDate: '2020-06-30'
                      DestinationAirport: JFK
                      HoursToDeparture: 5
                      JourneyType: Day
                      Route: Direct
                      RouteByCountry: UK, USA
                    FlightPassengers:
                    - Country: USA
                      DateOfBirth: '1990-12-07'
                      Id: '89456489'
                      Name: Adam Smith
                    - Country: ARG
                      DateOfBirth: '1995-05-05'
                      Id: '74566'
                      Name: John Lock
                    CustomParameters:
                    - Name: ClientSpecific1
                      Value: Traveling
                    - Name: ClientSpecific2
                      Value: wounderful
                  Card:
                    CardNumber: '5413330089604111'
                    CardHolderName: John Doe
                    Cvv2: '998'
                    ExpirationDate: '1912'
                    Customer:
                      FirstName: John
                      LastName: Doe
                      Phone: '9177563007'
                      City: New York
                      State: NY
                      Country: US
                      Email: johnd@gmail.com
                      Address1: 107 7th Av.
                      Address2: ''
                      Zip: '10007'
                      DateOfBirth: '1990-12-07'
                      DriverLicenseNumber: '12345678'
                      DriverLicenseState: TX
                      SSN4: '1210'
                  EnhancedData:
                    SaleTax: '5'
                    AdditionalTaxDetailTaxCategory: tex
                    AdditionalTaxDetailTaxType: regional
                    AdditionalTaxDetailTaxAmount: '3'
                    AdditionalTaxDetailTaxRate: '2.50'
                    PurchaseOrder: PURCHSEORDER1
                    OrderDate: 07/20/2018
                    ShippingCharges: '20'
                    DutyCharges: '17.59'
                    CustomerVATNumber: '75010101'
                    VATInvoice: '231465214'
                    SummaryCommodityCode: Aa94
                    ShipToZip: '50001'
                    ShipFromZip: '55100'
                    DestinationCountryCode: ARG
                    SupplierReferenceNumber: '123'
                    CustomerRefID: '123'
                    ChargeDescriptor: Sample Charge
                    AdditionalAmount: '2.50'
                    AdditionalAmountType: GIFT_SHOP
                    ProductName: Product 01
                    ProductCode: P1
                    Price: '5.00'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Auth Only Response:
                  value: "{\n    \"guid\": \"6d75f588-711e-4481-92ed-1d078b507832\",\n    \"status\": \"Transaction - Approved\",\n    \"batchStatus\": \"Batch - Open\",\n    \"timeStamp\": \"2020-07-09T23:45:58.12+06:00\",\n    \"amount\": 280.00,\n    \"effectiveAmount\": 280.00,\n    \"orderNumber\": \"1598742342342432342342432432\",\n    \"deviceGuid\": \"0b7a9536-9fcd-4074-a841-d47eef77b81b\",\n    \"cardDataSource\": \"INTERNET\",\n    \"customerID\": \"xt147\",\n    \"batchGuid\": \"89133895-142f-4c70-98c7-5194d91bb500\",\n    \"sendReceipt\": true,\n    \"allowCardEmv\": false,\n    \"processorStatusCode\": \"A0000\",\n    \"processorResponseMessage\": \"Success\",\n    \"wasProcessed\": true,\n    \"authCode\": \"VTLMC1\",\n    \"refNumber\": \"23159362\",\n    \"invoiceNumber\": \"15987423423424323423424\",\n    \"customerReceipt\": \"Agent Booking 123\\\\n8320 S HARDY DRIVE\\\\nTEMPE AZ 85284\\\\n07/09/2020 04:46:01\\\\n\\\\nCREDIT - AUTH ONLY\\\\n\\\\nCARD # : **** **** **** 4111\\\\nCARD TYPE :MASTERCARD\\\\nEntry Mode : MANUAL\\\\n\\\\nTRANSACTION ID : 23159362\\\\nInvoice number : 15987423423424323423424\\\\nAUTH CODE : VTLMC1\\\\n--------------------------------------\\\\nCode         Name\\\\nQty                Price\\\\n--------------------------------------\\\\nP1           Product 01\\\\n1                  $5.00\\\\n--------------------------------------\\\\nSubtotal:                      $234.41\\\\n--------------------------------------\\\\nTaxes\\\\n--------------------------------------\\\\n[1] Sales Tax                   $05.00\\\\n[2] regional Tax                $03.00\\\\n--------------------------------------\\\\nTotal Taxes:                    $08.00\\\\n--------------------------------------\\\\nFees\\\\n--------------------------------------\\\\nFee:                            $37.59\\\\n--------------------------------------\\\\nTotal Fees:                     $37.59\\\\n--------------------------------------\\\\nTotal:                         $280.00\\\\n--------------------------------------\\\\n\\\\n\\\\n\\\\nJohn Doe\\\\n\\\\nCUSTOMER ACKNOWLEDGES RECEIPT OF\\\\nGOODS AND/OR SERVICES IN THE AMOUNT\\\\nOF THE TOTAL SHOWN HEREON AND AGREES\\\\nTO PERFORM THE OBLIGATIONS SET FORTH\\\\nBY THE CUSTOMER`S AGREEMENT WITH THE\\\\nISSUER\\\\nAPPROVED\\\\n\\\\n\\\\n\\\\n\\\\nCustomer Copy\\\\n\",\n    \"statementDescription\": \"Agent Booking 123\",\n    \"enhancedData\": {\n        \"saleTax\": 5.00,\n        \"purchaseOrder\": \"PURCHSEORDER1\",\n        \"additionalTaxDetailTaxCategory\": \"tex\",\n        \"additionalTaxDetailTaxType\": \"regional\",\n        \"additionalTaxDetailTaxAmount\": 3.00,\n        \"additionalTaxDetailTaxRate\": 2.50,\n        \"shippingCharges\": 20.00,\n        \"dutyCharges\": 17.59,\n        \"shipToZip\": \"50001\",\n        \"shipFromZip\": \"55100\",\n        \"destinationCountryCode\": \"ARG\",\n        \"customerVATNumber\": \"75010101\",\n        \"summaryCommodityCode\": \"Aa94\",\n        \"vatInvoice\": \"231465214\",\n        \"orderDate\": \"07/20/2018\",\n        \"supplierReferenceNumber\": \"123\",\n        \"customerRefID\": \"123\",\n        \"chargeDescriptor\": \"Sample Charge\",\n        \"productName\": \"Product 01\",\n        \"productCode\": \"P1\",\n        \"price\": 5.00,\n        \"additionalAmount\": 2.50,\n        \"additionalAmountType\": \"GIFT_SHOP\"\n    },\n    \"card\": {\n        \"first6\": \"541333\",\n        \"first4\": \"5413\",\n        \"last4\": \"4111\",\n        \"cardHolderName\": \"John Doe\",\n        \"cardType\": \"Mastercard\",\n        \"expirationDate\": \"2019-12\",\n        \"customer\": {\n            \"guid\": \"5dd6ed47-3e5b-4123-bc0e-81b32663e8ee\",\n            \"firstName\": \"John\",\n            \"lastName\": \"Doe\",\n            \"dateOfBirth\": \"1990-12-07T00:00:00\",\n            \"address1\": \"107 7th Av.\",\n            \"address2\": \"\",\n            \"zip\": \"10007\",\n            \"city\": \"New York\",\n            \"state\": \"NY\",\n            \"country\": \"US\",\n            \"phone\": \"9177563007\",\n            \"email\": \"johnd@gmail.com\",\n            \"ssN4\": \"1210\",\n            \"driverLicenseNumber\": \"12345678\",\n            \"driverLicenseState\": \"TX\"\n        },\n        \"guid\": \"b34bec7f-6ef0-42d8-8811-1bea8d2260fe\"\n    },\n    \"addressVerificationCode\": \"N\",\n    \"addressVerificationResult\": \"No match. Acquirer sent postal/ZIP code only, or street address only, or both postal/ZIP and street address.\",\n    \"cvvVerificationCode\": \"M\",\n    \"cvvVerificationResult\": \"CVV2 Match. Indicates that the Funds Transfer API or the issuer was able to verify the CVV2 value provided by the merchant.\",\n    \"riskResponse\": {\n        \"transactionId\": \"DGJK0BBRH2NH\",\n        \"response\": \"Approved\",\n        \"reason\": \"\",\n        \"score\": \"34\"\n    },\n    \"type\": \"Default\"\n}"
                3DS Frictionless Response Example:
                  value: "{\n    \"guid\": \"2d78c80e-59c3-44ae-a770-c70dfa550768\",\n    \"status\": \"Transaction - Approved\",\n    \"type\": \"3D Secure\",\n    \"batchStatus\": \"Batch - Open\",\n    \"timeStamp\": \"2022-11-29T06:47:52.53-05:00\",\n    \"deviceGuid\": \"e639a1dc-5cc4-43de-ab74-d5bea6c6b107\",\n    \"amount\": 1.00,\n    \"activated\": true,\n    \"tenderType\": \"Credit\",\n    \"effectiveAmount\": 1.00,\n    \"riskResponse\": {\n        \"transactionId\": null,\n        \"response\": \"Fraud Check Skipped for Finaro Request.\",\n        \"reason\": null,\n        \"score\": null\n    },\n    \"orderNumber\": \"\",\n    \"cardDataSource\": \"INTERNET\",\n    \"customerID\": \"\",\n    \"batchGuid\": \"c4513dc8-1f49-47c2-b384-6b0897c3734e\",\n    \"connexPayTransaction\": {\n        \"guid\": \"76d224b7-1abc-4fdb-9d0a-9a4b44cebbca\",\n        \"expectedPayments\": 0,\n        \"incomingTransCode\": \"7C9A573638053372540845316\"\n    },\n    \"associationId\": \"\",\n    \"processorStatusCode\": \"0\",\n    \"processorResponseMessage\": \"Transaction has been executed successfully.\",\n    \"wasProcessed\": true,\n    \"authCode\": \"697949\",\n    \"refNumber\": \"XZZ01c19f5570e6bDAFUP3DOWVUR5FSB\",\n    \"customerReceipt\": \"Not Available\",\n    \"statementDescription\": \"\",\n    \"generatedBy\": \"jharmonfinaro\",\n    \"Card\": {\n        \"CardNumber\": \"4018810000100036\",\n        \"CardHolderName\": \"Jason Harmon\",\n        \"Cvv2\": \"999\",\n        \"ExpirationDate\": \"2312\",\n        \"Customer\": {\n            \"FirstName\": \"Jason\",\n            \"LastName\": \"Harmon\",\n            \"Email\": \"\",\n            \"Address1\": \"\",\n            \"Address2\": \"\",\n            \"State\": \"\",\n            \"City\": \"\",\n            \"Country\": \"\",\n            \"Zip\": \"\",\n            \"Phone\": \"\",\n            \"SSN4\": \"\"\n        }\n    },\n    \"addressVerificationResult\": \"Unavailable\",\n    \"cvvVerificationCode\": \"M\",\n    \"cvvVerificationResult\": \"CVV2 Match. Indicates that the Funds Transfer API or the issuer was able to verify the CVV2 value provided by the merchant.\",\n    \"cavvResponseCode\": \"2\",\n    \"walletProvider\": 0,\n    \"isFromIssueLite\": false,\n    \"labelIds\": [\n        987654638\n    ],\n    \"remainingAmount\": 1.00"
              schema:
                type: object
                properties:
                  guid:
                    type: string
                    example: 6d75f588-711e-4481-92ed-1d078b507832
                  status:
                    type: string
                    example: Transaction - Approved
                  batchStatus:
                    type: string
                    example: Batch - Open
                  timeStamp:
                    type: string
                    example: '2020-07-09T23:45:58.12+06:00'
                  amount:
                    type: integer
                    example: 280
                    default: 0
                  effectiveAmount:
                    type: integer
                    example: 280
                    default: 0
                  orderNumber:
                    type: string
                    example: '1598742342342432342342432432'
                  deviceGuid:
                    type: string
                    example: 0b7a9536-9fcd-4074-a841-d47eef77b81b
                  cardDataSource:
                    type: string
                    example: INTERNET
                  customerID:
                    type: string
                    example: xt147
                  batchGuid:
                    type: string
                    example: 89133895-142f-4c70-98c7-5194d91bb500
                  sendReceipt:
                    type: boolean
                    example: true
                    default: true
                  allowCardEmv:
                    type: boolean
                    example: false
                    default: true
                  processorStatusCode:
                    type: string
                    example: A0000
                  processorResponseMessage:
                    type: string
                    example: Success
                  wasProcessed:
                    type: boolean
                    example: true
                    default: true
                  authCode:
                    type: string
                    example: VTLMC1
                  refNumber:
                    type: string
                    example: '23159362'
                  invoiceNumber:
                    type: string
                    example: '15987423423424323423424'
                  customerReceipt:
                    type: string
                    example: 'Agent Booking 123\n8320 S HARDY DRIVE\nTEMPE AZ 85284\n07/09/2020 04:46:01\n\nCREDIT - AUTH ONLY\n\nCARD # : **** **** **** 4111\nCARD TYPE :MASTERCARD\nEntry Mode : MANUAL\n\nTRANSACTION ID : 23159362\nInvoice number : 15987423423424323423424\nAUTH CODE : VTLMC1\n--------------------------------------\nCode         Name\nQty                Price\n--------------------------------------\nP1           Product 01\n1                  $5.00\n--------------------------------------\nSubtotal:                      $234.41\n--------------------------------------\nTaxes\n--------------------------------------\n[1] Sales Tax                   $05.00\n[2] regional Tax                $03.00\n--------------------------------------\nTotal Taxes:                    $08.00\n--------------------------------------\nFees\n--------------------------------------\nFee:                            $37.59\n--------------------------------------\nTotal Fees:                     $37.59\n--------------------------------------\nTotal:                         $280.00\n--------------------------------------\n\n\n\nJohn Doe\n\nCUSTOMER ACKNOWLEDGES RECEIPT OF\nGOODS AND/OR SERVICES IN THE AMOUNT\nOF THE TOTAL SHOWN HEREON AND AGREES\nTO PERFORM THE OBLIGATIONS SET FORTH\nBY THE CUSTOMER`S AGREEMENT WITH THE\nISSUER\nAPPROVED\n\n\n\n\nCustomer Copy\n'
                  statementDescription:
                    type: string
                    example: Agent Booking 123
                  enhancedData:
                    type: object
                    properties:
                      saleTax:
                        type: integer
                        example: 5
                        default: 0
                      purchaseOrder:
                        type: string
                        example: PURCHSEORDER1
                      additionalTaxDetailTaxCategory:
                        type: string
                        example: tex
                      additionalTaxDetailTaxType:
                        type: string
                        example: regional
                      additionalTaxDetailTaxAmount:
                        type: integer
                        example: 3
                        default: 0
                      additionalTaxDetailTaxRate:
                        type: number
                        example: 2.5
                        default: 0
                      shippingCharges:
                        type: integer
                        example: 20
                        default: 0
                      dutyCharges:
                        type: number
                        example: 17.59
                        default: 0
                      shipToZip:
                        type: string
                        example: '50001'
                      shipFromZip:
                        type: string
                        example: '55100'
                      destinationCountryCode:
                        type: string
                        example: ARG
                      customerVATNumber:
                        type: string
                        example: '75010101'
                      summaryCommodityCode:
                        type: string
                        example: Aa94
                      vatInvoice:
                        type: string
                        example: '231465214'
                      orderDate:
                        type: string
                        example: 07/20/2018
                      supplierReferenceNumber:
                        type: string
                        example: '123'
                      customerRefID:
                        type: string
                        example: '123'
                      chargeDescriptor:
                        type: string
                        example: Sample Charge
                      productName:
                        type: string
                        example: Product 01
                      productCode:
                        type: string
                        example: P1
                      price:
                        type: integer
                        example: 5
                        default: 0
                      additionalAmount:
                        type: number
                        example: 2.5
                        default: 0
                      additionalAmountType:
                        type: string
                        example: GIFT_SHOP
                  card:
                    type: object
                    properties:
                      first6:
                        type: string
                        example: '541333'
                      first4:
                        type: string
                        example: '5413'
                      last4:
                        type: string
                        example: '4111'
                      cardHolderName:
                        type: string
                        example: John Doe
                      cardType:
                        type: string
                        example: Mastercard
                      expirationDate:
[...]
