openapi: 3.1.0
info:
  title: chargebacks-api-us-only
  version: '1.0'
servers:
- url: https://cmsapi.connexpay.com
components:
  securitySchemes:
    sec0:
      type: http
      scheme: basic
security:
- sec0: []
paths:
  /api/chargeback/GetByUser:
    get:
      summary: Sales Chargebacks
      description: ''
      operationId: sales-chargebacks-1
      parameters:
      - name: /GetByUser?startDate=2016-12-01
        in: path
        description: Return all chargebacks for the authenticated user with a start date
        schema:
          type: string
        required: true
      - name: /GetByUser?startDate=2016-12-01&endDate=2016-12-01
        in: path
        description: Return all chargebacks for the authenticated user with a start and end date
        schema:
          type: string
        required: true
      - name: /GetByResolvedDate?startDate=2019-09-20&endDate=2019-10-21
        in: path
        description: Return all chargebacks for the authenticated user with a start and end date based on resolved date
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n    {\n        \"ID\": 00001,\n        \"UUID\": \"abc123 \",\n        \"FileId\": 00001,\n        \"MerchantId\": 001,\n        \"Arn\": \"12312312312312312312312\",\n        \"CaseNumber\": \"0000000000001\",\n        \"Amount\": 298.00,\n        \"RecordType\": \" \",\n        \"CaseType\": \"25\",\n        \"ReasonCode\": \"4837\",\n        \"ReasonDescription\": \"No Cardholder Authorization                       \",\n        \"CardBrand\": 2,\n        \"TransactionCode\": \"05\",\n        \"ResolutionTo\": \"M\",\n        \"TransactionDate\": \"2020-12-08T00:00:00\",\n        \"LoadDate\": \"2021-02-12T00:00:00\",\n        \"PostDate\": \"2020-12-08T00:00:00\",\n        \"ResolvedDate\": \"2021-03-02T00:00:00\",\n        \"FamilyId\": 00000001,\n        \"HasImage\": false,\n        \"HasResponse\": false,\n        \"ImageFileUrl\": \"\",\n        \"Created\": \"2021-03-02T23:01:00\",\n        \"OrderNumber\": \"23447161\",\n        \"DueDate\": \"2021-02-24T00:00:00\",\n        \"IsSurrendered\": false,\n        \"IdSale\": 0000001,\n        \"IncomingTransactionCode\": \"1231231231231231231231231\",\n        \"SaleGuid\": \"1238aff0-18b3-46ce-b123-1ede8ff09123\",\n        \"SaleFirstFour\": \"1234\",\n        \"SaleLastFour\": \"1234\",\n        \"AuthCode\": \"12312Z\",\n        \"NetPosition\": -298.0000,\n        \"WinLoss\": \"Loss (Pending)\"\n    },\n    {\n        \"ID\": 00002,\n        \"UUID\": \"abc456 \",\n        \"FileId\": 00001,\n        \"MerchantId\": 115,\n        \"Arn\": \"45645645645645645645645\",\n        \"CaseNumber\": \"0000000000002\",\n        \"Amount\": 61.39,\n        \"RecordType\": \" \",\n        \"CaseType\": \"21\",\n        \"ReasonCode\": \"13.1\",\n        \"ReasonDescription\": \"Merchandise/Services Not Received                 \",\n        \"CardBrand\": 1,\n        \"TransactionCode\": \"05\",\n        \"ResolutionTo\": \"M\",\n        \"TransactionDate\": \"2021-02-04T00:00:00\",\n        \"LoadDate\": \"2021-02-16T00:00:00\",\n        \"PostDate\": \"2021-02-04T00:00:00\",\n        \"ResolvedDate\": \"2021-02-16T00:00:00\",\n        \"FamilyId\": 00000002,\n        \"HasImage\": false,\n        \"HasResponse\": false,\n        \"ImageFileUrl\": \"\",\n        \"Created\": \"2021-02-16T23:02:00\",\n        \"OrderNumber\": \"45121742\",\n        \"DueDate\": \"2021-02-28T00:00:00\",\n        \"IsSurrendered\": false,\n        \"IdSale\": 0000002,\n        \"IncomingTransactionCode\": \"456DF6263745611632034566\",\n        \"SaleGuid\": \"456f41ef-4564-456e-85dc-d1a0545684d8\",\n        \"SaleFirstFour\": \"4567\",\n        \"SaleLastFour\": \"4567\",\n        \"AuthCode\": \"45645A\",\n        \"NetPosition\": 0.0000,\n        \"WinLoss\": \"Win\"\n    }\n]"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
x-readme:
  headers:
  - key: Authorization
    value: Basic <JWT>
  explorer-enabled: false
  proxy-enabled: true
x-readme-fauxas: true
